{% extends "results/tsr.html" %}

{% block results %}
{{ block.super }}

<tr>
  <td>Match intercept</td>
  <td>{{ result.match_ss.linear_b }}</td>
</tr>

<tr>
  <td>Match slope</td>
  <td>{{ result.match_ss.slope_to_html|safe }}</td>
</tr>

<tr>
  <td>Non-match intercept</td>
  <td>{{ result.nonmatch_ss.linear_b }}</td>
</tr>

<tr>
  <td>Non-match slope</td>
  <td>{{ result.nonmatch_ss.slope_to_html|safe }}</td>
</tr>

{% endblock %}
