{% extends "results/multitrial.html" %}

{% block results %}
{{ block.super }}

<tr>
  <td>Left interval</td>
  <td>{{ result.left_ss.to_html|safe }}</td>
</tr>

<tr>
  <td>Right interval</td>
  <td>{{ result.right_ss.to_html|safe }}</td>
</tr>

{% endblock %}
