{% extends "results/tsr.html" %}

{% block results %}
{{ block.super }}

{% if not "estimated_level" in result.hide_fields %}
<tr>
  <td>Estimated {{result.level_name}}</td>
  <td>{{ result.level_ss.level_estimate}}</td>
</tr>
{% endif %}

{% endblock %}
