{% extends "results/base.html" %}

{% block results %}
{{ block.super }}
{% if not "trials" in result.hide_fields %}
<tr>
  <td>Trials</td>
  <td>{{ result.num_trials }}</td>
</tr>
{% endif %}

{% if not "trial_duration" in result.hide_fields %}
<tr>
  <td>Trial duration</td>
  <td>{{ result.trial_duration_ss.to_html|safe}}</td>
</tr>
{% endif %}

{% endblock %}
