{% extends "results/tsr.html" %}

{% block results %}
{{ block.super }}

<tr>
  <td>Overall reaction time</td>
  <td>{{ result.reaction_time_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>Context-switch reaction time</td>
  <td>{{ result.switch_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>No context-switch reaction time</td>
  <td>{{ result.nonswitch_ss.to_html|safe}}</td>
</tr>

{% endblock %}
