{% extends "results/tsr.html" %}

{% block results %}
{{ block.super }}

<tr>
  <td>Overall reaction time</td>
  <td>{{ result.reaction_time_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>Context-switch, concordant reaction time</td>
  <td>{{ result.switch_concordant_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>Context-switch, discordant reaction time</td>
  <td>{{ result.switch_discordant_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>No context-switch, concordant reaction time</td>
  <td>{{ result.nonswitch_concordant_ss.to_html|safe}}</td>
</tr>

<tr>
  <td>No context-switch, discordant reaction time</td>
  <td>{{ result.nonswitch_discordant_ss.to_html|safe}}</td>
</tr>

{% endblock %}
