{% extends "results/multitrial.html" %}

{% block results %}
{{ block.super }}

{% if not "ready" in result.hide_fields %}
<tr>
  <td>Ready</td>
  <td>{{ result.ready_ss.to_html|safe }}</td>
</tr>
{% endif %}

{% if not "correct" in result.hide_fields %}
<tr>
  <td>Correct</td>
  <td>{{ result.correct_ss.to_html|safe}}</td>
</tr>
{% endif %}

{% if not "reaction_time" in result.hide_fields %}
<tr>
  <td>Reaction time</td>
  <td>{{ result.reaction_time_ss.to_html|safe}}</td>
</tr>
{% endif %}
{% endblock %}
