.rectangle {
  border:1px solid black;
  width:100px;
  height:50px;
  padding:0px;
  margin:0px auto;
  align:center;
}
.rectangle_bold {
  border:2px solid black;
}
.stimulus_on {
  background: #93c47d;
}
