#stimulus { color: black; font-size: 4em; margin-top: 80px; }
#digit_span_input_form { margin-top: 30px; }
#user_sequence_input { font-size: 2em; height: 1.5em; width: 400px; }
#digit_span_input_form div { margin: 5px; }