.tap_indicator {
  margin: 30px auto;
  width: 600px;
  height: 60px;
  padding-top: 30px;
  border: 3px outset #efefef;
  background-color: #eeeeee;
  text-align: center;
  color: #808080;
  border-radius: 6px;
}

.tap_indicator.tapped {
  border-style: inset;
  background-color: #cccccc;
}