#sorting_rule { font-size: 2em; line-height: 1.5em; }

#prototype_stimuli .sorting_stimulus { display: inline-block; }

#stimulus { visibility: hidden; margin: 10px auto 3px auto; }
#stimulus.stimulus_on { visibility: visible; }

.pattern_container { position: relative; border: 1px dashed grey; border-radius: 5px; width: 150px; height: 150px; margin: 3px; 
 background-color:#cccccc;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cccccc, endColorstr=#cfefff);
 background-image:-moz-linear-gradient(top, #cccccc 0%, #cfefff 35%,#dddddd 80%);
 background-image:linear-gradient(top, #cccccc 0%, #cfefff 35%,#dddddd 80%);
 background-image:-webkit-linear-gradient(top, #cccccc 0%, #cfefff 35%,#dddddd 80%);
 background-image:-o-linear-gradient(top, #cccccc 0%, #cfefff 35%,#dddddd 80%);
 background-image:-ms-linear-gradient(top, #cccccc 0%, #cfefff 35%,#dddddd 80%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#cccccc), color-stop(35%,#cfefff),color-stop(80%,#dddddd))
}

.creature { position: absolute; }

#preload { display: none; }