/* Put common test styles here */

#start_button {
  margin-left: 8px;
}

.instructions, .test_content, .key_statistics, .statistics {
  border: 1px solid #efefef;
  padding: 20px;
}

.test_left { 
  font-size: 1.5em;
}

.test_content {
  min-height: 200px;
}

.test_content *, .key_statistics *, .feedback_message * {
  text-align: center;
}

.test_specific_instructions {
  width: 550px;
  float: left;
}

.test_specific_instructions .secondary_note {
  font-style: italic;
  font-size: 0.7em;
}

.instructions .clearfix {
  margin-bottom: 0px;
}

.test_content, .feedback_message, .key_statistics {
  opacity: 0.5;
  background-color: #dddddd;
}

.test_finished .test_content, .test_started .test_content, .test_started .feedback_message, .test_started .key_statistics {
  opacity: 1.0;
  background-color: white;
}

.key_statistics {
  visibility: hidden;
}

.test_started .key_statistics {
  visibility: visible;
}