{% autoescape off %}
{% spaceless %}
<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{% block description %}Measure your cognitive performance.{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}cognitive test, brain{% endblock %}"/>
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Hello{% endblock %} | Quantified Mind</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/styles/bootstrap.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet" type="text/css">
    <link href="/static/styles/main.css" rel="stylesheet">
    <meta name="viewport" content="width=1000" />

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->

    {% block style_block %}<!-- Page-level CSS block -->{% endblock %}

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> keeps timing out, going local for now-->
    <script src="/static/js/jquery/jquery-1.7.min.js"></script>
    
    <!--Haven't set up this closure compiler yet: <script type="text/javascript" charset="utf-8" src="{{ script_cdn }}/static/scripts/base.head.closure.js?{{ version_id }}"></script>-->

    {% block head_script %}<!-- Defer-incapable JavaScript block -->{% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33316256-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="//use.typekit.net/rwr4fel.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

    <!--[if lt IE 7 ]><body class="ie6"><![endif]-->
  <!--[if IE 7 ]><body class="ie7"><![endif]-->
  <!--[if IE 8 ]><body class="ie8"><![endif]-->
  <!--[if IE 9 ]><body class="ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->

<body>

<!-- Navbar -->
<div class="navbar navbar-static-top">
  <div class="container">
    {% block header %}
    <a class="brand" href="/"><img alt="Quantified Mind logo" src="/static/images/qm-logo.png"></a>
    <div class="navbar-inner collapse topbar">
      <ul class="nav pull-right">
          {% if user %}
{% comment %}             <li {% ifequal active "tests" %}class="active"{% endifequal %}><a href="/lab">Tests</a></li> {% endcomment %}
          {% if user.has_results %}
          <li {% ifequal active "results" %}class="active"{% endifequal %}><a href="/results">Results</a></li>
          {% endif %}
          <li {% ifequal active "dataminding" %}class="active"{% endifequal %}><a href="/dataminding">Data Minding</a></li>
          <li {% ifequal active "settings" %}class="active"{% endifequal %}><a href="/settings">Settings</a></li>
          {% else %}
          <li {% ifequal active "about" %}class="active"{% endifequal %}><a href="/about">About</a></li>
          <li {% ifequal active "team" %}class="active"{% endifequal %}><a href="/team">Team</a></li>
          {% endif %}
        
          {% if user %}
          <!--<li {% ifequal active "settings" %}class = "active" {% endifequal %}><a href="/settings"><i>{{user.username}}</i></a></li>-->
          <li {% ifequal active "logout" %}class="active"{% endifequal %}><a href="/logout">Log out</a></li>
          {% else %}
          <li {% ifequal active "login" %}class="active"{% endifequal %}><a href="/login">Log in</a></li>
          <li {% ifequal active "signup" %}class="active"{% endifequal %}><a href="/signup">Sign up</a></li>
          {% endif %}
        </ul>
    </div>
    {% endblock %}

  </div>
</div>

    <div class="container" style="background-color:#FAFAFA">
      {% block content %}
      {% endblock %}
    </div>

<!--footer -->
<footer class="footer">
  <div class="span12" id="paddown">
    <div class="row"> 
      <a href="/"  style="float:left" class="span3" alt="Quantified Mind logo"><img src="/static/images/logobot.png" ></a>
      <div class="span8" id="paddown">
        <div class="row">
          <div class="span1 downsize">
            <ul class="footerlink">
              <li {% ifequal active "about" %}class = "active" {% endifequal %}><a href="/about">About</a></li>
              <li {% ifequal active "getting_started" %}class = "active" {% endifequal %}><a href="/getting_started">Tour</a></li>
              <li {% ifequal active "faq" %}class = "active" {% endifequal %}><a href="/faq">FAQ</a></li>
              <li {% ifequal active "science" %}class = "active" {% endifequal %}><a href="/science">Science</a></li>
            </ul>
          <div class="span2 downsize">
            <ul class="span2"    
              <li {% ifequal active "contact" %}class = "active" {% endifequal %}><a href="/contact">Contact</a></li>
              <li {% ifequal active "team" %}class = "active" {% endifequal %}><a href="/team">Team</a></li>
              <li {% ifequal active "blog" %}class = "active" {% endifequal %}><a href="http://blog.quantified-mind.com">Blog</a></li>
{% comment %} <li {% ifequal active "legal" %}class = "active" {% endifequal %}><a href="/legal">Legal</a></li>{% endcomment %}             
{% comment %} <li {% ifequal active "concerned" %}class = "active" {% endifequal %}><a href="/concerns">Concerned?</a></li>{% endcomment %}
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
</footer>


</body>

{% endspaceless %}
{% endautoescape %}
