{% extends "base.html" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
<h1>404 Not Found</h1>

<h4>Couldn't find the page:</h4>

<h3>{{url|safe}}</h3>

<h4>If it's a broken link, then please <a href="/contact">let us know</a>!</p>
{% endblock %}
