{% extends "base.html" %}

{% block title %}Privacy, demoralization and other concerns{% endblock %}

{% block content %}

<h1>Privacy, demoralization and other concerns</h1>

In the feedback we have obtained from users of Quantified Mind, two general worries about the site have come up again and again. We would like to take a moment to allay any fears that you might have.

<h2>Privacy</h2>

<h3>"I'm concerned that Quantified Mind is examining my data and making judgments about how smart I am! It's that much worse because they might share this data with my prospective employers, colleagues, or friends."</h3>

Quantified Mind is very sensitive to these worries, especially since our users are going out of their way to contribute to the improvement of cognitive testing and brain science. Fortunately, users have nothing to fear about their privacy. We never look at any individual person's data, as the purpose of Quantified Mind is to draw statistical conclusions from very large sets of results and to provide users with a tool to conduct their own experiments. When Quantified Mind examines data from its tests, it does so only by aggregating the data from many users. This data is thoroughly anonymized, and bears no identifying markings.

<h2>Demoralization</h2>

<h3>"I'm worried that when I use Quantified Mind, I will discover that I am not as smart as I thought! I really prefer the morale boost of thinking I'm smart, rather than taking the tests and finding out otherwise. After all, what am I going to do about it anyway?"</h3>

While these concerns are natural, we believe that people have a lot to gain by using Quantified Mind.  Our tests are designed to be challenging and to continually adapt to the skill level of the particular user, so having difficulty on them is to be expected.  But one of the reasons that Quantified Mind was created is that we believe it is likely that people can do things to improve their cognitive performance, in many cases dramatically! Quantified Mind is the best computer-based tool ever designed to help both individuals and teams of researchers to discover what interventions in the realms of nutrition, exercise, and cognitive training boost cognitive performance the most. But improvement at both an individual and societal level is much more difficult without an honest assessment of where people stand. So don't be afraid - just start testing and experimenting! We want to hear about what you come up with!

We should also add that even if we wanted to, in many cases it is meaningless to compare one person's results to another's, because the results can depend on factors that are unrelated to cognitive skill - like the responsiveness of a particular keyboard or delay on a monitor. This is why Quantified Mind emphasizes comparisons between a user's performance at different times on the same device, rather than comparisons between different users' performance on different devices.

<h2>Other concerns?</h2>

<p><a href="/contact">Let us know!</a></p>

{% endblock %}
