{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}

<h1>Frequently Asked Questions</h1>

<h3>It doesn't work!</h3>
<p>This is probably a browser issue. If you are not using Google Chrome, try again using Google Chrome.</p>

<h3>What do the scores mean?</h3>
<p>The scores summarize the multiple aspects of each tests into a single number, where higher is better. Unlike the previous scores used on Quantified Mind, the scores are no longer relative, but absolute, so you can get to know your own normal range and discover what makes your scores go much higher.</p>
{% comment %}<p>The scores are similar to IQ scores, but they are personalized to you: 100 is your own average performance, and a score above or below 100 reflects performance above or below your own past performance. One population standard deviation is 15 points. A score of 115 means that your performance was better than your own average performance by an entire population standard deviation, which is a huge difference. You should expect most scores to be very close to 100. The differences may look small, but they can be very significant! Just imagine that you found a hack that can boost your personal IQ to 160. This would be equivalent to turning an average person into Albert Einstein!</p>{% endcomment %}

<h3>How do you use my test data? Are you judging how smart I am?</h3>
<p>Quantified Mind only uses your data to examine the overall effects of substances on cognitive performance and to improve our current set of tests. The data we analyze is anonymized and aggregated across users, so we never look at any individual person's data. We take your privacy seriously and do not sell or distribute any of your personal information.</p>

<h3>What if I find out I'm not as smart as I thought?</h3>
<p>While this is a natural concern, there is a lot to gain by using Quantified Mind. Our tests are designed to be challenging and to continually adapt to your changing skill level, so not getting perfect scores is to be expected. One of the reasons that Quantified Mind was created is that we believe people can do things to improve their cognitive performance, in many cases dramatically! But first you need to know honestly where you stand. So don't be afraid - just start testing and experimenting, and <a href="mailto:lab@quantified-mind.com">let us know</a> what you come up with!</p>

<h3>Why can't I compare myself to other Quantified Mind users?</h3> 
<p>Even if we wanted to, in many cases it is meaningless to compare one person's results to another's, because the results can depend on factors that are unrelated to cognitive skill - like the responsiveness of a particular keyboard or delay on a monitor. This is why Quantified Mind emphasizes comparisons between your performance at different times on the same device, rather than comparisons between everyone's performance on different devices.</p>

<h3>Can I use the numpad keys?</h3>
<p>You can, for Choice Reaction Time.</p>

<h3>What is the difference between a test, trial, session, and battery?</h3>
<p><strong>Tests</strong> are tasks that measure specific aspects of your cognition. For example, "Simple Reaction Time" is a test that measures your reaction time.</p>
  <p>Many tests are composed of multiple <strong>trials</strong>. These are like individual problems on a 10-problem multiple choice test. For example, a single Simple Reaction Time test may be composed of 40 trials. In each trial, you wait for the stimulus to appear and respond to it as quickly as possible. In many tests, the different trials are similar, but not identical.</p>
  <p>Tests are not taken without any surrounding context. They are taken as part of a <strong>session</strong>. A session groups together the results of tests that were taken under approximately the same cognitive state. In one timed session, you take multiple tests.</p>
  <p>Every session is an instance of a <strong>battery</strong>. A battery describes the structure of a session: which tests will be part of it, in which order, how long they will be, and other structural constraints.</p>
</ul>

<h5>A simple example</h5>

<p>The "Meditation" battery contains 2 tests that take approximately 4 minutes all together. You can start a new session using the "Meditation" battery, and then do the 2 tests. You then end the session. You do this every day, before and after meditation or relaxation, for two weeks, generating a total of 28 sessions, and 28 times 2 test results. You can then compare your performance during those two weeks when you meditated or relaxed, to see if the practice of meditation has an effect on your cognition.</p>

</p>


<h3>I can cheat on test X by doing Y.</h3>
<p>Of course you can. In the extreme case you can just write down the digits in Digit Span on a piece of paper instead of memorizing them. Remember that this is not about comparing your numbers to those of other people. The whole point is to learn about the variation in your own skills! If you are cheating, you will not learn anything.</p>


<h3>What tools do you use to build and manage Quantified Mind?</h3>
<p>Quantified Mind uses Google tools to measure site usage. The data gathered are impersonal, useful for improving Quantified Mind, and harmless.<br />The Twitter Bootstrap CSS theme is licensed under the Apache 2.0 license.<br /></p>

{% endblock %}
