{% extends "base.html" %}

{% block title %}Legal{% endblock %}

{% block content %}
<h1>Legal</h1>

<p>We take your privacy seriously and do not sell or distribute any of your personal information. We do keep records of your learning progress, for your benefit and ours. We use these data to improve our tests, and in aggregate to do interesting science.</p>

<p>Quantified Mind uses Google tools to measure site usage. The data gathered are impersonal, useful for improving Quantified Mind, and harmless.</p>

<p>The Twitter Bootstrap CSS theme is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 license</a>.

{% endblock %}
