{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Us</h1>

<p>We love to hear feedback, whether it's a bug report, a feature suggestion, a how-to question, or a request to collaborate on a new study.</p>

<form method="post" action="/contact" class="form-stacked">
  <fieldset>
    <div class="clearfix">
      <label for="email_address">Your Email Address</label>
      <div class="input">
        <input class="xlarge" id="email_address" name="email_address" size="30" type="email" value="{{email_address}}" />
        <span class="help-block">
          So we know where to reply.
        </span>
      </div>
    </div><!-- /clearfix -->

    <div class="clearfix">
      <label for="email_message">Your Message</label>
      <div class="input">
        <textarea class="xxlarge" id="email_message" name="email_message" rows="10">{{email_message}}</textarea>
        <span class="help-block">
          Looking forward to hearing your ideas.
        </span>
      </div>
    </div><!-- /clearfix -->
  </fieldset>
  <button type="submit" class="btn-primary">Send Feedback</button>
</form>

{% endblock %}
