{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About Quantified Mind</h1>
 
<div class="row">
	<div class="span7">
		<p class="big">Calling all mind hackers!</p>

		<p>If you could measure how your mental performance varies day-to-day and year-to-year, what would you do? <strong>Try to make yourself smarter? Improve your focus and energy? Fight cognitive decline?</strong></p>

		<p>Quantified Mind is a tool that quickly, reliably, and comprehensively measures your basic cognitive abilities. We've adapted tests used by psychologists to a practical web application that you can use whenever, wherever, and as often as you want.</p>

		<div align="center"><img src="/static/images/sorting.png" alt="Quantified Mind screenshot"></div>

		<br />

		<p>We are scientifically quantifying the effects of interventions on our cognitive processes. If something will make you smarter, we want to know! Eating butter, taking creatine, meditating -- who knows what really works? To see whether something improves cognition, you need to <strong>try things and measure the results</strong>. With enough data, the effects are clear.</p>
	</div>

	<div class="span4 test-list">
		<h3>List of Tests</h3>
		<p>We combine scientifically validated tests into one super efficient cognitive test. Some of the things you will get to measure are:</p>
			<ol>
				<li>Working memory</li>
				<li>Reaction times</li>
				<li>Motor function</li>
				<li>Executive function</li>

			</ol>
				
				{% if not user %}
			<p>Sign up now to start learning about your mind:</p>
				<div class="offset1"><a class="btn btn-primary btn-large" href="/signup">Sign Up</a></div>
				{% endif %}

		<h3>List of Experiments</h3>
		<p>Here are a few experiments we are currently running. Join one of them or start your own:</p>
			<ol>
				<li><a href="/experiment/skipping_breakfast">Skipping breakfast</a></li>
				<li><a href="/experiment/time_of_day">Time of day effects</a></li>
				<li><a href="/experiment/meditation">Meditation</a></li>
				<li><a href="/experiment/sex">Sex</a></li>
				<li><a href="/experiment/coffee">Coffee</a></li>
				<li>Vitamin D</li>
				<li>Creatine</li>
				<li>Massage</li>
				<li>Weightlifting</li>
				<li>Fish oil</li>
				
			</ol>
		</div>
	</div>

		{% endblock %}
