{% extends "base.html" %}

{% block title %}Team{% endblock %}

{% block content %}

<h1>Quantified Mind Team</h1>

<div class="row">
	<div class="span7">
		<p class="big">Brought to you by cognition hackers who love data.</p>

		<h3>Yoni Donner</h3>
		<p><img src="/static/images/yoni.jpg" class="team-photo" alt="Yoni Donner">Yoni conceived, designed, and leads the Quantified Mind project. A meta-optimizer and proponent of radical life extension and better living through science, he refuses to lay idle while his brain ages and withers away. His background is in Bayesian statistics, probabilistic graphical models and machine learning, and he currently does AI research at Google.</p>
		<div class="clearfix"></div>

		<h3>Nick Winter</h3>
		<p><img src="/static/images/nick.jpg" class="team-photo" alt="Nick Winter">Nick Winter is a founder of <a href="http://www.skritter.com" target="_blank">Skritter</a>, a web service for learning Chinese and Japanese characters. He's running dozens of self-experiments at any given time, as he loves optimizing his productivity, fitness, sleep, and happiness. With Quantified Mind, he's looking forward to likely overdosing on krill and butter after discovering that they increase his cognitive function. Super Test Power: Verbal Learning.</p>
		<div class="clearfix"></div>

		<h3>Stephen Kosslyn</h3>
		<p><img src="/static/images/stephen.jpg" class="team-photo" alt="Stephen Kosslyn">Stephen M. Kosslyn is the Director of the Center for Advanced Study in the Behavioral Sciences and Professor of Psychology at Stanford University. He was formerly chair of the Department of Psychology, Dean of Social Science, and the John Lindsley Professor of Psychology in Memory of William James at Harvard University. He received a B.A. from UCLA and a Ph.D. from Stanford University, both in psychology. His original graduate training was in Cognitive Science, which focused on the intersection of cognitive psychology and Artificial Intelligence; faced with limitations in those approaches, he eventually turned to study the brain. Kosslyn's research has focused primarily on the nature of visual cognition, visual communication, and individual differences; he has authored or coauthored 12 books and over 300 papers on these topics. Kosslyn has received the American Psychological Association's Boyd R. McCandless Young Scientist Award, the National Academy of Sciences Initiatives in Research Award, the  Cattell Award, a Guggenheim Fellowship, the J-L. Signoret Prize (France), an honorary Doctorate from the University of Caen, an honorary Doctorate from the University of Paris Descartes, and election to Academia Rodinensis pro Remediatione (Switzerland), the Society of Experimental Psychologists, and the American Academy of Arts and Sciences.</p>
		<div class="clearfix"></div>

		<h3>Thanks to all our study participants!</h3>
		<p>Enthusiastic folks from Quantified Self, Stanford, Google, Dave Asprey's blog, Genomera, and Indiana University Bloomington have done experiments, taken fun tests, and contributed to understanding individual differences in cognition. Thanks and hugs!!</p>
		<div class="clearfix"></div>

		{% if not user %}
		<p class="big">Now that you know who we are, why not introduce yourself? <a href="/signup">Sign up</a> and let's get to know your brain!</p>
		{% endif %}

		</div>

		<div class="span4 test-list">
			<h3>Want to get involved?</h3>
			<p>Quantified Mind is a volunteer project, and we'd love extra help with development, web design, test design, and gathering participants for Quantified-Self-style studies.</p>

			<p>If you want to contribute, or want more information on the project, then let's hear it! Head over to the <a href="/contact">contact page</a> and let's talk.</p>

			<!-- <p>If you are a student looking for internship experience, take a look at our <a href="/careers">careers page</a> for current opportunities.</p> -->
		</div>

		<div class="span4 test-list">
			<h3>Self Experiments We're Doing</h3>
			<p>We love to self-experiment, and most of our experiments go great with cognitive testing. Here's a list of self experiments we're doing right now:</p>
			<ul>
				<li>Varying amounts of strength training</li>
				<li>Hours of cardio a day</li>
				<li>Eating one, two, or three meals a day</li>
				<li>Cutting out lactose</li>
				<li>Cutting out gluten</li>
				<li>Eating 4 tbsp of butter a day</li>
				<li>Fish/krill oil</li>
				<li>Whey protein</li>
				<li>Fermented foods like natto</li>
				<li>Vitamins (like D, E)</li>
				<li>Wearing orange glasses at night</li>
				<li>Using <a href="http://stereopsis.com/flux/">F.lux</a></li>
				<li>Sleeping with an eye mask</li>
				<li>Sleeping with earplugs</li>
				<li>Varying sleep temperature</li>
				<li>Waking up with a sun alarm</li>
				<li>Acetyl-L Carnitine</li>
				<li>Creatine</li>
				<li>Coffee</li>
				<li>Lunch size</li>
				<li>Piracetam</li>
				<li>Music</li>
			</ul>
		</div>

	</div>

	{% endblock %}
