{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style_block %}
{% if not user %}
<style>
body { background-color: #333; box-shadow: 0 0 0; }
footer { border: 0; }
.right-buttons { margin-top: 30px; float: right}
.promo-graph { float: right; opacity: 0.35; height: 65px; margin: 15px 30px -40px 0; }
.hero-unit { box-shadow: 1px 1px 2px rgba(0,0,0,.5); }
</style>
{% endif %}
{% endblock %}

{% block content %}

{% if user %}
<h1>Welcome, {{user.username}}!</h1>

<h2>Ready to start learning about your brain?</h2>
<br>

<p><a class="btn btn-large btn-primary btn-success" style="font-size: 150%" href="/lab"><strong>Take Tests</strong></a></p>

<!-- <h3>Are you here for a specific study?</h3> -->

<!-- <p><strong>Click on your study below to get started!</strong></p> -->

<!-- <h4><a href="/session/new/chocolate">Chocolate Study (Stanford) &raquo;</a></h4> -->
<!-- <h4><a href="/session/new/coffee">Coffee Study &raquo;</a></h4> -->

<Br>
<h2>Announcements</h2>

<br>

<div class="alert alert-success">

<h3>Data Minding coming soon!</h3>

<p>We are hard at work to bring you a new and improved Data Minding feature, allowing you to quickly do powerful analyses of your data and learn how to optimize your brain! Please bear with us while we work on this - we really want this feature to be awesome. In the meantime, we took down the old Data Minding since it was not up to par with our vision.</p>

<p>Let us know if there are any specific features you want to have when analyzing your data, and we'll be glad to consider including them. In the meantime, keep having fun using Quantified Mind to take tests.</p>
</div>

<!-- <h3>New interface</h3> -->

<!-- <p>If you used Quantified Mind before, you may have noticed the new interface. The main goal for the new interface is to make it easier for you, the user, to use the website, to run your own experiments and to participate in studies. If you are looking for your favorite batteries that you used before, don't worry, they are all still there! To access them, click on "New Experiment", then choose "Create Your Own", and then you will be able to choose any battery.</p> -->

<!-- <h3>Important Notes</h3> -->

<!-- <ul> -->
<!--   <li>Most batteries have a random element, so you will not get the same tests every time you take the battery. This helps us analyze the data later on. If you want no randomization, try the No Free Lunch battery, or the DIY battery which allows you to take any test you like as much as you like.</li> -->
<!--   <li>Dual 2-back is still not functional at the moment. It is not prioritized very high in our list, so let us know if you think it's more important than we think it is, and why.</li> -->
<!-- </ul> -->

<h3>We want your feedback!</h3>

<p>Please <a href="/contact">share with us</a> your experiences using the site. What kinds of experiments are you doing? Which tests do you like? How can we make it better? And most importantly, what have you learned so far? Quantified Mind is all about helping you study your brain while being engaging and fun. Tell us how to better achieve these objectives.</p>

{% if admin %}
	<p>Or, since you're an admin, I guess you could reset things to recreate the test batteries.</p>
	<p><a class="btn btn-large btn-danger" href="/admin/reset/all">Reset all</a></p>
	<p><a class="btn btn-large btn-danger" href="/admin/reset/word_lists">Reset word lists</a></p>
	<p><a class="btn btn-large btn-danger" href="/admin/reset/test_variants">Reset test variants</a></p>
	<p><a class="btn btn-large btn-danger" href="/admin/reset/batteries">Reset batteries</a></p>
	<p><a class="btn btn-large btn-danger" href="/admin/reset/experiments">Reset experiments</a></p>
	<p>Do you want to do other admin stuff? Use the admin menu.</p>
	<p><a class="btn btn-large btn-danger" href="/admin">Admin menu</a></p>
{% endif %}

{% else %}
<div class="jumbotron masthead">
  <div class="container">
    <div class="span10 offset2">
      <h1> WHAT MAKES YOU SMARTER?</h1>
      <p id="up"> Discover your peak mental performance routine. No more bad brain days!</p>
    </div>
    <div class="span10 offset2" style="padding-top:30px">
      <div class="span2 downsize">
        <img src="img/lab.png">
        </br> 
            <p>Design experiments</p>
      </div>
      <div class="span2 downsize" id="paddown"><img src="img/ruler.png">       
       </br> 
            <p>Measure results</p>
      </div>
      <div class="span2 downsize" id="paddown"><img src="img/brain.png">      
       </br> 
            <p>Improve yourself</p>
      </div>
      <div class="span3" id="btndown"><button class="btn btn-large btn-block btn-success" type="button">Try it now</button>
      </div>
    </div>
  </div>
</div>

<!-- Experiments -->
  <div class="container">
  <h2 id="cog"> JOIN AN EXPERIMENT </h2>
    <div class="span11 backgroundage">
      <div class="row">
        <div class="span4">
          <h4> The Time of Day Experiment</h4>
            <p style="text-align:center"> What sort of tasks do you perform best at different times of day? </p>
        </div>
        <a class="btn btn-success span1" id="btnfix" href="/">Find out now</a>
        <div class="span4">
          <h4> The Breakfast Experiment </h4>
            <p style="text-align:center"> How does eating affect your mind for the remainder of the day?</p>  
        </div> 
        <a class="btn btn-success span1" id="btnfix" href="/">Find out now</a>     
      </div>
      <div class="row paddown">
        <div class="span4">
          <h4> The Coffee Experiment</h4>
          <p style="text-align:center"> How does coffee affect your reaction time, problem solving, and more? </p>
        </div>
        <a class="btn btn-success span1" id="btnfix" href="/">Find out now</a> 
        <div class="span4">
          <h4> The Sex Experiment </h4>
          <p style="text-align:center"> Does sex increase or decrease your mental productivity?</p>
        </div>
        <a class="btn btn-success span1" id="btnfix" href="/">Find out now</a>
      </div>
      <div class="row paddown">
        <div class="span4">
          <h4> The Meditation Experiment</h4>
          <p style="text-align:center"> Does meditation improve or harm your cognitive abilities?
        </div>
        <a class="btn btn-success span1" id="btnfix" href="/">Find out now</a>
        <div class="span4">
          <h4> Create your own Experiment </h4>
          <p style="text-align:center"> Create your own experiment to test the efects of food, exercise, supplements, or anything else.</p>
        </div>
        <a class="btn btn-success span1" id="btnfix" href="/">Get Started</a>
      </div>
    </div>
</div>

<!-- Screen shot section with small detail -->
<div class="container">
  <hr class="soften">
  <h2 id="cog" style="margin-top:30px" > A COMPLETE COGNITIVE OPTIMIZATION PLATFORM </h2>

  <div class="row" id="screenshot">
    <div class="span2 offset1" id="paddown">
      <div class="downsize"><img src="img/search.png" id="paddown">
        </br><p>Learn about how your brain works</p>
      </div>
      <div class="downsize"><img src="img/watch.png"  id="paddown">
        </br><p>Take short, fun tests</p>
      </div>
    </div>

    <div class="span6"><img src="img/screenshot.png"></div>

  <div class="span2" id="paddown">
    <div class="downsize"> <img src="img/lab2.png" id="paddown">
        </br><p>Easily join an experiment</p>
    </div>
    <div class="downsize"><img src="img/grad.png" id="paddown">
        </br><p>Help make important discoveries</p>
    </div>
  </div>
  </div>


  <hr class="soften">

  <!--What we test -->
    <div class="span12">
      <h3 id="some"> WHAT WE TEST </h3> 
      <p>Our platform consists of over 20 carefully designed tests that cover many aspects of cognitive performance.</p>
      <div class="row">
        <div class="span2 offset2" style="padding-left:20px">
          <ul>
            <li> Reaction time</li>
            <li> Executive function</li>
          </ul>
        </div>
        <div class="span2">
          <ul>
            <li> Context switching</li>
            <li> Visual perception</li>
          </ul>
        </div>
        <div class="span2">
          <ul>
            <li> Executive function</li>
            <li> Short term memory</li>
          </ul>
        </div>
        <div class="span2">
          <ul>
            <li> Verbal Learning</li>
            <li><a href="/">See the full list...</a></li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</div>

<hr class="soften">

<!-- What is it for? Who is it for? Why use it? Row -->
<div class="container" id="paddown">
    <div class="row"> 
      <div class="span4">
        <h3>Who is it for?</h3>
          <p class="extra">Anyone interested in tracking and </br> improving their cognitive performance can use Quantified Mind. </p>
      </div>
      <div class="span4">
        <h3>What is it?</h3>
          <p class="extra">Quantified Mind is the first testing platform that is designed for repeated measures of cognitive performance.</p>
      </div>
      <div class="span4">
        <h3>Why use it?</h3>
          <p class="extra">Find out exactly what you can do to get the most out of your brain, and help us make discoveries about the human mind.</p>
      </div>
    </div>
</div>

<!--Second 'Try it now' bar with button -->
<div class="bottombar">
  <h4 id="tryitnow">Start quantifying your mind now. It's free:</h4>
  <div class="span4 offset5" id="paddown">
    <button class="btn btn-large btn-block btn-success" type="button">Try it now</button>
  </div>
</div>

{% endif %}

{% endblock %}
