{% extends "base.html" %}

{% block title %}Directions for Quantified Mind @ Stanford Studies{% endblock %}

{% block content %}

<h1>Directions for Quantified Mind @ Stanford Studies</h1>

<h3>Chocolate and Cognition</h3>

<ol>
    <li>Make sure you haven't eaten 30 minutes before your "Official Testing Time". If you did, wait 30 minutes and proceed to Step 2.</li>
    <li>At your "Official Testing Time", finish your bag of chocolate in one sitting. You may drink water, but please do not consume any other food/drinks with the chocolate.</li>
    <li>Wait 30 minutes.</li>
    <li>Take a Chocolate and Cognition session. You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<h3>Get Smarter w/Fish Oil</h3>

<p>If your next test requires you to consume fish oil:</p>
<ol>
    <li>Make sure you haven't eaten 30 minutes before your "Official Testing Time". If you did, wait 30 minutes and proceed to Step 2.</li>
    <li>At your "Official Testing Time", finish your bag of fish oil in one sitting. You may drink water, but please do not consume any other food/drinks with the fish oil.</li>
    <li>Wait 30 minutes.</li>
    <li>Take a Fish Oil and Cognition session. You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<p>If your next test <i>does not</i> require you to consume fish oil:</p>
<ol>
    <li>Take a Fish Oil and Cognition session at your "Official Testing Time". You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<h3>Get Smarter w/Vitamin D</h3>

<p>If your next test requires you to consume Vitamin D:</p>
<ol>
    <li>Make sure you haven't eaten 30 minutes before your "Official Testing Time". If you did, wait 30 minutes and proceed to Step 2.</li>
    <li>At your "Official Testing Time", finish your bag of Vitamin D in one sitting. You may drink water, but please do not consume any other food/drinks with the Vitamin D.</li>
    <li>Wait 30 minutes.</li>
    <li>Take a Vitamin D and Cognition session. You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<p>If your next test <i>does not</i> require you to consume Vitamin D:</p>
<ol>
    <li>Take a Vitamin D and Cognition session at your "Official Testing Time". You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<h3>Time of Day and Mental Performance</h3>

<p>Take "Circadian Rhythms" sessions multiple times each day. Aim for at least 3 per day.</p>

<p>The more times you test yourself, the better!</p>


<h3>Weight Lifting and Cognition</h3>

<p>If your next test requires you to weight lift:</p>
<ol>
    <li>Finish your regular weight lifting routine. This routine should be at least 30 minutes long.</li>
    <li>At your "Official Testing Time", finish your protein bar in one sitting. You may drink water, but please do not consume any other food/drinks with the protein bar.</li>
    <li>Wait 2 hours.</li>
    <li>Take a Weight Lifting and Cognition session. You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>

<p>If your next test <i>does not</i> require you to weight lift:</p>
<ol>
    <li>At your "Official Testing Time", finish your protein bar in one sitting. You may drink water, but please do not consume any other food/drinks with the protein bar.</li>
    <li>Wait 2 hours.</li>
    <li>Take a Weight Lifting and Cognition session. You will find the session on your Tests page. Do not exit the program until you have completed all the tests.</li>
</ol>


{% endblock %}
