{% extends "base.html" %}

{% block title %}Usage log{% endblock %}

{% block content %}

<h1>Quantified Quantified Mind</h1>

{% for sess in test_sessions %}
<p>User <strong>{{ sess.user.username }}</strong> started a <strong>{{ sess.battery_name }}</strong> session with user-agent <strong>{{ sess.user_agent }}</strong> at <strong>{{ sess.start_time }}</strong>. {% if sess.active %}This session is still in progress.{% else %}The session ended at <strong>{{ sess.end_time }}</strong> after <strong>{{ sess.total_test_time }}</strong> seconds spent in tests.{% endif %}</p>
{% endfor %}

{% endblock %}
