{% extends "base.html" %}

{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawCharts);
function drawCharts() {
{% if users_by_time %}
drawChartUsersTimes();
{% endif %}
{% if sessions_by_time %}
drawChartSessionsTimes();
drawChartSessionsDistribution(0);
drawChartSessionsDistribution(1);
{% endif %}
{% for experiment in users_by_experiment %}
drawChartSessionsByExperiment({{ experiment.id }});
{% endfor %}
}

{% if users_by_time %}
function drawChartUsersTimes() {
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Date');
	data.addColumn('number', 'Users');
	data.addRows([
{% for xy in users_by_time %}
[new Date({{xy.date.year}}, {{xy.date.month}}-1, {{xy.date.day}}, {{xy.date.hour}}, {{xy.date.minute}}, {{xy.date.second}}), {{ xy.n_users }}],
{% endfor %}
]);

		var options = {
			width: 800, height: 480,
			title: 'Number of users by date',
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div_users_times'));
		chart.draw(data, options);
	}
{% endif %}
{% if sessions_by_time %}
function drawChartSessionsTimes() {
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Date');
	data.addColumn('number', 'Sessions');
	data.addRows([
{% for xy in sessions_by_time %}
[new Date({{xy.date.year}}, {{xy.date.month}}-1, {{xy.date.day}}, {{xy.date.hour}}, {{xy.date.minute}}, {{xy.date.second}}), {{ xy.n_sessions }}],
{% endfor %}
]);

		var options = {
			width: 800, height: 480,
			title: 'Number of sessions by date',
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div_sessions_times'));
		chart.draw(data, options);
	}

function drawChartSessionsDistribution(chart_id) {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'Number of sessions');
	data.addColumn('number', 'Users');
        if (chart_id === 0) {
	  data.addRows([
{% for xy in sessions_dist %}
[ {{ xy.sessions }}, {{ xy.users }} ],
{% endfor %}
]);
}
        if (chart_id === 1) {
  	  data.addRows([
{% for xy in sessions_dist_inrange %}
[ {{ xy.sessions }}, {{ xy.users }} ],
{% endfor %}
]);
}
		var options = {
			width: 800, height: 480,
			title: 'Distribution of number of completed sessions',
                        vAxis: {logScale: true},
		};

                var element_id;
                if (chart_id === 0) {
                  element_id = 'chart_div_sessions_distribution';
                }
                if (chart_id === 1) {
                  element_id = 'chart_div_sessions_distribution_range';
                }
		var chart = new google.visualization.LineChart(document.getElementById(element_id));
		chart.draw(data, options);
	}
{% endif %}

{% if users_by_experiment %}
function drawChartSessionsByExperiment(experiment_id) {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'Sessions');
	data.addColumn('number', 'Users');
        var experiment_name = '';
{% for experiment in users_by_experiment %}
        if (experiment_id === {{ experiment.id }}) {
          experiment_name = '{{ experiment.experiment_name }}';
          data.addRows([
{% for xy in experiment.n_sessions %}
[ {{ xy.sessions }}, {{ xy.users }}],
{% endfor %}
]);
        }
{% endfor %}

		var options = {
			width: 800, height: 480,
			title: 'Distribution of number of completed sessions for experiment ' + experiment_name,
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div_experiment_sessions_' + experiment_id));
		chart.draw(data, options);
	}

{% endif %}
</script>
{% endblock %}

{% block title %}{% if users %}Quantified Mind: users{% endif %}{% if n_sessions %}Quantified Mind: sessions{% endif %}{% if users_by_experiment %}Quantified Mind: experiments{% endif %}{% endblock %}

{% block content %}

<h1>Quantified Mind: {% if users %}users{% endif %}{% if n_sessions %}sessions{% endif %}{% if users_by_experiment%}experiments{% endif %}</h1>

<h2>General</h2>

{% if n_users %}
<p>Total users: {{ n_users }}</p>
{% endif %}
{% if n_sessions %}
<p>Total sessions: {{ n_sessions }}</p>
{% endif %}

<div id="chart_div_users_times"></div>
<div id="chart_div_sessions_times"></div>
<div id="chart_div_sessions_distribution"></div>
<div id="chart_div_sessions_distribution_range"></div>

{% if users_by_experiment %}
<h2>Users by experiment</h2>

<table>
  <tr>
    <td>&nbsp;Experiment name&nbsp;</td>
    <td>&nbsp;Number of users&nbsp;</td>
  </tr>
  
{% for experiment in users_by_experiment %}
  <tr>
    <td>&nbsp;{{ experiment.experiment_name }}&nbsp;</td>
    <td>&nbsp;{{ experiment.n_users }}&nbsp;</td>
  </tr>
{% endfor %}
</table>
{% endif %}

<h2>Number of completed sessions by experiment</h2>

{% for experiment in users_by_experiment %}

<h3>{{ experiment.experiment_name }}</h3>

<div id="chart_div_experiment_sessions_{{ experiment.id }}"></div>

{% endfor %}

{% if users %}
<h2>Users - summary</h2>

<table>
  <tr>
    <td>&nbsp;Username&nbsp;</td>
    <td>&nbsp;Email&nbsp;</td>
    <td>&nbsp;Join date&nbsp;</td>
    <td>&nbsp;Age&nbsp;</td>
    <td>&nbsp;Gender&nbsp;</td>
    <td>&nbsp;Education&nbsp;</td>
    <td>&nbsp;Timezone&nbsp;</td>
  </tr>
  
{% for user in users %}
  <tr>
    <td>&nbsp;<a href="/admin/download_user_data/{{ user.username }}">{{ user.username }}</a>&nbsp;</td>
    <td>&nbsp;{{ user.email }}&nbsp;</td>
    <td>&nbsp;{{user.create_date}}&nbsp;</td>
    <td>&nbsp;{{user.age}}&nbsp;</td>
    <td>&nbsp;{{user.gender}}&nbsp;</td>
    <td>&nbsp;{{user.education}}&nbsp;</td>
    <td>&nbsp;{{user.timezone}}&nbsp;</td>
  </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
