{% extends "base.html" %}

{% block title %}Administrator: create aggregate results{% endblock %}

{% block content %}

{% if error %}
<h1>Error!</h1>
<p>{{ error }}</p>
{% else %}
{% if message %}
<p>{{ message }}</p>
{% else %}
<p>Create aggregate results for <strong>{{ username }}</strong>:</p>
{% for test in tests %}
<p><a href="/admin/create_aggregates/{{ username }}/{{ test.name }}/{{ test.variant }}"><strong>{{ test.name }}:</strong> {{ test.variant }}</a></p>
{% endfor %}
{% endif %}
{% endif %}

{% endblock %}
