{% extends "base.html" %}

{% block title %}Administrator: aggregate data{% endblock %}

{% block content %}

<h1>Data aggregation status</h1>

<p>Aggregation status: {{ status }}</p>
{% if entities_done %}
<p>Entities done: {{ entities_done }}</p>
{% endif %}
{% if detailed_status %}
<p>Details: {{ detailed_status }}</p>
{% endif %}

{% if status != "inactive" and status != "done" %}
<p><a href="/admin/aggregate_data/stop">Stop</a></p>
{% else %}
<p><a href="/admin/aggregate_data/start">Start</a></p>
<p><a href="/admin/aggregate_data/clean">Clean</a></p>
<p><a href="/admin/aggregate_data/download">Download</a></p>
<p><a href="/admin/download_aggregates/links">Download links</a></p>
{% endif %}

{% if log %}
<h1>Log</h1>
{% for log_message in log %}
<p>{{ log_message }}</p>
{% endfor %}
{% endif %}

{% endblock %}
