{% extends "base.html" %}

{% block title %}Administrator: download aggregate results{% endblock %}

{% block content %}

<h1>Download or update aggregates</h1>

<table>
  <tr>
    <td>Username</td>
    <td>Test</td>
    <td>Variant</td>
    <td></td>
    <td></td>
  </tr>
  {% for atr in atrs %}
  <tr>
    <td>{{ atr.username }}</td>
    <td>{{ atr.variant_name }}</td>
    <td>{{ atr.variant_variant }}</td>
    <td><a href="/admin/download_aggregates/{{ atr.key.id }}">Download</a></td>
    <td>{% if atr.update_in_progress %}Update in progess{% else %}<a href="/admin/update_aggregates/{{ atr.key.id }}">Update</a>{% endif %}</td>
  </tr>
  {% endfor %}
</table>

<h1>Create aggregates</h1>
<form method="post" action="/admin/create_aggregates">
  <p>Username: 
    <select name="username">
      <option value="all">All users</option>
      {% for user in all_users %}
      <option value="{{ user }}">{{ user }}</option>
      {% endfor %}
    </select>
  </p>
  <input type="submit" class="btn btn-primary btn-large" value="Create" />
</form>

{% endblock %}
