{% extends "base.html" %}

{% block title %}Administrator: view experiments{% endblock %}

{% block content %}

{% if experiment_name %}
<h1>Participation for experiment {{ experiment_name }}</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Username</th>
      <th>Participant code</th>
      <th>Finished sessions</th>
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    <tr>
      <td style="vertical-align: middle"><a href="/admin/detailed_statistics/{{ result.username }}">{{ result.username }}</a></td>
      <td style="vertical-align: middle">{{ result.code }}</td>
      <td style="vertical-align: middle">{{ result.finished_sessions }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Choose an experiment to view:</p>
<form action="/admin/view_experiment" method="post">
  <select name="experiment_name">
    {% for experiment in experiments %}
    <option value="{{ experiment.key.id }}">{{ experiment.name }}</option>
    {% endfor %}
  </select>
  <p>
    <input type="submit" class="btn btn-primary btn-large" value="View"/>
  </p>
</form>
{% endif %}

{% endblock %}
