{% extends "base.html" %}

{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawCharts);
function drawCharts() {
drawChartUsersTimes();
}

function drawChartUsersTimes() {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'Users');
	data.addColumn('number', 'Time');
	data.addRows([
{% for xy in users_times %}
[{{ xy.x }}, {{ xy.y }}],
{% endfor %}
]);

		var options = {
			width: 800, height: 480,
			title: 'Time spent in tests by number of users',
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div_users_times'));
		chart.draw(data, options);
	}
</script>
{% endblock %}

{% block title %}Usage log{% endblock %}

{% block content %}

<h1>Quantified Mind - Usage</h1>

<h2>General</h2>

<p>Total users: {{ n_users }}</p>
<p>Total time in tests: not available yet</p>

<div id="chart_div_users_times"></div>

<h2>Batteries - not available yet</h2>


<h2>Users - summary</h2>

<table>
  <tr>
    <td>&nbsp;Username&nbsp;</td>
    <td>&nbsp;Email&nbsp;</td>
    <td>&nbsp;Join date&nbsp;</td>
    <td>&nbsp;Age&nbsp;</td>
    <td>&nbsp;Gender&nbsp;</td>
    <td>&nbsp;Education&nbsp;</td>
    <td>&nbsp;Timezone&nbsp;</td>
    <td>&nbsp;Participant Codes&nbsp;</td>
  </tr>
  
{% for user in users %}
  <tr>
    <td>&nbsp;<a href="#user_{{ user.username }}">{{ user.username }}</a>&nbsp;</td>
    <td>&nbsp;{{ user.email }}&nbsp;</td>
    <td>&nbsp;{{user.create_date}}&nbsp;</td>
    <td>&nbsp;{{user.age}}&nbsp;</td>
    <td>&nbsp;{{user.gender}}&nbsp;</td>
    <td>&nbsp;{{user.education}}&nbsp;</td>
    <td>&nbsp;{{user.timezone}}&nbsp;</td>
    <td>&nbsp;{{user.participant_codes}}&nbsp;</td>
  </tr>
{% endfor %}
</table>


<h2>Users - detailed</h2>

{% for user in users %}
<a name="user_{{ user.username }}"></a>
<h3>{{ user.username }}</h3>
<h4>General</h4>
<p>Email: {{ user.email }}</p>

<h4>Settings</h4>
<p>Show statistics: {{ user.settings.show_statistics }}</p>
<p>Show feedback: {{ user.settings.show_feedback }}</p>

<h4>Mental variables</h4>
{% for mental_variable in user.mental_variables %}
<p>{{ mental_variable.variable }}: {{ mental_variable.states }}</p>
{% endfor %}

{% for mental_variable in user.mvs %}
<h5>{{ mental_variable.variable }}</h5>

<table>
  <tr>
    <td>State</td>
    <td>Count</td>
  </tr>
{% for state in mental_variable.states %}
  <tr>
    <td>{{ state.state }}</td>
    <td>{{ state.count }}</td>
  </tr>
{% endfor %}
</table>
{% endfor %}

<h4>Actions</h4>
<p><a href="/admin/detailed_statistics/{{user.username}}">See detailed statistics</a></p>
<p><a href="/admin/download_user/{{ user.username }}">Download data</a></p>

{% endfor %}

{% endblock %}