{% extends "base.html" %}

{% block title %}Administrator menu{% endblock %}

{% block content %}

<p><a href="/admin/log">View activity log</a></p>
<p><a href="/admin/view_users">View users</a></p>
<p><a href="/admin/view_users2/users">View users (newer)</a></p>
<p><a href="/admin/view_users2/sessions">View sessions over time</a></p>
<p><a href="/admin/view_users2/experiments">View number of users for each experiment</a></p>
<p><a href="/admin/test_durations">Test durations</a></p>
<p><a href="/admin/view_experiment">View experiment participation</a></p>
<p><a href="/admin/download_aggregates">Download aggregate results</a></p>

<p>Upload user data:
<form method="post" enctype="multipart/form-data" action="/admin/upload_user">
  <input type="file" name="file" />
  <input type="submit" value="Upload" />
</form>
</p>

<h2>Download study results</h2>

<p><a href="/admin/download_results/creatine">Creatine</a></p>

<h2>One time things</h2>
<p><a href="/admin/add_autoadd_experiments">Add experiments to all existing users</a></p>
<p><a href="/admin/create_experiments_for_old_users">Create experiments to all existing users</a></p>

{% endblock %}
