{% extends "base.html" %}

{% block title %}My Stats{% endblock %}

{% block content %}
<h1>My Stats</h1>

<div class="row content">
<p>{{ user.google_account.email }}</p>

<h2>Finger Tapping Results:</h2>
{% for r in user.fingertappingresult_set %}
  <p>{{ r.data }}</p>
{% endfor %}

</div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/class.js"></script>
<script src="/static/js/tests/base.js"></script>
{% endblock %}
