{% extends "base.html" %}

{% block title %}API and data access documentation{% endblock %}

{% block content %}

<h1>Access</h1>

{% if username %}
<p>Your username is: <strong>{{ username }}</strong></p>
{% endif %}
{% if apikey %}
<p>Your API key is: <strong>{{ apikey }}</strong></p>

<p>Your username and API key can be provided to queries instead of
  being logged in. Add them as URL
  parameters <strong>username</strong> and <strong>token</strong>.</p>

<h1>API queries</h1>

<p>The top-level query will return your experiments:</p>

<p>/query?username={{ username }}&token={{ apikey }}</p>

<p>Then you can query each experiment using its id:</p>

<p>/query/<strong>[experiment id]</strong>?username={{ username }}&token={{ apikey }}</p>

<p>You will get a list of all the sessions for that experiment. You
  can query each session:</p>

<p>/query/<strong>[experiment id]</strong>/<strong>[session
    id]</strong>?username={{ username }}&token={{ apikey }}</p>

<p>For each session, you will get a list of tests. You can query each test:</p>

<p>/query/<strong>[experiment id]</strong>/<strong>[session
  id]</strong>/<strong>[test id]</strong>?username={{ username }}&token={{ apikey }}</p>

<p>The results for each test will contain both the score and the full
  raw results. Their format is a list of all the events that happened
  in the test. The events have the format:</p>

<p><strong>event</strong> =
  [<strong>context</strong>, <strong>value</strong>]
<br />
<strong>context</strong> =
[<strong>test</strong>, <strong>category</strong>, <strong>type</strong>, <strong>context</strong>, <strong>covariates</strong>]
<br />
<strong>test</strong> = [<strong>test_name</strong>, <strong>test_group</strong>]
<br />
<strong>category</strong> = ready | correct | reaction time | <i>other</i>
<br />
<strong>type</strong> = 0 | 1 (0 for boolean, 1 for numeric)
<br />
<strong>context</strong> and <strong>covariates</strong> depend on the test
</p>

<h1>Interactive access</h1>

<p>You can also <a href="/explore">explore</a> your data using a very
  basic basic UI.</p>

{% else %}
<p>You do not have API access. To request
  access, <a href="/contact">contact me</a>.</p>
{% endif %}
{% endblock %}
