{% extends "reaction_time.html" %}

{% block test_globals %}
{{block.super}}
window.maxResponseTime = {{ test.max_response_time }};
{% endblock %}

{% block instructions %}
Wait until one of the two lines grows, and then press ← if the left line was longer, → if the right was longer.<br/>
<span class="secondary_note">Pay attention--the change will be subtle.</span>
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus"></div>

<div id="inspection_time_stimulus_1">
  <img src="/static/images/tests/inspection_time/it1.png">
</div>
<div id="inspection_time_stimulus_2">
  <img src="/static/images/tests/inspection_time/it2.png">
</div>
<div id="inspection_time_stimulus_both">
  <img src="/static/images/tests/inspection_time/itboth.png">
</div>

{% endblock %}

{% block statistics %}
{{block.super}}
<div id="missed_statistic">Missed: <span id="missed_statistic"></span></div>
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/attention.js"></script>
{% endblock %}
