{% extends "base.html" %}

{% block title %}{{ battery.name }}{% endblock %}

{% block content %}
<h1>{{ battery.title }} -- List of Tests</h1>

<ul>
  {% for test in battery.tests %}
  <li><a href="{{ host_url }}/battery/{{ battery.key.name }}/test/{{ test.name }}">{{ test.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
