{% extends "base.html" %}

{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
{% endblock %}

{% block title %}Callback{% endblock %}

{% block content %}

<h1>Your test session is finished.</h1>

{% for result in results %}
<p><strong>{{ result.name }}</strong>: {{ result.value }}</p>
{% endfor %}

{% comment %}
<form id="redirectForm" name="redirectForm" action="{{ callback_url }}" method="post" target="target">
  {% for result in results %}
  <input type="hidden" name="{{ result.name }}" value="{{ result.value }}">
  {% endfor %}
</form>

<iframe src="about:blank" name="target" style="display: none; "></iframe>

{% endcomment %}

{% endblock %}

{% block onload %}
{{block.super}}
$("#redirectForm").submit();
{% endblock %}
