{% if charts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  window.charts = new Array();
  {% for chart in charts %}
  var chart = {};
  {% if chart.type %}chart.type = '{{ chart.type }}';{% endif %}
  {% if chart.div_id %}chart.div_id = '{{ chart.div_id }}';{% endif %}
  {% if chart.column_names %}chart.column_names = {{ chart.column_names }};  {% endif %}
  {% if chart.data_rows %}chart.data_rows = {{ chart.data_rows }};{% endif %}
  {% if chart.title %}chart.title = '{{ chart.title }}';{% endif %}
  {% if chart.width %}chart.width = {{ chart.width }};{% endif %}
  {% if chart.height %}chart.height = {{ chart.height }};{% endif %}
  window.charts.push(chart);
  {% endfor %}
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawCharts);
  function drawCharts() {
  if (window.charts) {
  var i;
  for (i in window.charts) {
  var chart = window.charts[i];
  if (chart.type === 'line') {
  drawLineChart(chart);
  }
  else if (chart.type === 'column') {
  drawColumnChart(chart);
  }
  }
  }
  }

  function drawLineChart(chart_data) {
  var data = new google.visualization.DataTable();
  var i;
  for (i in chart_data.column_names) {
  data.addColumn(i==0 ? 'string':'number', chart_data.column_names[i]);
  }
  data.addRows(chart_data.data_rows);
  var options = {
  width: chart_data.width, height: chart_data.height,
  title: chart_data.title
  };

  var chart = new google.visualization.LineChart(document.getElementById(chart_data.div_id));
  chart.draw(data, options);
  }

  function drawColumnChart(chart_data) {
  var data = new google.visualization.DataTable();
  var i;
  for (i in chart_data.column_names) {
  data.addColumn(i==0 ? 'string':'number', chart_data.column_names[i]);
  }
  data.addRows(chart_data.data_rows);
  var options = {
  width: chart_data.width, height: chart_data.height,
  title: chart_data.title
  };

  var chart = new google.visualization.ColumnChart(document.getElementById(chart_data.div_id));
  chart.draw(data, options);
  }
</script>
{% endif %}
