{% extends "reaction_time.html" %}

{% block test_globals %}
{{block.super}}
  window.numChoices = {{ test.n_choices }};
{% endblock %}

{% block instructions %}
Press 1, 2, or 3 when the appropriate circle turns green. You can also use the a, s, d keys if you prefer.
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus">
<div class="circle stimulus_on" id="choice_reaction_stimulus_1">1</div>
<div class="circle stimulus_on" id="choice_reaction_stimulus_2">2</div>
<div class="circle stimulus_on" id="choice_reaction_stimulus_3">3</div>
<div class="clearfix"></div>
</div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/choice_reaction_time.js"></script>
{% endblock %}
