{% extends "timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.nColors = {{ test.n_colors }};
window.nBaseTrials = {{ test.n_base_trials }};
window.color_wordVariant = "{{ test.color_word_emphasis }}";
window.pTaskSwitch = {{ test.p_task_switch }};
{% endblock %}

{% block instructions %}
<p>You're going to type the first letter of either the word presented, or the color of that word. Example: for <strong class="red">green</strong>, you will type <strong class="red">r</strong> if the task is <strong>Color</strong>, but <strong class="green">g</strong> if the task is <strong>Word</strong>. It gets tricky; pay attention to tasks switching! Use your dominant hand, and have your fingers ready on top of the <strong class="red">r</strong>, <strong class="green">g</strong>, <strong class="blue">b</strong> keys.</p>
{% endblock %}


{% block test_content %}
<h4>What's the <strong id="color_word_task">...</strong>?</h4>
<div id="color_word_word"></div>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
<div id="color_word_trial_info">
  <!-- <span id="color_word_concordant"></span><br/> -->
  <!-- Trial number: <span id="color_word_trial_number"></span><br/> -->
  <!-- Emphasis: <span id="color_word_test_part"></span><br/> -->
  <!-- Remaining: <span id="color_word_remaining_trials"></span> -->
</div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/color_word.js"></script>
{% endblock %}
