{% extends "base.html" %}

{% block title %}Customize experiment{% endblock %}

{% block style_block %}
{{block.super}}
<link rel="stylesheet" href="/static/styles/create_experiment.css" type="text/css" />
{% endblock %}

{% block content %}

{% if errors %}
<div class="alert alert-error">Please correct the following parts:
  <ul>
    {% if errors.experiment_name %}<li>Experiment name.{% endif %}
    {% if errors.experiment_description %}<li>Experiment description.{% endif %}
    {% if errors.total_sessions %}<li>Total sessions.{% endif %}
    {% if errors.discrete_mental_variable_states %}<li>Discrete mental variable states.{% endif %}
    {% if errors.discrete_mental_variable_default_state %}<li>Discrete mental variable default state.{% endif %}
    {% if errors.likert_mental_variable_states %}<li>Likert mental variable states.</li>{% endif %}
    {% if errors.likert_mental_variable_default_state %}<li>Likert mental variable default state.</li>{% endif %}
    {% if errors.numeric_mental_variable_states %}<li>Numeric mental variable states.</li>{% endif %}
    {% if errors.numeric_mental_variable_default_state %}<li>Numeric mental variable default state.</li>{% endif %}
  </ul>
</div>
{% endif %}

<form class="form-horizontal" action="/lab/customize_experiment/{{ experiment.key.id }}" method="post">
  <fieldset>
    <legend>Fill in the details of your experiment.</legend>
    {% if experiment %}
    <input type="hidden" name="original_name" value="{{ experiment.name }}">
    {% endif %}
    <div class="control-group">
      {% if errors.experiment_name %}
      <div class="alert alert-error">{{ errors.experiment_name }}</div>
      {% endif %}
      <label class="control-label" for="name">Experiment name</label>
      <div class="controls">
	<input type="text" class="input-xlarge" name="name"{% if experiment %} value="{{ experiment.name }}"{% endif %}>
      </div>
    </div>
    <div class="control-group">
      {% if errors.experiment_description %}
      <div class="alert alert-error">{{ errors.experiment_description }}</div>
      {% endif %}
      <label class="control-label" for="name">Experiment description</label>
      <div class="controls">
	<input type="text" class="input-xlarge" name="description"{% if experiment %} value="{{ experiment.description }}"{% endif %}>
      </div>
    </div>
    <div class="control-group">
      {% if errors.total_sessions %}
      <div class="alert alert-error">{{ errors.total_sessions }}</div>
      {% endif %}
      <label class="control-label" for="name">Number of sessions</label>
      <div class="controls">
	<input type="text" class="input-xlarge" name="total_sessions"{% if experiment %}{% if experiment.total_sessions %} value="{{ experiment.total_sessions }}"{% endif %}{% endif %}>
      </div>
    </div>
    <div>
      <p>Pick a battery:</p>
      <div class="control-group">
	<label class="control-label" for="focus">Focus</label>
	<div class="controls">
	  <select name="focus" onchange="showBatteries(this.options[this.selectedIndex].value);">
	    {% for focus in foci %}
	    <option {% ifequal experiment.battery_focus focus %}selected {% endifequal%}value="{{ focus }}">{{ focus }}</option>
	    {% endfor %}
	  </select>
	</div>
      </div>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>Battery</th>
	    <th>Description</th>
	    <th>Estimated duration</th>
	  </tr>
	</thead>
	<tbody>
	  {% for battery in batteries %}
	  <tr id="battery_{{ battery.id }}">
	    <td><input type="radio" {% ifequal battery.battery.name experiment.battery_name %}checked {% endifequal %}name="battery" value="{{ battery.battery.name }}" /> {{ battery.battery.description }}</td>
	    <td>{{ battery.battery.detailed_description }}</td>
	    <td>{{ battery.battery.estimated_duration|time_flexible:60000 }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

    <div>
      {% if errors.discrete_mental_variable_default_state %}
      <div class="alert alert-error">{{ errors.discrete_mental_variable_default_state }}</div>
      {% endif %}
      {% if errors.discrete_mental_variable_states %}
      <div class="alert alert-error">{{ errors.discrete_mental_variable_states }}</div>
    {% endif %}
    {% if errors.likert_mental_variable_default_state %}
      <div class="alert alert-error">{{ errors.likert_mental_variable_default_state }}</div>
      {% endif %}
      {% if errors.likert_mental_variable_states %}
      <div class="alert alert-error">{{ errors.likert_mental_variable_states }}</div>
    {% endif %}
    {% if errors.numeric_mental_variable_default_state %}
      <div class="alert alert-error">{{ errors.numeric_mental_variable_default_state }}</div>
      {% endif %}
      {% if errors.numeric_mental_variable_states %}
      <div class="alert alert-error">{{ errors.numeric_mental_variable_states }}</div>
    {% endif %}

      <p>Choose your experimental variables. If you'd like a variable to be added by default to all your future experiments, check the "Default" box.</p>
      <table class="table table-condensed" id="mental_variables">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Default</th>
	    <th>Type</th>
	    <th>Parameters</th>
	  </tr>
	</thead>
      </table>
      <p>
      <p class="btn btn-success" onclick="addNewMentalVariable();"> Add variable</p>
    <div class="form-actions">
      <button type="submit" style="margin-right:30px;" class="btn btn-primary">Go</button>
      <a class="btn btn-primary" href="{% if first %}/lab/delete_experiment/{{ experiment.key.id }}{% else %}/lab{% endif %}">Cancel</a>
    </div>
  </fieldset>
</form>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script>
function updateNewVariableFields(variableNumber, newType) {
  if (newType === "discrete") {
    var newHTML = "States: <input type='text' name='mental_variable_"+variableNumber+"_states' value='Yes,No'/><br/>Default value: <input type='text' name='mental_variable_"+variableNumber+"_default' value='No'/>";
  }
  else if (newType === "likert") {
    var newHTML = "Range: 1 to <input type='text' name='mental_variable_"+variableNumber+"_values' value='5'/><br/>Default value: <input type='text' name='mental_variable_"+variableNumber+"_default' value='3'/>";
  }
  else if (newType === "numeric") {
    var newHTML = "Minimum: <input type='text' name='mental_variable_"+variableNumber+"_minimum' value='0'/><br/>Maximum: <input type='text' name='mental_variable_"+variableNumber+"_maximum' value='100'/><br/>Default value: <input type='text' name='mental_variable_"+variableNumber+"_default' value='10'/>";
  }
  else if (newType === "text") {
    var newHTML = "";
  }
  $("td#mental_variable_" + variableNumber + "_parameters").html(newHTML);
}

function showBatteries(focus) {
{% for battery in batteries %}
  var element = $('tr#battery_{{ battery.id }}').show();
  if (focus === "{{ battery.battery.focus }}") {
    element.show();
  }
  else {
    element.hide();
  }
{% endfor %}
}

var currentVariables = 0;

function addMentalVariable(variable_name, variable_type, variable_parameters, variable_is_default) {
  var newtr = document.createElement('tr');
  newtr.setAttribute('id', 'mental_variable_row_'+currentVariables);
  var newtrHTML = "<td><strong style='color: red;' onclick='removeMentalVariable("+currentVariables+");' title='Remove variable' class='remove_variable_button'>x</strong> &nbsp; <input type='text' name='mental_variable_"+currentVariables+"' value='"+variable_name+"'/></td>";
  newtrHTML += "<td><input type='checkbox' name='mental_variable_"+currentVariables+"_save_default' value='save_default'" + ((variable_is_default) ? " checked" : "") + "></td>";
  var selectHTML = "<select name='mental_variable_" + currentVariables + "_type' onchange='updateNewVariableFields(" + currentVariables + ", this.options[this.selectedIndex].value);'><option " + (variable_type === "discrete" ? "selected " : "") + "value='discrete'>Discrete</option><option " + (variable_type === "likert" ? "selected " : "") + " value='likert'>Likert</option><option " + (variable_type === "numeric" ? "selected " : "") + "value='numeric'>Numeric</option><option " + (variable_type === "text" ? "selected " : "") + "value='text'>Text</option></select>";
  if (variable_type === "discrete") {
    var spanContent = "States: <input type='text' name='mental_variable_"+currentVariables+"_states' value='" + variable_parameters[0] + "'/><br/>Default value: <input type='text' name='mental_variable_"+currentVariables+"_default' value='" + variable_parameters[1] + "'/>";
  }
  else if (variable_type === "likert") {
    var spanContent = "Range: 1 to <input type='text' name='mental_variable_"+currentVariables+"_values' value='" + variable_parameters[0] + "'/><br/>Default value: <input type='text' name='mental_variable_"+currentVariables+"_default' value='" + variable_parameters[1] + "'/>";
  }
  else if (variable_type === "numeric") {
    var spanContent = "Minimum: <input type='text' name='mental_variable_"+currentVariables+"_minimum' value='" + variable_parameters[0] + "'/><br/>Maximum: <input type='text' name='mental_variable_"+currentVariables+"_maximum' value='" + variable_parameters[1] + "'/><br/>Default value: <input type='text' name='mental_variable_"+currentVariables+"_default' value='" + variable_parameters[2] + "'/>";
  }
  else if (variable_type === "text") {
    var spanContent = "";
  }
    
  var dropDownHTML = "<td>" + selectHTML + "</td><td id='mental_variable_" + currentVariables + "_parameters'>" + spanContent + "</td>";
  newtrHTML = newtrHTML + dropDownHTML;

  newtr.innerHTML = newtrHTML;
  document.getElementById('mental_variables').appendChild(newtr);
  currentVariables++;
}

function addNewMentalVariable() {
  var variable_name = "Variable " + (currentVariables+1);
  addMentalVariable(variable_name, "discrete", ["Yes,No", "No"], false);
}

function removeMentalVariable(varid) {
var row = document.getElementById('mental_variable_row_'+varid);
document.getElementById('mental_variables').removeChild(row);
}

</script>
{% endblock %}

{% block onload %}
{{block.super}}
showBatteries("{{ experiment.battery_focus }}");
{% for mental_variable in mental_variables %}
addMentalVariable("{{ mental_variable.variable_name }}", "{{ mental_variable.type_str }}", [{% ifequal mental_variable.type_str "discrete" %}"{{ mental_variable.states_str }}", "{{ mental_variable.default_state }}"{% endifequal %}{% ifequal mental_variable.type_str "likert" %}"{{ mental_variable.likert_values }}", "{{ mental_variable.default }}"{% endifequal %}{% ifequal mental_variable.type_str "numeric" %}"{{ mental_variable.min_value }}", "{{ mental_variable.max_value }}", "{{ mental_variable.default }}"{% endifequal %}], {% if mental_variable.add_by_default %}true{% else %}false{% endif%});
{% endfor %}
{% endblock %}
