{% extends "reaction_time.html" %}

{% block test_globals %}
{{block.super}}
window.testAxis = "{{ test.axis }}";
window.pCongruentCue = {{ test.p_congruent_cue }};
window.cueTypes = "{{ test.cue_types }}";
window.cueStyle = "{{ test.cue_style }}";
window.stimulusStyle = "{{ test.stimulus_style }}";
window.maxResponseTime = {{ test.max_response_time }};
window.cueDuration = {{ test.cue_duration }};
window.cueStimulusDelay = {{ test.cue_stimulus_delay }};
window.cueStimulusDelayLambda = {{ test.cue_stimulus_delay_lambda }};
{% endblock %}

{% block instructions %}
<p>Press space after the dot appears in one of the boxes. One box will flash before the dot appears. The flashing box may not always indicate the correct location of the dot.</p>
{% endblock %}

{% block test_content %}
<table>
  <tr>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell1" width="160px" height="80px"></center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell2" width="160px" height="80px"></center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell3" width="160px" height="80px"></center></td>
  </tr>
  <tr>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell4" width="160px" height="80px"></center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell5" width="160px" height="80px">+</center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell6" width="160px" height="80px"></center></td>
  </tr>
  <tr>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell7" width="160px" height="80px"></center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell8" width="160px" height="80px"></center></td>
    <td align="center" width="200px" height="100px"><center><div align="center" id="cued_attention_cell9" width="160px" height="80px"></center></td>
  </tr>
</table>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
<div id="color_word_trial_info">
  <!-- <span id="color_word_concordant"></span><br/> -->
  <!-- Trial number: <span id="color_word_trial_number"></span><br/> -->
  <!-- Emphasis: <span id="color_word_test_part"></span><br/> -->
  <!-- Remaining: <span id="color_word_remaining_trials"></span> -->
</div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/cued_attention.js"></script>
{% endblock %}
