{% autoescape off %}

<html>
  <head>
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet" type="text/css">
    <link href="/static/styles/main.css" rel="stylesheet">
  </head>
  <body>

<h1>Site activity in the last 24 hours</h1>

<h2>New users</h2>

<p>New users in the last 24 hours: {{ n_new_users }}</p>

<table class="table">
  <thead>
    <tr>
      <th>Join date</th>
      <th>Username</th>
      <th>Email</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Education</th>
      <th>Timezone</th>
    </tr>
  </thead>
  <tbody>
{% for user in new_users %}
  <tr>
    <td>{{ user.joindate }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.age }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.education }}</td>
    <td>{{ user.timezone }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h2>Experiment participation</h2>

<h3>Summary</h3>

<table class="table">
  <thead>
    <tr>
      <th>Experiment name</th>
      <th>New users</th>
    </tr>
  </thead>
  <tbody>
  {% for count in experiment_counts %}
  <tr>
    <td>{{ count.name }}</td>
    <td>{{ count.users }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h3>Newly joined</h3>

<table class="table">
  <thead>
    <tr>
      <th>Join date</th>
      <th>Experiment name</th>
      <th>Username</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
{% for joined_experiment in joined_experiments %}
  <tr>
    <td>{{ joined_experiment.joindate }}</td>
    <td>{{ joined_experiment.name }}</td>
    <td>{{ joined_experiment.username }}</td>
    <td>{% if joined_experiment.group %}{{ joined_experiment.group }}{% else %}n/a{% endif %}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Sessions</h1>

<h2>Total sessions by experiment</h2>

<table class="table">
  <thead>
    <tr>
      <th>Experiment</th>
      <th>Sessions</th>
    </tr>
  </thead>
  <tbody>
  {% for sbe in sessions_by_experiment %}
  <tr>
    <td>{{ sbe.experiment }}</td>
    <td>{{ sbe.sessions }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Session activity</h2>

<table class="table">
  <thead>
    <tr>
      <th>Start time</th>
      <th>Username</th>
      <th>Experiment</th>
      <th>Results</th>
      <th>Mental variables</th>
    </tr>
  </thead>
  <tbody>
  {% for done_session in done_sessions %}
  <tr>
    <td>{{ done_session.start_time }}</td>
    <td>{{ done_session.username }}</td>
    <td>{{ done_session.experiment }}</td>
    <td>
    {% for finished_test in done_session.finished_tests %}
    <strong>{{ finished_test.variant.description|capfirst }}</strong> ({{ finished_test.duration|time_flexible }}):
    {% for result in finished_test.get_statistics %}<i>{{ result.description }}</i>: {{ result|result_format }}{% if not forloop.last %} | {% endif %}{% endfor %}{% if not forloop.last %}<br>{% endif %}
    {% endfor %}
    </td>
    <td>{% for mv in done_session.mental_variables %}<strong>{{ mv.mv }}</strong>: {{ mv.ms }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</body>
</html>

{% endautoescape %}
