{% extends "base.html" %}

{% block title %}Data Minding{% endblock %}

{% block content %}
<h1>Data Minding: {{user.username}}</h1>

<div class="saved-changes alert alert-success">
<h4>Coming Soon: variable filters, graph sharing, regression equations, and filtered data download.</h4>
Hope you like this new automatic Data Minding, which shows you any and all significant results automatically!
</div>

<form id="dataminding_form" name="dataminding" method="POST" action="/dataminding">
  <div class="row">
    <div class="span4 column">
      <h3>1. Choose Experiment(s)</h3>
      <div id="experiment_list" class="scroller">
      </div>
    </div>
    <div class="span4 column">
      <h3>2. Choose Mental Variable(s)</h3>
      <div id="mental_variable_list" class="scroller">
      </div>
    </div>
  </div>

  <div class="form-actions">
    <input id="dataminding_mode" type="hidden" name="mode" value="mind"/>
    <button id="mind_button" type="submit" class="btn btn-primary btn-large">Mind!</button>
    &nbsp; &nbsp; <em> or </em> &nbsp; &nbsp; 
    <button id="download_button" type="submit" class="btn">Download</button>
  </div>
</form>

<hr />

{% if results %}
<h3>Results</h3>
<div class="tabbable">
  <ul id="graphs_nav" class="nav-tabs" data-tabs="tabs"></ul>
  <div id="graphs_area" class="tab-content"></div>
</div>
{% endif %}

{% endblock %}


{% block style_block %}
{{block.super}}
<link rel="stylesheet" href="/static/styles/dataminding.css" type="text/css" />
<style type="text/css">@import "/static/styles/jquery.datepick.css";</style>
{% endblock %}


{% block onload %}
{{block.super}}
$('.date-pick').datepick();
make_menus(false);
{% if results %}
$('#dataminding_form').submit(function(e) { make_graphs(results); e.preventDefault(); return false; });  // no reload needed
make_graphs(results, initial_experiment_filters);
{% endif %}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/statistics/f_distribution.js"></script>
<script type="text/javascript" src="/static/js/statistics/gaussian_random.js"></script>
<script type="text/javascript" src="/static/js/statistics/multiple_regression.js"></script>
<script type="text/javascript" src="/static/js/statistics/linear_models.js"></script>
<script type="text/javascript" src="/static/js/dataminding.js"></script>
<!--<script type="text/javascript" src="/static/js/highcharts.js"></script>-->
<script type="text/javascript" src="/static/js/graph_results.js"></script>

<script>
var all_experiments = {{experiments_json|safe}};
all_experiments.sort(compare_experiment_dates);
var initial_test = "{{test|default:""}}";
var initial_experiment_filters = {{experiment_filters|default:"[]"}};
var initial_variable_keys = {{variable_keys|default:"[]"}};

var results = {{results|default:"{}"|safe}};
</script>
{% endblock %}








{% comment %}
		<p>Date filter (e.g. 1/1/2012): from <input type="date" name="min_date" class="date-pick" value="{{query.min_date_str}}"> to <input type="date" name="max_date" class="date-pick" value="{{query.max_date_str}}"></p>
		<p>Circadian filter (e.g. 10:00): between <input type="time" name="circadian_min" value="{{query.circadian_min_str}}"> and <input type="datetime" name="circadian_max" value="{{query.circadian_max_str}}"></p>
{% endcomment %}
