{% extends "level_estimation.html" %}

{% block test_globals %}
{{block.super}}
window.decLambda = {{ test.dec_lambda }};
window.incDelta = {{ test.inc_delta }};
window.testSubType = "{{ test.subtype }}";
{% endblock %}

{% block instructions %}
{% if test.subtype == "patience" %}
Suppose you were given a choice between these two amounts of money given to you at the specified times. Although this decision is hypothetical, try your best to imagine what you would really choose.
{% endif %}
{% if test.subtype == "shifted_patience" %}
Suppose you were given a choice between these two amounts of money given to you at the specified times. Although this decision is hypothetical, try your best to imagine what you would really choose.
{% endif %}
{% if test.subtype == "risk_aversion" %}
Suppose you were given a choice between the given amount of money and
the given gamble. Although this decision is hypothetical, try your
best to imagine what you would really choose.
{% endif %}
{% if test.subtype == "loss_aversion" %}
Suppose you were offered the following gamble. Although this decision is hypothetical, try your best to imagine what you would really choose.
{% endif %}
Press ← to choose the left option, → to choose the right one.<br/>
{% endblock %}

{% block test_content %}
{{block.super}}

<div id="stimulus"></div>

<div id="gamble" align="center">
Would you accept the following gamble? <br />
<table align="center">
  <tr><td>50&#37; chance of gaining</td><td id="gamble_option_1"></td></tr>
  <tr><td>50&#37; chance of
  losing</td><td id="gamble_option_2"></td></tr>
</table>
<br />
</div>

<table>
  <tr>
    <td>
      <div id="decision_making_choice_1" style="width:300px">
      </div>
    </td>
    <td>
      <div id="decision_making_choice_2" style="width:300px">
      </div>
    </td>
  </tr>
</table>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/decision_making.js"></script>
{% endblock %}
