{% extends "level_estimation.html" %}

{% block test_globals %}
{{block.super}}
window.nChoices = {{ test.num_choices }};
window.nRows = {{ test.grid_size }};
window.nCols = {{ test.grid_size }};
window.maskRepeats = {{ test.mask_repeats }};
window.maskRepeatTime = {{ test.mask_repeat_time }};
window.stimulusDisplayTime = {{ test.stimulus_display_time }};
{% endblock %}

{% block instructions %}
Try to remember the design of spaces in the grid, then press 1-4 to choose the matching design.
{% endblock %}


{% block test_content %}
{{block.super}}
<div id="stimulus"></div>
<div id="choices_area">
  <table class="table" border="0">
    <tr>
      <td><span class="design_choice" id="choice1"></span></td>
      <td><span class="design_choice" id="choice2"></span></td>
      <td><span class="design_choice" id="choice3"></span></td>
      <td><span class="design_choice" id="choice4"></span></td>
    </tr>
    <tr>
      <td class="design_number">1</td>
      <td class="design_number">2</td>
      <td class="design_number">3</td>
      <td class="design_number">4</td>
    </tr>
  </table>
</div>
{% endblock %}

{% block key_statistics %}
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/design_recognition.js"></script>
{% endblock %}
