{% extends "base.html" %}


{% block title %}Usage log{% endblock %}

{% block content %}

<h1>Quantified Mind - Usage</h1>


<h2>Detailed Statistics for {{current_user.username}}</h2>

<h4>General</h4>
<p>Email: {{email}}</p>
<p>Number of sessions: {{ num_sessions }}</p>
<p>Number of completed tests: {{ num_tests }}</p>
<p>Total time in tests: {{ total_time_in_tests }} seconds</p>
<p>Last session start time: {{ last_session_start_time }}</p>

<h4>Sessions by battery</h4>
<table>
  <tr>
    <td>Battery&nbsp;&nbsp;</td>
    <td>Count</td>
  </tr>
{% for battery in batteries %}
  <tr>
    <td>{{ battery.battery }}&nbsp;&nbsp;</td>
    <td>{{ battery.count }}&nbsp;</td>
  </tr>
{% endfor %}
</table>

<h4>Settings</h4>
<p>Show statistics: {{ settings.show_statistics }}</p>
<p>Show feedback: {{ settings.show_feedback }}</p>

<h4>Mental variables</h4>
{% for mental_variable in mental_variables %}
<p>{{ mental_variable.variable }}: {{ mental_variable.states }}</p>
{% endfor %}

{% for mental_variable in mvs %}
<h5>{{ mental_variable.variable }}</h5>

<table>
  <tr>
    <td>State</td>
    <td>Count</td>
  </tr>
{% for state in mental_variable.states %}
  <tr>
    <td>{{ state.state }}</td>
    <td>{{ state.count }}</td>
  </tr>
{% endfor %}
</table>
{% endfor %}

<h4>Actions</h4>
<p><a href="/admin/download_user/{{ current_user.username }}">Download data</a></p>

{% endblock %}
