{% extends "span.html" %}

{% block test_globals %}
{{block.super}}
window.digits = '{{ test.digits }}';
window.isAuditory = {% if test.is_auditory %}true{% else %}false{% endif %};
window.isVisual = {% if test.is_visual %}true{% else %}false{% endif %};
{% endblock %}

{% block instructions %}
Try to remember all the digits{% if test.is_backward %}, and repeat them backwards{% endif %}.<br/>
{% if test.is_backwards %}<span class="secondary_note">For best results, don't rehearse them out of order.</span>{% endif %}
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus" class="hidden"></div>

<div id="digit_span_input_form">
  <div>What was the sequence{% if test.is_backward %}, backwards{% endif %}?</div>
  <div><input type="text" id="user_sequence_input"></div>
  <div><button class="btn-large btn btn-primary" onclick="test.userSequenceSubmit();">Done</button></div>
</div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/digit_span.js"></script>
{% endblock %}
