{% extends "base.html" %}

{% block title %}{% if experiment %}{{ experiment.name }}{% else %}Experiment not found{% endif %}{% endblock %}

{% block style_block %}
{{block.super}}
<style type="text/css">@import "/static/styles/jquery.datepick.css";</style>
{% endblock %}

{% block onload %}
{{block.super}}
$('.date-pick').datepick();
{% endblock %}

{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
{% endblock %}

{% block content %}

{% if experiment %}

<h1>{{ experiment.name }}</h1>

{% include landing_page_html %}

{% if experiment.username %}


{% if experiment.subject_id_requested %}

<h2>Subject ID</h2>

{% if not experiment.subject_id %}

<form class="form-horizontal" action="/lab/set_subject_id/{{ experiment.key.id }}" method="post">
	<fieldset>
		<legend>Enter your subject ID.</legend>
		<div class="control-group">
			<label class="control-label" for="subject_id">Subject ID</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="subject_id"> &nbsp; <button type="submit" class="btn btn-primary btn-success">Submit</button>
			</div>
		</div>
	</fieldset>
</form>

{% else %}

<p>Your subject ID is <strong>{{experiment.subject_id|escape}}</strong>.</p>

{% endif %}
{% endif %}

{% if not experiment.subject_id_requested or experiment.subject_id %}

<h2>Take tests</h2>

<p><a class="btn btn-primary btn-success" href="/lab/take_tests/{{ experiment.key.id }}">Take tests</a></p>

{% endif %}

{% else %}

{% if experiment.participant_code %}

{% if user %}

<h2>Participant code</h2>

<p>Joining this experiment requires a participant code.</p>

<form class="form-horizontal" action="/lab/private_experiment" method="post">
	<fieldset>
		<legend>If you received a participant code for this experiment, please enter it here.</legend>
		<div class="control-group">
			<label class="control-label" for="code">Participant code</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="code"> &nbsp; <button type="submit" class="btn btn-primary btn-success">Submit</button>
			</div>
		</div>
	</fieldset>
</form>
<br>

{% else %}

<div class="alert alert-error">To join this experiment, you need to be signed in.</div>

{% endif %}

{% else %}

<h2>Join experiment</h2>

{% if experiment_start_date %}
	<form action="/lab/new_experiment/{{ experiment.key.id }}/lp" method="post">
	  Choose a starting date and click Join to get your schedule: <input type="text" name="start_date" class="date-pick" value="{{experiment_start_date}}">
	  <br>
		<input type="submit" class="btn btn-primary btn-large" value="Join"></p>
{% else %}
<p><a class="btn btn-primary btn-success" href="/lab/new_experiment/{{ experiment.key.id }}/lp">Join {{ experiment.name }}</a><p>
{% endif %}

{% endif %}

{% endif %}

{% else %}

<h1>Error: experiment not found</h1>

<div class="alert alert-error">Error! Experiment {{ landing_page }} not found. Click <a href="/">here</a> to return to the lab.</div>

{% endif %}

{% endblock %}
