{% extends "base.html" %}

{% block title %}Data exploration for {{ experiment }} test session{% endblock %}

{% block content %}

<h1>Test session for user {{ username }} in experiment {{ experiment }}</h1>

<h2>Session information</h2>

<p>
<strong>Battery:</strong> {{ battery }}
<br />
<strong>User-agent:</strong> {{ user_agent }}
<br />
<strong>Timezone:</strong> {{ timezone }}
<br />
{% if start_time %}
<strong>Start time:</strong> {{ start_time }}
<br />
{% endif %}
{% if end_time %}
<strong>End time:</strong> {{ end_time }}
<br />
{% endif %}
</p>

{% if mental_variables %}
<h2>Mental variables</h2>

<table class="table">
  <thead>
    <th>Variable</th>
    <th>State</th>
  </thead>
  <tbody>
    {% for mv in mental_variables %}
    <tr>
      <td>{{ mv.variable }}</td>
      <td>{{ mv.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if tests %}
<h2>Completed tests</h2>
{% for testid in tests %}
<a href="/explore/{{ experiment_id }}/{{ session_id }}/{{ testid }}">
{{ testid }}{% if not forloop.last %}, </a>{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
