{% extends "base.html" %}

{% block title %}Data exploration{% endblock %}

{% block content %}

<h1>Data for {{ username }} </h1>

{% if experiments %}
<h2>Experiments</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>ID</th>
  </thead>
  <tbody>
    {% for experiment in experiments %}
    <tr>
      <td><a href="/explore/{{ experiment.id }}">{{ experiment.name }}</a></td>
      <td>{{ experiment.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
