{% extends "base.html" %}

{% block title %}Data exploration for experiment {{ expname }}{% endblock %}

{% block content %}

<h1>Users and sessions for experiment {{ expname }}</h1>

<table class="table">
  <thead>
    <th>Username</th>
    <th>Session IDs</th>
  </thead>
  <tbody>
    {% for userdata in users %}
    <tr>
      <td>{{ userdata.username }}</td>
      <td>{% for sessid in userdata.sessions %}
	<a href="/explore/{{ expid }}/{{ sessid }}">{{ sessid }}</a>
{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
