{% extends "base.html" %}

{% block title %}Data exploration for {{ test_name }} result{% endblock %}

{% block content %}

<h1>Test result: {{ test_name }}</h1>

<h2>Summary</h2>
<p>
  <strong>Variant:</strong> {{ test_variant }}
  <br />
{% if start_time %}
  <strong>Start time:</strong> {{ start_time }}
  <br />
{% endif %}
{% if end_time %}
  <strong>End time:</strong> {{ end_time }}
  <br />
{% endif %}
{% if Score %}
  <strong>Score:</strong> {{ Score }}
  <br />
{% endif %}
</p>

{% if raw_results %}
<h2>Raw results</h2>

<table class="table">
  <thead>
    <th>Category</th>
    <th>Type</th>
    <th>Context</th>
    <th>Covariates</th>
    <th>Value</th>
  </thead>
  <tbody>
    {% for obs in raw_results %}
    <tr>
      <td>{{ obs.0.1 }}</td>
      <td>{% ifequal obs.0.2 0 %}boolean{% else %}number{% endifequal%}</td>
      <td>{% if obs.0.3 %}{{ obs.0.3 }}{% else %}-{% endif %}</td>
      <td>{% if obs.0.4 %}{{ obs.0.4 }}{% else %}-{% endif %}</td>
      <td>{{ obs.1 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
