<script language="javascript" type="text/javascript">
function result_popup(result_name, result_description) {
	newwindow=window.open('/explain_result/' + result_name, 'What does ' + result_description + ' mean?','height=200,width=150');
	if (window.focus) {newwindow.focus()}
	return false;
}

function result_explain(result_name, result_description) {
  $.ajax({
    url: "/explain_result/" + result_name,
    success: function(data) {
console.log("DATA:"+data);
      $('#explanation').html('<strong>' + result_description + ': </strong>' + data);
    },
  });
  return false;
}
</script>

<h2>Finished tests</h2>

{% if not last_results %}
<div class="alert alert-success" id="explanation"><strong>Tip:</strong> click on the question mark next to a result title for a brief explanation of what it means.</div>
{% endif %}

<table class="table">
  <thead>
    <th>Test</th>
    <th>Start time</th>
    <th>Duration</th>
    {% if last_results %}
    <th>Score</th>
    {% for last_n_str_one in last_n_str %}
    <th>{{ last_n_str_one }}</th>
    {% endfor %}
    {% else %}
    <th>Results</th>
    {% endif %}
  </thead>
  <tbody>
    {% if last_results %}
    {% for one_result in last_results %}
    <tr>
      <td>{{ one_result.finished_test.variant.description|capfirst }}</td>
      <td>{{ one_result.finished_test.corrected_start_time|date:"P" }}</td>
      <td>{{ one_result.finished_test.duration|time_flexible }}</td>
      <td>{{ one_result.score|score_format }}</td>
      {% for last_n_one in one_result.last_n %}
      <td>{{ last_n_one|score_format }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    {% for finished_test in completed_tests %}
    <tr>
      <td>{{ finished_test.variant.description|capfirst }}</td>
      <td>{{ finished_test.corrected_start_time|date:"P" }}</td>
      <td>{{ finished_test.duration|time_flexible }}</td>
      <td>{% for result in finished_test.get_statistics %}<strong>{{ result.description }}</strong> <a href="" onclick="return result_explain('{{ result.name }}', '{{ result.description }}');">[?]</a>: {{ result|result_format }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
