<h2>Finished tests</h2>

<table class="table">
  <thead>
    <tr>
      <th>Test</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for finished_test in finished_tests %}
    <tr>
      <td><strong><a href="/session/results/{{ test_session.key.id }}/{{ finished_test.variant.name }}/{{ finished_test.variant.variant }}/{{ finished_test.key.id }}">{{ finished_test.variant.description|capfirst }} &raquo;</a></strong></td>
      <td>{{ finished_test.duration|time_flexible }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
