{% extends "base.html" %}

{% block title %}Third-Party Authentication{% endblock %}

{% block content %}
<h1>Third-Party Authentication{% if service_name %}: {{service_name}}{% endif %}</h1>

<p>{% if service_name %}{{service_name}}{% else %}A third-party service{% endif %} is requesting permission to read your Quantified Mind data. Are you cool with that?</p>

{% if not redirect_url %}<div class="alert alert-info ">Actually, they left no redirect URL.</div>{% endif %}

<p>
<a class="btn-large btn btn-danger" href="{{redirect_url}}">No</a>
 &nbsp; &nbsp; 
<a class="btn-large btn btn-success" href="{{redirect_url}}?username={{username}}&token={{token}}">Yes</a>
</p>

{% endblock %}
