{% extends "base.html" %}

{% block title %}Getting Started{% endblock %}

{% block content %}

<h1>Getting Started</h1>

<h2>Welcome!</h2>
<p>Quantified Mind is a site for you to measure your cognitive performance and experiment with what makes you smarter. Coffee? Meditation? Provigil? Time of day? You can track your mind over time to see how well it's working, and run experiments if you like. Check out the tour below, or visit our <a href="/about">About page</a> to learn more about the project and look at the studies we're currently running. Thanks for being here!</p>

<table style= border="20" cellpadding="10" bordercolor=white>
    <tr align = "center" style="border-bottom-style: hidden;">
        <td width=50% style="border-right-width: thick; ">
            <img src="/static/images/tour1.png">
        </td>
        <td width=50% style="border-right-width: thick;">
            <img src="/static/images/tour2.png">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; border-right-width: thick;">
            <p><strong>1. This is your home screen. </strong>Pick an experiment and click "Join" to jump in! <a href="/experiment/time_of_day">Time of Day</a> is an easy one to start with - just testing your mind at different times of day. Or if you're more adventurous, go for <a href="/experiment/skipping_breakfast">Skipping Breakfast</a>, <a href="/experiment/meditation">Meditation</a>, <a href="/experiment/sex">Sex</a>, or <a href="/experiment/coffee">Coffee</a>.</p>            
            <p>If you were invited to join an academic study, enter your participant code to get started.</p> 
        </td>
        <td style="border-right-width: thick; vertical-align:top;">
            <p><strong>2. When you join a session,</strong> you will be asked a few questions to put your results in context. For the Skipping Breakfast experiment, which involves eating breakfast one day and skipping it the next day, you will be asked things like "Did you eat breakfast?" and "Are you hungry?"</p> 
	    <p>This page will also give you the protocol for the study, so please read it carefully. Click "Continue" to start the tests. </p>
        </td>
    </tr>
    <tr align = "center" style="border-bottom-style: hidden;">
        <td width=50% style="border-right-width: thick; ">
            <img src="/static/images/tour3.png">
        </td>
        <td width=50% style="border-right-width: thick;">
            <img src="/static/images/tour4.png">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; border-right-width: thick;">
            <p><strong>3. Here's where the excitement starts! </strong>You will be taken through a series of fun and challenging tests, listed on the right side of the screen. For each one, <strong>please practice first</strong> until you get comfortable with it, then click "Take test" when you're ready for the real thing. After each test, you will come back to this screen to get ready for the next one.</p>            
            <p>The session will time out if you get distracted by email and leave the window open for a while. This is to make sure all the tests are done in the same mental state. If your session times out, just start again.</p> 
        </td>
        <td style="border-right-width: thick; vertical-align:top;">
            <p><strong>4. This is one of the possible tests. </strong> Each test will show you instructions, and your job is to follow them as quickly and accurately as possible, without getting yourself super stressed out. </p>
	    <p>Just relax, take a deep breath, and have fun. There's no failing here.</p>
        </td>
    </tr>
    <tr align = "center" style="border-bottom-style: hidden;">
        <td width=50% style="border-right-width: thick; ">
            <img src="/static/images/tour5.png">
        </td>
        <td width=50% style="border-right-width: thick;">
            <div align="center"><a class="btn btn-primary btn-large btn-success" onclick="removeFirstTime();" href="/lab">Get Started!</a></div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; border-right-width: thick;">
            <p><strong>5. After each test, </strong>you will see this screen that shows you your results. It's important to click "Save this result", which will take you to the next test or tell you that you have finished your session.</p>            
            <p>Remember to come back the next day, or whenever your next session should be (depending on your experiment). And <a href="mailto:lab@quantified-mind.com">let us know</a> how you're enjoying it. Any and all feedback is always welcome.</p> 
        </td>
        <td style="border-right-width: thick; vertical-align:top;">
	   <p><strong>6. That's the end of the tour, so go ahead and click the green button to get started! Thanks for being awesome. :) </strong>
        </td>
    </tr>
</table>

<br><br>

{% endblock %}
