{% extends "multi_trial.html" %}

{% block test_globals %}
{{block.super}}
window.stimulusOnTime = {{ test.stimulus_on_time }};
window.interstimulusDelay = {{ test.interstimulus_delay }};
window.firstHalfVariant = "{{ test.first_half_variant }}";
window.secondHalfVariant = "{{ test.second_half_variant }}";
window.nTotalTrials = {{ test.n_total_trials }};
{% endblock %}

{% block instructions %}
Press &lt;space&gt; to respond to targets (white circle on top). Do nothing to ignore non-targets (white circle on bottom).
{% endblock %}


{% block test_content %}
{{block.super}}
<div id="stimulus">
  <div id="target">
    <img src="/static/images/tests/gonogo/gonogo_target.png">
  </div>
  <div id="nontarget">
    <img src="/static/images/tests/gonogo/gonogo_nontarget.png">
  </div>
</div>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block statistics %}
{{block.super}}
<div id="correct_statistic">Correct: <span id="correct_statistic"></span></div>
<div id="reaction_time_statistic">Last reaction time: <span id="reaction_time_statistic"></span></div>
{% endblock %}


{% block key_statistics %}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/gonogo.js"></script>
{% endblock %}
