{% extends "timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.config_k = {{ test.k }};
window.config_n = {{ test.n }};
window.pace = {{ test.pace }};
window.bufferOnTime = {{ test.buffer_on_time }};
window.bufferOffTime = {{ test.buffer_off_time }};
window.maxTrials = {{ test.n_trials }};
{% endblock %}

{% block instructions %}
{% if test.n > 1 %}
Compare the stimulus to the one {{ test.n }} stimuli ago. To do this, you will need to remember at all times the last {{ test.n }} stimuli you've seen.
{% else %}
Compare the current stimulus to the previous one.
{% endif %}
<span id="instructions1">If different, press &larr;, 1, or a. If the same, press &rarr;, 2, or b.</span>
<span id="instructions2">If they're the same, press &larr;, 1, or a. Otherwise, do nothing.</span>
<span id="instructions3">Use the number keys (1, 2, ...) or letter keys (a, b, ...) to indicate the stimuli are equal in the corresponding modality.</span>
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="k_n_back_information"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/k_n_back.js"></script>
{% endblock %}
