{% extends "timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
{% if test.target_success_probability %}
window.targetSuccessProbability = {{ test.target_success_probability }};
{% endif %}
{% if test.min_pos_neg %}
window.minPosNeg = {{ test.min_pos_neg }};
{% endif %}
{% if test.test_time_limit %}
window.testTimeLimit = {{ test.test_time_limit }};
{% endif %}
{% if state and state.level %}
window.initialLevel = {{ state.level }};
{% else %}
{% if test.default_initial_level %}
window.initialLevel = {{ test.default_initial_level }};
{% endif %}
{% endif %}
{% endblock %}

{% block statistics %}
{{block.super}}
<div id="level_statistic"><span id="level_statistic_name"></span>: <span id="level_statistic"></span></div>
{% endblock %}

{% block test_content %}

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/level_estimation.js"></script>
{% endblock %}
