{% extends "reaction_time.html" %}

{% block test_globals %}
{{block.super}}
window.minResponseTime = {{ test.min_response_time }};
window.maxResponseTime = {{ test.max_response_time }};
{% endblock %}

{% block instructions %}
You will be shown a sequence of images. When you see an image that
you've seen before, quickly tap the space bar.
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus"></div>

<div id="preload" class="pattern_container">
</div>

{% endblock %}

{% block statistics %}
<div id="correct_statistic">Correct: <span id="correct_statistic"></span></div>
<div id="reaction_time_statistic">Reaction time: <span id="reaction_time_statistic"></span></div>
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/memtrax.js"></script>
{% endblock %}
