{% extends "timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.gridSize = {{ test.grid_size }};
window.nRotations = {{ test.n_rotations }};
window.nTrialsPerRotation = {{ test.n_trials_per_rotation }};
window.minComplexity = {{ test.min_complexity }};
window.complexityJump = {{ test.complexity_jump }};
window.nComplexities = {{ test.n_complexities }};
{% endblock %}

{% block instructions %}
Press → if the two images can be rotated to be identical, and ← if
they can be rotated to be mirror reflections of each other.
{% endblock %}

{% block test_content %}
{{block.super}}
<table class="table"><tr><td><center><span id="stimulus_left"></span></center></td><td><center><span id="stimulus_right"></span></center></td></tr></table>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
{{block.super}}
<div id="mental_rotation_2_statistic"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/mental_rotation_2.js"></script>
{% endblock %}
