<!DOCTYPE html>
<html lang="en"
  <head>
    <meta charset="utf-8" />
    <link href="/static/styles/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet" type="text/css">
    <link href="/static/styles/main.css" rel="stylesheet">
  </head>
  <body>
    {% include "mental_variable_update.html" %}
  </body>
</html>
