<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
function updateHiddenFields() {
{% for mental_variable in mental_variables %}
{% ifequal mental_variable.mv.type_str "discrete" %}
if ($("#mental_variable_{{mental_variable.id}}").val() === 'none_selected') {
  alert("Please fill in all mental variables");
  return false;
}
{% endifequal %}
{% ifequal mental_variable.mv.type_str "likert" %}
var sliderValue = $( "div#slider_{{mental_variable.id}}" ).slider("value");
$("#mental_variable_{{mental_variable.id}}").val(sliderValue);
{% endifequal %}
{% ifequal mental_variable.mv.type_str "numeric" %}
$("#mental_variable_{{mental_variable.id}}").val($("div#numeric_value_{{mental_variable.id}}").text());
{% endifequal %}
{% endfor %}
return true;
}

{% if box %}
function boxSubmit() {
  updateHiddenFields();
  $.ajax({type: 'POST',
          url: '/lab/update_session_variables/box',
          data: $('#mental-variables-form').serialize(),
          success: function(response) {
            $("div#mental_states_div", parent.parent.document).html(response);
            parent.parent.GB_hide();
          },
         });
  return false;
}

{% endif %}
</script>

<script>
  $(document).ready(function() {
{% for mental_variable in mental_variables %}
{% ifequal mental_variable.mv.type_str "likert" %}
$( "div#slider_{{mental_variable.id}}" ).slider({
  min: 1,
  max: {{mental_variable.mv.likert_values}},
  value: {{mental_variable.state}},
  slide: function( event, ui ) {
    $("div#likert_value_{{mental_variable.id}}").html(ui.value);
    $("#mental_variable_{{mental_variable.id}}").val(ui.value);
    //$( "div#slider_{{mental_variable.id}}" ).slider( "value", ui.index );
  },
  start: function( event, ui ) {
{% if allow_ignore %}
    $("#mental_variable_{{mental_variable.id}}_ignore").attr('checked', false);
{% endif %}
  }
});
{% endifequal %}
{% ifequal mental_variable.mv.type_str "numeric" %}
$( "div#slider_{{mental_variable.id}}" ).slider({
  min: 0,
  max: 1000,
  value: Math.floor(1000*({{mental_variable.state}}-({{mental_variable.mv.min_value}}))/({{mental_variable.mv.max_value}} - ({{mental_variable.mv.min_value}}))),
  slide: function( event, ui ) {
    var newValue = ({{mental_variable.mv.min_value}} + 0.001*({{mental_variable.mv.max_value}}-({{mental_variable.mv.min_value}}))*ui.value).toFixed(2);
    $("div#numeric_value_{{mental_variable.id}}").html(newValue);
    $("#mental_variable_{{mental_variable.id}}").val(newValue);
{% if allow_ignore %}
    $("#mental_variable_{{mental_variable.id}}_ignore").attr('checked', false);
{% endif %}
  },
  start: function( event, ui ) {
{% if allow_ignore %}
    $("#mental_variable_{{mental_variable.id}}_ignore").attr('checked', false);
{% endif %}
  }
});
{% endifequal %}
{% endfor %}
  });
</script>

<form id="mental-variables-form" action="/lab/update_session_variables" method="post" onsubmit={% if box %}"return boxSubmit();"{% else %}"return updateHiddenFields();"{% endif %}{% if not box %} style="margin: 0px 100px; border-radius: 8px; background-color: #FFFFAA; padding: 20px; {% endif %}">
  <table class="table">
    <thead>
      <th>Variable</th>
      <th>Value</th>
      {% if allow_ignore %}
      <th>Leave unspecified</th>
      {% endif %}
    </thead>
    <tbody>
    {% for mental_variable in mental_variables %}
    <tr>
      <td>{{mental_variable.mv.variable_name}}</td>
      <td>
	{% ifequal mental_variable.mv.type_str "discrete" %}
        <select id="mental_variable_{{mental_variable.id}}" name="mental_variable_{{mental_variable.id}}"{% if allow_ignore %} onfocus="$('#mental_variable_{{mental_variable.id}}_ignore').attr('checked', false);"{% endif %}>
	  {% ifequal mental_variable.state "none_selected" %}
	  <option value="none_selected">Choose one</option>
	  {% endifequal %}
          {% for mental_state in mental_variable.mv.enum_states %}
          <option {% ifequal mental_variable.state mental_state.state %}selected {% endifequal %}value="{{mental_state.id}}">{{mental_state.state}}</option>
          {% endfor %}
        </select>
	{% endifequal %}
	{% ifequal mental_variable.mv.type_str "likert" %}
	<input type="hidden" id="mental_variable_{{mental_variable.id}}" name="mental_variable_{{mental_variable.id}}">
	<table>
	  <tr>
	    <td></td>
	    <td><center><strong><div id="likert_value_{{mental_variable.id}}">{{ mental_variable.state }}</div></strong></center></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>1</td>
	    <td align="center"><div id="slider_{{mental_variable.id}}" style="width: 200px; "></div></td>
	    <td>{{mental_variable.mv.likert_values}}</td>
	  </tr>
	</table>
	{% endifequal %}
	{% ifequal mental_variable.mv.type_str "numeric" %}
	<input type="hidden" id="mental_variable_{{mental_variable.id}}" name="mental_variable_{{mental_variable.id}}">
	<table>
	  <tr>
	    <td></td>
	    <td><center><strong><div id="numeric_value_{{mental_variable.id}}">{{ mental_variable.state }}</div></strong></center></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>{{mental_variable.mv.min_value}}</td>
	    <td align="center"><div id="slider_{{mental_variable.id}}" style="width: 200px; "></div></td>
	    <td>{{mental_variable.mv.max_value}}</td>
	  </tr>
	</table>
	{% endifequal %}
	{% ifequal mental_variable.mv.type_str "text" %}
	<input type="text" id="mental_variable_{{mental_variable.id}}" name="mental_variable_{{mental_variable.id}}" value="{{mental_variable.state }}"{% if allow_ignore %} onkeypress="$('#mental_variable_{{mental_variable.id}}_ignore').attr('checked', false);"{% endif %}/>
	{% endifequal %}
      </td>
      {% if allow_ignore %}
      <td>
	<input type="checkbox" id="mental_variable_{{mental_variable.id}}_ignore" name="mental_variable_{{mental_variable.id}}_ignore" value="ignore" {% if not mental_variable.enabled %}checked {% endif %}/>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
      <input type="submit" value="{% if box %}Update{% else %}Continue{% endif %}" class="btn btn-primary btn-large">
      {% if box %}
      <button class="btn btn-large btn-danger" onclick='parent.parent.GB_hide();'>Cancel</button>
      {% else %}
      <a class="btn btn-large btn-danger" style="margin-left:15px" href="/lab/cancel_session">Cancel Session</a>
      {% endif %}
</form>
