{% extends "test.html" %}

{% block statistics %}
{{block.super}}
<div id="trial_number">Trial: <span id="trial_number">0</span></div>
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/multi_trial.js"></script>
{% endblock %}
