{% extends "base.html" %}

{% block title %}New experiment{% endblock %}

{% block content %}

{% if experiments %}

<h1>Private experiments</h1>

<form class="form-horizontal" action="/lab/private_experiment" method="post">
	<fieldset>
		<legend>If you received a participant code for an academic study, please enter it here.</legend>
		<div class="control-group">
			<label class="control-label" for="code">Participant code</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="code"> &nbsp; <button type="submit" class="btn btn-primary btn-success">Submit</button>
			</div>
		</div>
	</fieldset>
</form>
<br>
<h1>Join a Pre-Existing Experiment</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of sessions</th>
      <th>Session duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for experiment in experiments %}
  <tr>
    <td style="vertical-align: middle">{{ experiment.name }}</td>
    <td style="vertical-align: middle">{{ experiment.description }}</td>
    <td style="vertical-align: middle">{{ experiment.total_sessions }}</td>
    <td style="vertical-align: middle">{{ experiment.session_duration }} minutes</td>
    <td style="vertical-align: middle"><a class="btn btn-primary btn-success" href="/lab/new_experiment/{{ experiment.key.id }}">Join</a></td>
    <td style="vertical-align: middle"><a class="btn" href="/lab/new_experiment/{{ experiment.key.id }}/customize">Customize</a></td>
  </tr>
{% endfor %}
  </tbody>
</table>

{% endif %}

<br>
<h1>Build Your Own Experiment</h1>

<p><a class="btn btn-primary btn-large" href="/lab/create_experiment">Design Experiment</a></p>

<br>
<br>

<p align="center"><a class="btn btn-large" href="/lab">Go back to the lab</a></p>
{% endblock %}
