{% extends "base.html" %}

{% block title %}New Test Session{% endblock %}

{% block content %}

<form action="/session/new" method="post" class="battery-filter">
  Duration:
  <select name="duration">
    <option {% ifequal duration "any" %}selected{% endifequal %} value="any">Whatever</option>
    <option {% ifequal duration "-5" %}selected{% endifequal %} value="-5">Up to 5 minutes</option>
    <option {% ifequal duration "5-10" %}selected{% endifequal %} value="5-10">5-10 minutes</option>
    <option {% ifequal duration "10-15" %}selected{% endifequal %} value="10-15">10-15 minutes</option>
    <option {% ifequal duration "15-30" %}selected{% endifequal %} value="15-30">15-30 minutes</option>
    <option {% ifequal duration "30-60" %}selected{% endifequal %} value="30-60">30-60 minutes</option>
    <option {% ifequal duration "60-120" %}selected{% endifequal %} value="60-120">60-120 minutes</option>
    <option {% ifequal duration "120-" %}selected{% endifequal %} value="120-">At least 120 minutes</option>
  </select>
  <br>
  Focus: <select name="focus">
    {% for focus_option in foci %}
    <option {% ifequal focus focus_option.id %}selected{% endifequal %} value="{{focus_option.id}}">{{focus_option.description}}</option>
    {% endfor %}
  </select>
  <br />
  <input type="submit" class="btn btn-primary" value="Filter Batteries">
</form>

<h1>Start a New Test Session</h1>

<h2>Here for a specific study?</h2>

<h3><a href="/session/new/chocolate">Chocolate Study &raquo;</a></h3>
<h3><a href="/session/new/coffee">Coffee Study &raquo;</a></h3>
<h3><a href="/session/new/lunch">Lunch Study &raquo;</a></h3>



<h2>Want to run your own experiment?</h2>

<p>Set the mental variables you'd like to test on our <a href="/settings">Settings Page</a> and pick a test from below!</p>

<p>Confused? Check out our <a href="/getting_started">Getting Started Page</a> for examples!</p>


<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Battery</th>
      <th>Description</th>
      <th>Estimated duration</th>
      <th>Time limit</th>
    </tr>
  </thead>
  <tbody>
    {% for battery in batteries %}
    <tr>
      <td><strong><a href="/session/new/{{ battery.name }}">{{ battery.description }} &raquo;</a></strong></td>
      <td>{{ battery.detailed_description }}</td>
      <td>{{ battery.estimated_duration|time_flexible:60000 }}</td>
      <td>{{ battery.max_time_in_str }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
