{% extends "base.html" %}

{% block title %}Experiment 8029{% endblock %}

{% block content %}

<h1>Experiment 8029</h1>

<p>Thank you for participating in the experiment.</p>

<p>This experiment has two parts. Take the first part of the
  test <a href="https://minerva.kgi.edu/temporary/assessment/{{ random_id }}">here</a>. Once you are done, you will
  be sent to the second part of the test. After you complete both parts, you will be asked to fill a short anonymous
  demographic form, and that's it.</p>

{% comment %}
<ol>
  <li>Take the first part of the test <a href="https://minerva.kgi.edu/temporary/assessment/{{ random_id }}">here</a>.</li>
  <li><strong>Should I remove this one?</strong> Take the second part of the
    test <a href="http://www.quantified-mind.com/lab/anon_tests/experiment_8029/{{ random_id }}">here</a>.</li> 
{% endcomment %}
</ol>

<p>Enjoy the mental workout!</p>

{% endblock %}
