<table class="table">
  <tr>
    {% for header_name in result.get_trial_class.get_header_fields %}
    <td>{{ header_name }}</td>
    {% endfor %}
  </tr>
  {% for trial in result.get_trial_results %}
  <tr>
    {% for field in trial.get_fields %}
    <td>{{ field }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
