<table class="table">
  {% for statistic in result.get_statistics %}
  <tbody>
    <tr>
      {% for field in statistic %}
      <td>{{ field }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
