{% if summary %}
<table class="table">
  <thead>
    <th>Statistic</th>
    <th>Result</th>
{% if last_results %}
{% for last_result in last_results %}
<th>{{ last_result.title }}</th>
{% endfor %}
{% endif %}
    {% comment %}<th>What does this mean?</th>{% endcomment %}
  </thead>
  <tbody>
    {% for statistic in summary %}
    <tr>
      <td>{{ statistic.description }}</td>
      <td>{{ statistic|result_format }}</td>
{% if last_results %}
{% for last_result in last_results %}
<td>{{ last_result|result_format }}</td>
{% endfor %}
{% endif %}
      {% comment %}<td>{{ statistic.explanation }}</td>{% endcomment %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  {% if branding != 'minerva' %}
    <h2>No statistics</h2>
  {% endif %}
{% endif %}
