{% extends "base.html" %}

{% block title %}Tests{% endblock %}

{% block content %}

<h1>Are you sure you want to start a new {% if new_session_name %}{{ new_session_description }} {% endif %}session?</h1>

<p>You are already in the middle of a {{ existing_session_name }} test session. You cannot have two simultaneous test session. Please choose one of the following:</p>

<p><a class="btn btn-large btn-primary" href="/session">Continue existing session</a></p>
<p><a class="btn btn-large btn-danger" href="/session/end_and_start{% if new_session_name %}/{{ new_session_name }}{% endif %}">End current {{ existing_session_name }} session, and start a new {% if new_session_name %}{{ new_session_description }} {% endif %}session</a></p>

{% endblock %}
