{% extends "base.html" %}

{% block title %}Tests{% endblock %}

{% block content %}

<h1>{{ test_session.battery.description }} test session {% if test_session.timed_out %}expired{% else %}in progress{% endif %}</h1>

{% if message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}

{% if error_message %}
<div class="alert alert-error">{{ error_message }}</div>
{% endif %}

<p>
{% if test_session.timed_out %}
    Your test session started on {{ test_session.start_time|date:"N j, Y, P" }} and expired at {{ test_session.timeout_time|date:"P" }}
{% else %}
    {% if test_session.timeout_time %}
        Your test session expires at {{ test_session.timeout_time|date:"P" }} (started at {{ test_session.start_time|date:"P" }}).
    {% else %}
        Your test session started on {{ test_session.start_time|date:"N j, Y, P" }}
    {% endif %}
{% endif %}

</p>

<form id="mental-variables-form" action="/session/update-information" method="post" style="margin: 0px 100px; border-radius: 8px; background-color: #efefef; padding: 20px; ">
    {% if saved_changes %}
        <div class="saved-changes alert alert-success">Changes saved!</div>
    {% endif %}
    <h4>Mental Variables</h4>
    <p>
        <em>Specify variables that are likely to affect your cognitive state, and you will later be able to make queries and compare your results in different conditions. You can configure your variables in the <a href="/settings">settings</a>.</em>
        <table class="table" id="current_mental_state">
            {% for mental_variable in mental_variables %}
            <tr>
                <td>{{mental_variable.variable}}</td>
                <td>
                    <select name="mental_variable_{{mental_variable.id}}">
                        <option value="0">Unspecified</option>
                        {% for mental_state in mental_variable.states %}
                        <option {% ifequal mental_variable.selected mental_state.state %}selected {% endifequal %}value="{{mental_state.id}}">{{mental_state.state}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Anything else?</td>
                <td><textarea name="free_text">{{ test_session.session_information.free_text }}</textarea></td>
            </tr>
        </table>
    </p>

    <p>
        <input type="submit" value="Update" class="btn-primary btn btn-large">
    </p>
</form>
<div class="clearfix"></div>

{% if not finished_tests %}
    {% if test_session.timed_out %}
        <h2>No tests finished</h2>
    {% endif %}
{% else %}
    {% include "finished_tests.html" %}
{% endif %}

{% if test_session.timed_out %}
    <div class="alert alert-info ">Your test session has timed out. You can no longer take new tests as part of this session.</div>
{% else %}
    {% if available_tests %}
        <h2>Available tests</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Estimated Time</th>
                </tr>
            </thead>
            <tbody>
                {% for test in available_tests %}
                <tr>
		  <td>{% if test.practice_variant %}<a class="btn large primary" href="/tests/{{ test.name }}/{{ test.practice_variant }}">Practice</a> &nbsp; {% endif %}<strong class="test_name"><a href="/tests/{{ test.name }}/{{ test.variant }}">{{ test.description|capfirst }} &raquo;</a></strong></td>
		  <td>{{ test.estimated_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info ">No available tests.</div>
    {% endif %}

    {% if unavailable_tests %}
        <h2>Unavailable tests</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Why unavailable?</th>
                </tr>
            </thead>
            <tbody>
                {% for test in unavailable_tests %}
                <tr>
                    <td>{{ test.test.variant.description|capfirst }}</td>
                    <td>{{ test.reason }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

<p id="end-session-button"><a class="btn-large btn-{% if available_tests %}danger{% else %}primary{% endif %}" href="/session/end">End Session</a></p>

{% endblock %}

{% block onload %}
{{block.super}}
{% if saved_changes %}
  $('.saved-changes').delay(4000).fadeOut(2000, 'swing');
{% endif %}
{% if specified_any_variables %}
  $('#mental-variables-form').detach().insertAfter('#end-session-button');
{% endif %}
{% endblock %}
