{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<h1>Settings for {{ user.username }}</h1>

{% if saved_changes %}
<div class="saved-changes alert alert-success">
Changes saved!
</div>
{% endif %}
{% if error_message %}
<div class="alert alert-error">{{ error_message }}</div>
{% endif %}

<form action="/settings" method="post">
  {% include "userinfo.html" %}
  <input type="checkbox" name="receive_emails" value="yes" {% if user.receive_emails %} checked="yes" {% endif %}/> Receive emails<br />
  <input type="checkbox" name="test_display" value="statistics" {% if settings.show_statistics %} checked="yes" {% endif %}/> Show statistics during tests<br />
  <input type="checkbox" name="test_display" value="feedback" {% if settings.show_feedback %} checked="yes" {% endif %}/> Show immediate feedback during tests<br />

{% if mental_variables %}
  <table class="table" id="mental_states">
    <tr><td>Variable</td><td>States</td></tr>
  </table>
  <p>
    Variable: <input type="text" id="new_mental_variable"/>
    &nbsp; States: <input type="text" id="new_mental_states"/>
    &nbsp; <button class="btn btn-success" onclick="addNewMentalState();"><i class="icon-plus icon-white"></i> Add mental variable</button>
  </p>
  <hr/>
{% endif %}
  <div style="margin-top:20px;">
    <input type="submit" class="btn btn-primary btn-large" value="Save"/>
  </div>
</form>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script>
var currentStates = 0;

function addDefaultMentalStates() {
{% for mental_variable in mental_variables %}
addMentalState("{{mental_variable.variable}}", "{{mental_variable.states}}");
{% endfor %}
}

function addMentalState(state_name, states) {
var newtr = document.createElement('tr');
newtr.setAttribute('id', 'mental_variable_row_'+currentStates);
newtr.innerHTML = "<td><strong style='color: red;' onclick='removeMentalVariable("+currentStates+");' title='Remove variable " + state_name + "' class='remove_variable_button'>x</strong> &nbsp; <input type='text' name='mental_variable_"+currentStates+"' value='"+state_name+"'/></td><td><input type='text' name='mental_states_"+currentStates+"' value='"+states+"'/></td>"
document.getElementById('mental_states').appendChild(newtr);
currentStates++;
}

function addNewMentalState() {
var variable_name=document.getElementById('new_mental_variable').value;
var variable_states=document.getElementById('new_mental_states').value;
addMentalState(variable_name, variable_states);
document.getElementById('new_mental_variable').value = '';
document.getElementById('new_mental_states').value = '';
}

function removeMentalVariable(varid) {
console.log("removing "+varid);
var row = document.getElementById('mental_variable_row_'+varid);
document.getElementById('mental_states').removeChild(row);
}
</script>
{% endblock %}

{% block onload %}
{{block.super}}
addDefaultMentalStates();

{% if saved_changes %}
  $('.saved-changes').delay(4000).fadeOut(2000, 'swing');
{% endif %}
{% endblock %}
