{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<h1>Sign up</h1>

{% if message %}
<div class="alert alert-error">{{ message }}</div>
{% endif %}

<form class="form-horizontal" action="/signup" method="post">
	<fieldset>
		<legend>Welcome, {{ google_account.nickname }}. Please choose a username, and you can start taking tests right away.</legend>
		<div class="control-group">
			<label class="control-label" for="username">Username*</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="username">
			</div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="timezone">Timezone</label>
		  <div class="controls">
		    {% include "timezone_dropdown.html" %}
		  </div>
		</div>
		<div class="control-group">
			<label class="control-label" for="age">Age</label>
			<div class="controls">
				<input type="text" class="span1" name="age">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="gender">Gender</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="gender" value="M">Male
				</label>
				<label class="radio">
					<input type="radio" name="gender" value="F">Female
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="education">Education</label>
			<div class="controls">
				<!--<input type="text" class="input-xlarge" name="education">-->
				<select name="education" id="DropDownEducation">
				  <option>Some High School</option>				
				  <option>High School Degree</option>
				  <option>Some College</option>				
				  <option>4 Year College Degree</option>
				  <option>Masters</option>				
				  <option>Ph.D</option>
				</select>
			</div>
		</div>
		<!-- <div class="control-group"> -->
		<!-- 	<label class="control-label" for="participant_codes">If you have any study participant code(s), enter them here:</label> -->
		<!-- 	<div class="controls"> -->
		<!-- 		<input type="text" class="input-xlarge" name="participant_codes" -->
		<!-- 	</div> -->
		<!-- </div> -->
		<div class="form-actions">

{% comment %}
Could use something like this to track the Signup event, I think
<a onclick="recordOutboundLink(this, 'Outbound Links', 'https://www.externallink.com');return false;" href="https://www.externallink.com"><img style="padding-top:2px;" src="/common/images/ss_managemyaccount.gif" alt="" /></a>
{% endcomment %}

			<button type="submit" class="btn btn-primary">Sign up</button>
		</div>
	</fieldset>
{% if return_url %}
<input type="hidden" name="redirect_url" value="{{ return_url }}">
{% endif %}
</form>

{% endblock %}


