{% extends "reaction_time.html" %}

{% block instructions %}
Press &lt;space&gt; when the circle turns green.
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus">
<div class="circle stimulus_on" id="simple_reaction_time_stimulus"></div>
</div>

{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/simple_reaction.js"></script>
{% endblock %}
