{% extends "timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.ruleChangeProbability = {{ test.rule_change_probability }};
window.maxTrials = {{ test.num_trials }};
window.ruleLanguage = "{{ test.rule_language }}";
{% endblock %}

{% block instructions %}
Press 1-4 to match the bottom pattern shown to patterns 1-4 based on the rule (shape, color or number). You can also use the a, s, d, f keys if you prefer.
{% endblock %}

{% block test_content %}
{{block.super}}
<div id="prototype_stimuli">
  <div class="sorting_stimulus">
    <div class="stimulus_number">1</div>
    <div class="pattern_container" id="pattern1"></div>
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">2</div>
    <div class="pattern_container" id="pattern2"></div>
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">3</div>
    <div class="pattern_container" id="pattern3"></div>
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">4</div>
    <div class="pattern_container" id="pattern4"></div>
  </div>
</div>

  <div id="stimulus" class="pattern_container">
  </div>
  
  <div id="preload" class="pattern_container">
  </div>

<h4>Match the <span id="sorting_rule">...</span>.</h4>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/sorting.js"></script>
{% endblock %}
