{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}

{% if test_session %}

<h1>{{ test_session.battery.description|capfirst }} test session</h1>

<p>Started at {{ test_session.corrected_start_time|date:"r" }}.</p>
<p>Ended at {{ test_session.corrected_end_time|date:"r" }}.</p>
<p>Total time in tests: {{ test_session.total_test_time|time_flexible:1000 }}.</p>
{% if test_session.session_information.free_text %}
<p>You were on: {{ test_session.session_information.free_text }}.</p>
{% endif %}

{% if completed_tests %}
{% include "finished_tests.html" %}
{% else %}
No finished tests.
{% endif %}

<p><a href="/statistics">Back to statistics</a></p>

{% else %}

{% if user_sessions %}
<h1>Test sessions</h1>

<table class="table">
  <thead>
    <tr>
      <td>Battery</td>
      <td>Started at</td>
      <td>Duration</td>
      <td>Tests taken</td>
      <td>Total time in tests</td>
    </tr>
  </thead>
  <tbody>
    {% for past_session in user_sessions %}
    <tr>
      <td><a href="/statistics/{{ past_session.key.id }}">{{ past_session.battery.description|capfirst }}</a></td>
      <td>{{ past_session.corrected_start_time|date:"r"}}</td>
      <td>{{ past_session.duration }}</td>
      <td>{{ past_session.number_of_finished_tests }}</td>
      <td>{{ past_session.total_test_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
No statistics for {{ user.username }}.
{% endif %}

{% endif %}

{% endblock %}
