{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block content %}

<h1>Results for {{ user.username }}</h1>

{% if sessions %}
<table class="table">
  <thead>
    <th>Experiment</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Mental variables</th>
    <th>Total time in tests</th>
    <th></th>
  </thead>
  <tbody>
    {% for test_session in sessions %}
    <tr>
      <td>{% if test_session.experiment %}{{ test_session.experiment.name }}{% else %}n/a{% endif %}</td>
      <td>{{ test_session.corrected_start_time|date:"r" }}</td>
      <td>{{ test_session.corrected_end_time|date:"r" }}</td>
      <td>{{ test_session|session_mental_variables }}</td>
      <td>{% if test_session.total_test_time %}{{ test_session.total_test_time|time_flexible:1000 }}{% else %}{{ test_session.cumulative_duration|time_flexible:1000}}{% endif %}</td>
      <td><a class="btn" href="/results/view_session/{{ test_session.key.id }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% comment %}
{% if prv_cursor or next_cursor %}
<p>{% if prv_cursor %}<a href="/results/by_query/{{ prv_cursor }}">Previous results</a>{% endif %} {% if next_cursor %}<a href="/results/by_query/{{ next_cursor }}">Next results</a>{% endif %}</p>
{% endif %}
{% endcomment %}

{% else %}
<p>No results!</p>
{% endif %}

{% endblock %}
