<p>
{% for mental_state in mental_states %}
<strong>{{ mental_state.variable }}: </strong>{% if mental_state.state %}{{ mental_state.state }}{% else %}unspecified{% endif %}{% if not forloop.last %} | {% endif %}
{% endfor %}
</p>
