{% extends "base.html" %}

{% block footer_script %}
{{ block.super }}

{% endblock %}

{% block title %}Test session{% endblock %}

{% block content %}

<h1>{{ experiment.name }} test session

{% if protocol_url %}
<h2>Protocol</h2>

{% include protocol_url %}
{% endif %}

<h2>Mental variables</h2>

<h4>Please fill in your mental variables:</h4>
<p><i>"Mental variables" are used to describe your current mental state (ex. if you've eaten, exercised, slept, etc).{% if not experiment.participant_code %} They are used to correlate your results with your mental state, and you can change them by clicking "customize" in the main lab page.{% endif %}</i></p>

{% include "mental_variable_update.html" %}

{% endblock %}

{% block onload %}
{{block.super}}
{% endblock %}
