{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block footer %}
					<div class="nav-collapse">
							<ul class="nav pull-right" id="footer-padding">
								<li><a target="_blank" href="https://minerva.kgi.edu/application/attestation">Minerva Admissions Certification</a></li>
								<li><a target="_blank" href="https://minerva.kgi.edu/terms">Terms of Service</a></li>
								<li><a target="_blank" href="https://minerva.kgi.edu/privacy">Privacy Policy</a></li>
							</ul>
						</div>
{% endblock %}

{% block footer_script %}
{{ block.super }}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/static/js/greybox/AJS.js"></script>
<script>
  var GB_ROOT_DIR = "/static/greybox/";
</script>
<script type="text/javascript" src="/static/js/greybox/gb_scripts.js"></script>
<link href="/static/styles/greybox/gb_styles.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
{% endblock %}

{% block title %}Minerva Assessment{% endblock %}

{% block content %}

<h1>Minerva Assessment</h1>
<div class="span4 test-list" style="float:right; position:relative; top:-11px; right:7px; padding-top:10px; padding-bottom:10px;">
    <h2>Tests</h2>
    <p><i>Here are all the tests in this experiment.</i></p>
    
    {% for test in finished_tests %}
    <p style="font-size: larger; color:rgb(0,100,0)"><strong>{{ test.description }} &#x2713;</strong></p>
    {% endfor %}
    {% for test in remaining_tests %}
    <p style="font-size: larger;"><strong>{{ test.description }}</strong></p>
    {% endfor %}
</div>
{% if test_session.user_agent|string_contains:"Firefox" %}
<div class="alert alert-error">Warning: some of the tests don't work well on some versions of Firefox. If you encounter any problems, try using Google Chrome.</div>
{% endif %}

{% if test_session.user_agent|string_contains:"MSIE" %}
<div class="alert alert-error">Warning: some of the tests don't work well on some versions of Internet Explorer. If you encounter any problems, try using Google Chrome.</div>
{% endif %}

{% if is_serial and not next_test %}
<h2>Congratulations! Your assessment session is complete!</h2>

{% if next_step %}
{% include next_step %}
{% endif %}

{% if not anon_session %}
{% include "finished_tests.html" %}
{% endif %}
<Br>
<Br>
{% if anon_session %}
{% if not without_back_button %}
<p><a class="btn btn-large btn-success" href="{% if return_url %}{{ return_url }}{% else %}/{% endif %}"><strong>Back</strong></a></p>
{% endif %}
{% else %}
<p><a class="btn btn-large btn-success" href="/lab"><strong>Do Another Experiment</strong></a></p>
{% endif %}
{% else %}
{% if test_session.timed_out %}
{% if anon_session %}<p>Your test session timed out.</p>{% else %}<p>{{ user.username }}, your test session timed out.</p>{% endif %}
{% if anon_session %}
{% else %}
{% if is_serial %}Please <a href="/lab/take_tests/{{ experiment.key.id }}">restart</a> it, or <a href="/lab">go back to your experiments page</a>.
{% else %}
Click <a href="/lab">here</a> to go back to your experiments page.
{% endif %}
{% endif %}
{% else %}
<p style="font-size:125%">{% if anon_session %}Y{% else %}{{ user.username }}, y{% endif %}our Minerva Assessment session started {{started_ago}} minutes ago.</p>
<p style="font-size:125%">It will time out in {{timeout_left}} minutes.</p>
{% endif %}

{% if is_serial %}
{% if next_test %}

<br>
    



{% if not test_session.timed_out %}
<h2>Next test: {{ next_test.description }}</h2>
<h3>Estimated time: {{ next_test.estimated_time }}</h3>


<br>
    
<p>{% if next_test.practice_variant %}<a class="btn btn-large btn-primary" href="{% if anon_session %}/anon_tests/{{ test_session.key.id }}{% else %}/tests{% endif %}/{{ next_test.name }}/{{ next_test.practice_variant }}/practice">Practice</a> &nbsp; {% endif %}<a class="btn btn-large btn-success" href="{% if anon_session %}/anon_tests/{{ test_session.key.id }}{% else %}/tests{% endif %}/{{ next_test.name }}/{{ next_test.variant }}">Take test</a></p>
<Br>
<br>
    
{% if mental_states %}
<h3>Mental variables <a href="/lab/update_session_variables/box" title="Update mental variables" rel="gb_page_fs[]">update</a></h3>
<div id="mental_states_div">
{% include "study_session_mvs.html" %}
</div>
{% endif %}

{% endif %}
<Br>
<div style="position:absolute;bottom:auto"
{% if anon_session %}
    <p><a class="btn btn-danger" href="/lab/cancel_anon_session/{{ test_session.key.id }}">Abort session</a></p>
{% else %}
    <p><a class="btn btn-danger" href="/lab/cancel_session">Abort session</a></p>
{% endif %}
    <p><i>Only abort the session if you do not plan to take the tests immediately.</i></p>
</div>

{% else %}
{% endif %}

<br>
<br>
<br>


{% else %}

{% if not finished_tests %}
    {% if test_session.timed_out %}
        <h2>No tests finished</h2>
    {% endif %}
{% else %}
    {% include "finished_tests.html" %}
{% endif %}

    {% if remaining_tests %}
        <h2>Tests</h2>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Test</th>
                    <th>Estimated Time</th>
                </tr>
            </thead>
            <tbody>
                {% for test in remaining_tests %}
                <tr>
		  <td>{% if test.practice_variant %}<a class="btn large primary" href="/tests/{{ test.name }}/{{ test.practice_variant }}">Practice</a> &nbsp; {% endif %}<strong class="test_name"><a href="/tests/{{ test.name }}/{{ test.variant }}">{{ test.description|capfirst }} &raquo;</a></strong></td>
		  <td>{{ test.estimated_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	
    {% if mental_states %}
    <h3>Mental variables <a href="/lab/update_session_variables/box" title="Update mental variables" rel="gb_page_fs[]">update</a></h3>
    <div id="mental_states_div">
    {% include "study_session_mvs.html" %}
    </div>
    {% endif %}
    <br/>
    <div>
	<p>
	  <a class="btn btn-danger" href="/lab/cancel_session">Abort session</a>
          {% if finished_tests %}
          &nbsp; &nbsp; &nbsp; <a class="btn btn-success" href="/lab/end_session">End session</a></p>
          {% endif %}
	<p><i>Only abort the session if you do not plan to take the tests immediately.</i></p>
    </div>

    {% else %}
        <div class="alert alert-info ">You've finished all tests! Click "End Session" below to go back to your experiment page.</div>
	<p><a class="btn btn-success" href="/lab/end_session">End session</a></p>
    {% endif %}


{% endif %}

    
<!--{% if mental_states %}
<h3>Mental variables <a href="/lab/update_session_variables/box" title="Update mental variables" rel="gb_page_fs[]">update</a></h3>
<div id="mental_states_div">
{% include "study_session_mvs.html" %}
</div>
{% endif %}-->

<!--<div style="position:absolute;bottom:auto"
    <p><a class="btn btn-danger" href="/lab/cancel_session">Abort session</a></p>
    <p><i>Only abort the session if you do not plan to take the tests immediately.</i></p>
</div>-->

{% endif %}

{% endblock %}

{% block onload %}
{{block.super}}
{% endblock %}
