{% autoescape off %}
{% if result %}
<h1>Statistics for {{ result.variant.description|capfirst }}</h1>
{% endif %}

{% if error_text %}
<h1>Error</h1>
<p>{{ error_text }}</p>

{% if anon_session %}
<p><a class="btn-primary btn btn-large" href="/lab/study_session/{{ session_id }}">Back</a></p>
{% endif %}

{% else %}

{% include "result_summary.html" %}

{% if in_lab %}
  {% if branding == 'minerva' %}
    <p><a class="btn-primary btn btn-large" href="/lab/confirm_{% if anon_session %}anon_{% endif %}result/{{result.key.id}}">Save and continue</a></p>
    <br/>
    <p><a class="btn-danger btn btn-large" href="/lab/ignore_{% if anon_session %}anon_{% endif %}last/{{result.key.id}}">Do not save.  Retake this test</a></p>
  {% else %}
    <p><a class="btn-primary btn btn-large" href="/lab/confirm_{% if anon_session %}anon_{% endif %}result/{{result.key.id}}">Save this result</a></p>
    <br/>
    <p><a class="btn-danger btn btn-large" href="/lab/ignore_{% if anon_session %}anon_{% endif %}last/{{result.key.id}}">Phone rang in the middle! Don't save this result</a></p>
  {% endif %}
{% else %}
<p><a class="btn-primary btn btn-large" href="{% if anon_session %}/lab/study_session/{{ session_id }}{% else %}/session{% endif %}">Take More Tests</a></p>
<br/>
<p><a class="btn-danger btn btn-large" href="/session/ignore-last">Phone rang in the middle! Don't save this result</a></p>
<!--<p><a class="btn-primary btn-large" href="/session/end">End Test Session</a></p> We probably shouldn't so easily end sessions from here -->
{% endif %}
{% endif %}
{% endautoescape %}
