{% extends "base.html" %}

{% block title %}Test durations{% endblock %}

{% block content %}

<h1>Test durations</h1>

<table>
  <tr>
    <td>Test name</td>
    <td>Test variant</td>
    <td>n</td>
    <td>Mean time</td>
    <td>Standard deviation</td>
  </tr>

{% for result in results %}
  {% for variant_result in result.test_variants %}
  <tr>
    <td>{{ result.test_name }}</td>
    <td>{{ variant_result.variant_name }}</td>
    <td>{{ variant_result.n }}</td>
    <td>{{ variant_result.mean_time }}</td>
    <td>{{ variant_result.stdev_time }}</td>
  </tr>
  {% endfor %}
{% endfor %}
</table>

{% endblock %}
