{% extends "base.html" %}

{% block header %}
  {% if branding == 'minerva' %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block title %}{{test.description|capfirst}}{% endblock %}

{% block head_script %}
<script type="text/javascript" charset="utf-8">
{% block test_globals %}
window.show_statistics = {% if settings.show_statistics %}true{% else %}false{% endif %};
window.show_feedback = {% if settings.show_feedback %}true{% else %}false{% endif %};
window.is_practice = {% if state.is_practice %}true{% else %}false{% endif %};
window.test_name = "{{ test.name }}";
window.test_variant_name = "{{ test.variant }}";
window.start_button_delay = {{ test.start_button_delay }};
window.anon_session = {% if anon_session %}true{% else %}false{% endif %};{% if anon_session %}
window.session_id = {{ session_id }};{% endif %}
{% endblock %}
</script>
{% endblock %}

{% block style_block %}
{{block.super}}
<link href="/static/styles/tests/test.css" rel="stylesheet">
<link href="/static/styles/grid.css" rel="stylesheet">
<link href="/static/styles/tests/{{test.name}}.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{test.description|capfirst}}</h1>

<div class="row">
  <div class="test_left span9">
    <div class="instructions">
      <div class="test_specific_instructions">{% block instructions %}Here's the brief instructions for how to do the test.{% endblock %}</div>
      <button class="btn-large btn btn-primary" id="start_button">Start Test</button>
      <div class="clearfix"></div>
    </div>
    
    <div class="test_content">
      <h1><span id="test_content_header"></span></h1>
      {% block test_content %}
      {% endblock %}
    </div>
    
    <div class="feedback_message" id="all_feedback">
      {% block feedback_message %}{% endblock %}
    </div>
    
    <div class="key_statistics">
      {% block key_statistics %}{% endblock %}
    </div>
  </div>
    
  <div class="test_right span3">
    <div class="statistics" id="all_statistics">
      {% block statistics %}<h3>Statistics</h3>
<div id="test_duration_statistic">Duration: <span id="test_duration_statistic">0:00</span></div>
{% endblock %}
    </div>
  </div>
</div>

<div id="jplayer"></div>
{% endblock %}

{% block footer %}
  {% if branding == 'minerva' %}
					<div class="nav-collapse">
							<ul class="nav pull-right" id="footer-padding">
								<li><a target="_blank" href="https://minerva.kgi.edu/application/attestation">Minerva Admissions Certification</a></li>
								<li><a target="_blank" href="https://minerva.kgi.edu/terms">Terms of Service</a></li>
								<li><a target="_blank" href="https://minerva.kgi.edu/privacy">Privacy Policy</a></li>
							</ul>
						</div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/jquery.jplayer.min.js"></script>
<script src="/static/js/jquery/jquery.color.min.js"></script>
<script src="/static/js/class.js"></script>
<script src="/static/js/util/sigfit.js"></script>
<script src="/static/js/util/statistics.js"></script>
<script src="/static/js/util/greedy_grid.js"></script>
<script src="/static/js/util/grid.js"></script>
<script src="/static/js/util/stimulus_sequence.js"></script>
<script src="/static/js/tests/base.js"></script>
{% endblock %}

{% block onload %}
  $("#jplayer").jPlayer({
    swfPath: "/static/js",
    supplied: "mp3",
    solution: "flash, html",
    preload: "auto"
  });
  {% block init %}{% endblock %}
{% endblock %}
