<select name="timezone" id="DropDownTimezone">
  <option {% if current_timezone %}{% ifequal current_timezone "-12.0" %}selected {% endifequal %}{% endif %}value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-11.0" %}selected {% endifequal %}{% endif %}value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-10.0" %}selected {% endifequal %}{% endif %}value="-10.0">(GMT -10:00) Hawaii</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-9.0" %}selected {% endifequal %}{% endif %}value="-9.0">(GMT -9:00) Alaska</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-8.0" %}selected {% endifequal %}{% endif %}value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-7.0" %}selected {% endifequal %}{% endif %}value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-6.0" %}selected {% endifequal %}{% endif %}value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-5.0" %}selected {% endifequal %}{% endif %}value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-4.0" %}selected {% endifequal %}{% endif %}value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-3.5" %}selected {% endifequal %}{% endif %}value="-3.5">(GMT -3:30) Newfoundland</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-3.0" %}selected {% endifequal %}{% endif %}value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-2.0" %}selected {% endifequal %}{% endif %}value="-2.0">(GMT -2:00) Mid-Atlantic</option>
  <option {% if current_timezone %}{% ifequal current_timezone "-1.0" %}selected {% endifequal %}{% endif %}value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
  <option {% if current_timezone %}{% ifequal current_timezone "0.0" %}selected {% endifequal %}{% endif %}value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
  <option {% if current_timezone %}{% ifequal current_timezone "1.0" %}selected {% endifequal %}{% endif %}value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
  <option {% if current_timezone %}{% ifequal current_timezone "2.0" %}selected {% endifequal %}{% endif %}value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
  <option {% if current_timezone %}{% ifequal current_timezone "3.0" %}selected {% endifequal %}{% endif %}value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
  <option {% if current_timezone %}{% ifequal current_timezone "3.5" %}selected {% endifequal %}{% endif %}value="3.5">(GMT +3:30) Tehran</option>
  <option {% if current_timezone %}{% ifequal current_timezone "4.0" %}selected {% endifequal %}{% endif %}value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
  <option {% if current_timezone %}{% ifequal current_timezone "4.5" %}selected {% endifequal %}{% endif %}value="4.5">(GMT +4:30) Kabul</option>
  <option {% if current_timezone %}{% ifequal current_timezone "5.0" %}selected {% endifequal %}{% endif %}value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
  <option {% if current_timezone %}{% ifequal current_timezone "5.5" %}selected {% endifequal %}{% endif %}value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
  <option {% if current_timezone %}{% ifequal current_timezone "5.75" %}selected {% endifequal %}{% endif %}value="5.75">(GMT +5:45) Kathmandu</option>
  <option {% if current_timezone %}{% ifequal current_timezone "6.0" %}selected {% endifequal %}{% endif %}value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
  <option {% if current_timezone %}{% ifequal current_timezone "7.0" %}selected {% endifequal %}{% endif %}value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
  <option {% if current_timezone %}{% ifequal current_timezone "8.0" %}selected {% endifequal %}{% endif %}value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
  <option {% if current_timezone %}{% ifequal current_timezone "9.0" %}selected {% endifequal %}{% endif %}value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
  <option {% if current_timezone %}{% ifequal current_timezone "9.5" %}selected {% endifequal %}{% endif %}value="9.5">(GMT +9:30) Adelaide, Darwin</option>
  <option {% if current_timezone %}{% ifequal current_timezone "10.0" %}selected {% endifequal %}{% endif %}value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
  <option {% if current_timezone %}{% ifequal current_timezone "11.0" %}selected {% endifequal %}{% endif %}value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
  <option {% if current_timezone %}{% ifequal current_timezone "12.0" %}selected {% endifequal %}{% endif %}value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
</select>
