<select name="timezone" id="DropDownTimezone">
  {% for timezone_name in timezone_names %}
  <option {% if current_timezone %}{% ifequal current_timezone timezone_name %}selected {% endifequal %}{% endif %}value="{{ timezone_name }}">{{ timezone_name }}</option>
  {% endfor %}
</select>
