{% extends "multi_trial.html" %}

{% block test_globals %}
{{block.super}}
{% if test.fixed_duration %}
window.fixedDuration = {{ test.fixed_duration }};
{% endif %}
{% if test.prestimulus_delay %}
window.prestimulusDelay = {{ test.prestimulus_delay }};
{% endif %}
{% endblock %}


{% block test_content %}
{{block.super}}
{% endblock %}


{% block key_statistics %}
{{block.super}}
<div id="test_countdown_timer">
</div>
{% endblock %}


{% block statistics %}
{{block.super}}
<div id="ready_statistic">Ready: <span id="ready_statistic"></span></div>
<div id="correct_statistic">Correct: <span id="correct_statistic"></span></div>
<div id="reaction_time_statistic">Reaction time: <span id="reaction_time_statistic"></span></div>
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/timed_stimulus_response.js"></script>
{% endblock %}
