{% extends "base.html" %}

{% block title %}Upload test data{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data" action="/admin/upload">
  <input type="file" name="file" />
  <input type="submit" value="Upload" />
</form>

{% endblock %}
