{% extends "base.html" %}

{% block footer_script %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.datepick.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% if charts %}
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawCharts);
function drawCharts() {
	{% for chart in charts %}
	drawChart_{{chart.id}}();
	{% endfor %}
}

{% for chart in charts %}
{% ifequal chart.type "line" %}
function drawChart_{{chart.id}}() {
	var data = new google.visualization.DataTable();
	data.addColumn('datetime', 'Date');
	data.addColumn('number', '{{chart.unit}}');
	data.addRows([
		{% for date_value in chart.dates_values %}
		[new Date({{date_value.date.year}}, {{date_value.date.month}}-1, {{date_value.date.day}}, {{date_value.date.hour}}, {{date_value.date.minute}}, {{date_value.date.second}}), {{date_value.value}}],
		{% endfor %}
		]);

		var options = {
			width: 800, height: 480,
			title: '{{chart.description}}',
			pointSize: 5,
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{chart.id}}'));
		chart.draw(data, options);
	}
{% endifequal %}
{% ifequal chart.type "bar" %}
function drawChart_{{chart.id}}() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'State');
{% for series_title in chart.series_titles %}
	data.addColumn('number', '{{series_title}}');
        data.addColumn({type:'number', role:'interval'});  // interval role col.
        data.addColumn({type:'number', role:'interval'});  // interval role col.
{% endfor %}
	data.addRows([
		{% for state in chart.states %}
		["{{state.state}}"{% for series_datum in state.series_data %}, {{series_datum.value}}, {% if series_datum.errorbars%}{{series_datum.errorbars.low}}, {{series_datum.errorbars.high}}{% else %}{{series_datum.value}}, {{series_datum.value}}{% endif %}{% endfor %}],
		{% endfor %}
		]);

		var options = {
			width: 800, height: 480,
			title: '{{chart.description}}',
			pointSize: 5,
		};

		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_{{chart.id}}'));
		chart.draw(data, options);
	}
{% endifequal %}
{% ifequal chart.type "scatter" %}
function drawChart_{{chart.id}}() {
	var data = new google.visualization.DataTable();
	data.addColumn('number', '{{chart.x_title}}');
{% for state in chart.states %}
	data.addColumn('number', '{{state.state}}');
{% endfor %}
{% for state in chart.states %}
	data.addColumn('number', '{{state.state}} trendline');
{% endfor %}
	data.addRows([
		{% for state in chart.states %}
                {% for point in state.points %}
                [{{point.x_val}}{% for state2 in chart.states %}, {% ifequal state.state state2.state %}{{point.y_val}}{% else %}null{% endifequal %}{% endfor %}{% for state2 in chart.states %}, null{% endfor %}],
                {% endfor %}
		{% endfor %}
		{% for state in chart.states %}
                [{{state.trendline_x1}}{% for state2 in chart.states %}, null{% endfor %}{% for state2 in chart.states %}, {% ifequal state.state state2.state %}{{state.trendline_y1}}{% else %}null{% endifequal %}{% endfor %}],
                [{{state.trendline_x2}}{% for state2 in chart.states %}, null{% endfor %}{% for state2 in chart.states %}, {% ifequal state.state state2.state %}{{state.trendline_y2}}{% else %}null{% endifequal %}{% endfor %}],
		{% endfor %}
		]);

		var options = {
			width: 800, height: 480,
                        title: '{{chart.description}}',
                        hAxis: {title: '{{chart.x_title}}'{% if chart.min_x %}, minValue: {{chart.min_x}}{% endif %}{% if chart.max_x %}, maxValue: {{chart.max_x}}{% endif %}},
                        vAxis: {title: '{{chart.y_title}}'{% if chart.min_y %}, minValue: {{chart.min_y}}{% endif %}{% if chart.max_y %}, maxValue: {{chart.max_y}}{% endif %}},
series: [{% for state in chart.states %}{color: '{{ state.color }}'}, {% endfor %}{% for state in chart.states %}{lineWidth: 5, pointSize: 0, visibleInLegend: false, color: '{{ state.color }}'}, {% endfor %}],
		};

		var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_{{chart.id}}'));
		chart.draw(data, options);
	}
{% endifequal %}
	{% endfor %}
	</script>
	{% endif %}
	<script>
	</script>
	{% endblock %}

	{% block onload %}
	{{block.super}}
	$('.date-pick').datepick();
	{% endblock %}

	{% block style_block %}
	{{block.super}}
	<style type="text/css">@import "/static/styles/jquery.datepick.css";</style> 
	{% endblock %}

	{% block title %}Data Minding{% endblock %}

	{% block content %}

	<h1>Data Minding: {{user.username}}</h1>

	{% if user_queries %}
	<p>Choose a saved query:
		<form name="choose_query">
			<select name="select" onchange="window.location.href='/dataminding/'+this.form.select.options[this.form.select.selectedIndex].value" size="1">
				{% for user_query in user_queries %}
				<option {% ifequal query.query_name user_query.query_name %}selected {% endifequal %}value="{{user_query.key.id}}">{{user_query.query_name}}</option>
				{% endfor %}
			</select>
		</form>
	</p>
	{% endif %}

	<h2>Query</h2>
	<form action="/dataminding" method="post">
		<p>Date filter (e.g. 1/1/2012): from <input type="date" name="min_date" class="date-pick" value="{{query.min_date_str}}"> to <input type="date" name="max_date" class="date-pick" value="{{query.max_date_str}}"></p>
		<p>Circadian filter (e.g. 10:00): between <input type="time" name="circadian_min" value="{{query.circadian_min_str}}"> and <input type="datetime" name="circadian_max" value="{{query.circadian_max_str}}"></p>
		{% if batteries %}
		<p>Battery filter:
			<select name="battery">
				<option value="Any"{% if not query.battery_name %} selected{% endif %}>Any</option>
				{% for battery in batteries %}
				<option value="{{battery.name}}"{% if query.battery_name %}{% ifequal query.battery_name battery.name %} selected{% endifequal %}{% endif %}>{{battery.description}}</option>
				{% endfor %}
			</select>
		</p>
		{% endif %}
		<p>Mental variable filters:</p>
		<table class="table" id="mental_variable_table">
			{% for mental_variable in mental_variables %}
			<tr>
				<td>{{mental_variable.variable}}</td>
				<td>
					<select name="mental_variable_{{mental_variable.id}}">
						<option {% ifequal mental_variable.selected "Any" %}selected {% endifequal %}value="0">Any</option>
						{% for mental_state in mental_variable.states %}
						<option {% ifequal mental_variable.selected mental_state.state %}selected {% endifequal %}value="{{mental_state.id}}">{{mental_state.state}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% if tests %}
		<p>Test:
			<select name="test_description">
				<option value="None"{% if not query.variant_description %} selected{% endif %}>View sessions</option>
				{% for test in tests %}
				<option value="{{test.description}}"{% if query.variant_description %}{% ifequal query.variant_description test.description %} selected{% endifequal %}{% endif %}>{{test.description}}</option>
				{% endfor %}
			</select>
		</p>
		{% endif %}
		<p>Compare across:
		  <select name="compare_variable">
		    <option value="None"{% if not query.compare_across %} selected{% endif %}>No comparison</option>
		    {% for mental_variable in mental_variables %}
		    <option value="{{ mental_variable.variable }}"{% if query.compare_across %}{% ifequal query.compare_across mental_variable.variable %} selected{% endifequal %}{% endif %}>{{ mental_variable.variable }}</option>
		    {% endfor %}
		  </select>
		</p>
		<p>Name this query: <input type="text" name="query_name" value="{{query.query_name}}"></p>
		<p><input type="submit" class="btn btn-primary btn-large" value="Mind!"></p>
	</form>

	{% if query.variant_description %}

	{% if charts %}
	{% for chart in charts %}
	<div id="chart_div_{{chart.id}}">
	</div>
	{% endfor %}
	{% endif %}

	{% if csv_link %}
	<p>
		<a href="/dataminding/download_csv/{{query.key.id}}">Download</a> {{test_description}} results as CSV file.
	</p>
	{% endif %}

	{% else %}

	<h2>Test sessions</h2>

	<table>
		<thead>
			<tr>
				<td>Battery</td>
				<td>Started at</td>
				<td>Duration</td>
				<td>Tests taken</td>
				<td>Total time in tests</td>
			</tr>
		</thead>
		<tbody>
			{% for past_session in user_sessions %}
			<tr>
				<td><a href="/statistics/{{ past_session.key.id }}">{{ past_session.battery.description|capfirst }}</a></td>
				<td>{{ past_session.start_time|date:"r"}}</td>
				<td>{{ past_session.duration }}</td>
				<td>{{ past_session.number_of_finished_tests }}</td>
				<td>{{ past_session.cumulative_duration }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endif %}

	{% endblock %}
