		<div class="control-group">
		  <label class="control-label" for="timezone">Timezone</label>
		  <div class="controls">
		    {% include "timezone_dropdown.html" %}
		  </div>
		</div>
		<div class="control-group">
			<label class="control-label" for="age">Age</label>
			<div class="controls">
				<input type="text" class="span1" name="age" {% if user %}value="{{ user.age }}"{% endif %}>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="gender">Gender</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="gender" value="M"{% if user and user.gender == "M" %} checked{% endif %}>Male
				</label>
				<label class="radio">
					<input type="radio" name="gender" value="F"{% if user and user.gender == "F" %} checked{% endif %}>Female
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="education">Education</label>
			<div class="controls">
				<!--<input type="text" class="input-xlarge" name="education">-->
				<select name="education" id="DropDownEducation">
				  <option{% if user and user.education == "Some High School" %} selected{% endif %}>Some High School</option>				
				  <option{% if user and user.education == "High School Degree" %} selected{% endif %}>High School Degree</option>
				  <option{% if user and user.education == "Some College" %} selected{% endif %}>Some College</option>				
				  <option{% if user and user.education == "4 Year College Degree" %} selected{% endif %}>4 Year College Degree</option>
				  <option{% if user and user.education == "Masters" %} selected{% endif %}>Masters</option>				
				  <option{% if user and user.education == "Ph.D" %} selected{% endif %}>Ph.D</option>
				</select>
			</div>
		</div>
