{% extends "test.html" %}

{% block test_globals %}
{{block.super}}

{% if test.max_learning_trials %}
window.maxLearningTrials = {{ test.max_learning_trials }};
window.testPart = 0;
{% else %}
window.testPart = 1;
{% endif %}

{% if test.fixed_list_size %}
window.fixedListSize = {{ test.fixed_list_size }};
{% else %}
window.fixedListSize = 0;
{% endif %}

{% if test.word_on_time %}
window.wordOnTime = {{ test.word_on_time }};
{% endif %}

{% if test.word_off_time %}
window.wordOffTime = {{ test.word_off_time }};
{% endif %}

window.wordList = [];
{{ state.word_list_as_javascript }}
{% endblock %}


{% block instructions %}
{% if test.max_learning_trials %}
Memorize the words, and recall them later.
{% else %}
{% if state.parent_result.total_words_shown %}
Recall the words you were presented with earlier, including words that were presented only in the beginning.
{% else %}
Recall the words you were presented with earlier.
{% endif %}
{% endif %}
{% endblock %}


{% block test_content %}
{{block.super}}
<div id="stimulus"></div>
<div id="word_list_input_form">
</div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/base.js"></script>
<script src="/static/js/tests/verbal_learning.js"></script>
{% endblock %}
