{% extends "base.html" %}

{% block head_script %}
{{ block.super }}
{% include "charts.html" %}
{% endblock %}

{% block title %}Test result{% endblock %}

{% block content %}

<h1>Statistics for {{ result.variant.description|capfirst }}</h1>

<h2>Summary</h2>

{% include "result_summary.html" %}

{% if charts %}
{% for chart in charts %}
<div id="{{chart.div_id}}"></div>
{% endfor %}
{% endif %}

{% if result.trial_results %}
<h2>Trials</h2>
{% include "result_trials.html" %}
{% endif %}

{% if result.extra_sections %}
{% for extra_section in result.extra_sections %}
<h2>{{extra_section.title}}</h2>
{{extra_section.content}}
{% endfor %}
{% endif %}

{% if test_session.active %}
<p><a class="btn-primary btn btn-large" href="/lab/study_session">Take More Tests</a></p>
{% else %}
<p><a class="btn-primary btn btn-large" href="/statistics/{{ test_session.key.id }}">Back to session statistics</a></p>
<!--<p><a class="btn-primary btn-large" href="/session/end">End Test Session</a></p> We probably shouldn't so easily end sessions from here -->
{% endif %}

{% endblock %}
