{% extends "base.html" %}

{% block title %}View session{% endblock %}

{% block content %}

<h1>{% if test_session.experiment %}{{ test_session.experiment.name }}{% else %}{{ test_session.battery_name }}{% endif %} test session</h1>

<h2>Mental variables</h2>

<p>
{{ test_session|session_mental_variables }}
</p>

{% include "finished_tests.html" %}

{% if coming_from == "lab" %}
<p><a class="btn btn-large" href="/lab">Back to lab</a></p>
{% else %}
{% if coming_from == "results" %}
<p><a class="btn btn-large" href="/results">Back to results</a></p>
{% endif %}
{% endif %}
{% endblock %}
