{% extends "paired_associates.html" %}

{% block test_globals %}
{{block.super}}
window.gridRows = {{ test.grid_size }};
window.gridCols = {{ test.grid_size }};
{% endblock %}

{% block instructions %}
Memorize the images and their locations, and later recall the locations based on the images.
{% endblock %}

{% block test_content %}
{{block.super}}

<div id="stimulus"></div>
<div id="cue"></div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/base.js"></script>
<script src="/static/js/tests/visuospatial_paired_associates.js"></script>
{% endblock %}
