{% extends "tests/timed_stimulus_response.html" %}

{% block test_globals %}
{% if test.image_set %}
window.imageSet = "{{ test.image_set }}";
window.allowSequences = {% if test.allow_sequences %}true{% else %}false{% endif %};
{% endif %}
{{block.super}}
{% endblock %}

{% block instructions %}
Match the symbols to the corresponding codes by pressing the keys. You can use the a-l keyboard row instead of 1-9 if you prefer.
{% endblock %}

{% block test_content %}
{{block.super}}
<div id="coding_key">
<table class="table" border="1">
<tr id="coding_key">
</tr>
<tr>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
</tr>
</table>
</div>
<div id="current_symbol">
  <img src="/static/images/bts/bt_000.png" height="64" width="64">
</div>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
{{block.super}}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/coding.js"></script>
{% endblock %}
