{% extends "tests/level_estimation.html" %}

{% block test_globals %}
{{block.super}}
window.nRows = {{ test.grid_size }};
window.nCols = {{ test.grid_size }};
window.maskRepeats = {{ test.mask_repeats }};
window.maskRepeatTime = {{ test.mask_repeat_time }};
window.stimulusDisplayTime = {{ test.stimulus_display_time }};
{% endblock %}

{% block instructions %}
Try to remember the design of spaces in the grid, then click them in the same pattern.
{% endblock %}


{% block test_content %}
{{block.super}}
<div id="stimulus"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/design_copy.js"></script>
{% endblock %}
