{% extends "tests/timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.gridRows = {{ test.grid_size }};
window.gridCols = {{ test.grid_size }};
window.minTrialsPerLevel = {{ test.min_trials_per_level }};
window.minLevel = {{ test.min_level }};
window.maxLevel = {{ test.max_level }};
{% endblock %}

{% block instructions %}
Press ← if the two grids are different, and → if they match.
{% endblock %}

{% block test_content %}
{{block.super}}
<table class="table"><tr><td><span id="stimulus_left"></span></td><td><span id="stimulus_right"></span></td></tr></table>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
{{block.super}}
Number of items: <span id="feature_match_items"></span>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/feature_match.js"></script>
{% endblock %}
