{% extends "tests/multi_trial.html" %}

{% block test_globals %}
{{block.super}}
window.trialDuration = {{ test.trial_duration }};
window.pauseDuration = {{ test.pause_duration }};
window.maxTrials = {{ test.num_trials }};
{% endblock %}

{% block instructions %}
Press &lt;space&gt; as quickly as you can. There are four trials of ten seconds each, switching hands each trial.
{% endblock %}


{% block test_content %}
<div class="hand_indicator">Use your <strong>...</strong> hand.</div>
<div class="tap_indicator">&lt;space bar&gt;</div>
{% endblock %}


{% block key_statistics %}
<div class="prepare_yourself hidden">Press space to start the trial.</div>
<div class="between_trials hidden">Okay, switch hands...</div>
<div class="tap_count hidden"><span>0</span> taps</div>
<div class="time_left hidden"><span>10</span> seconds left</div>
{% endblock %}


{% block statistics %}
{{block.super}}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/finger_tapping.js"></script>
{% endblock %}
