{% extends "templates/base.html" %}

{% block title %}Tests{% endblock %}

{% block content %}

See: <a href="{{ host_url }}/battery/all">main battery</a>

{# <red>This page will be taken away once we have all of the tests showing up in batteries</red> #}
{#  #}
{# <h1>List of Tests</h1> #}
{#  #}
{# <ul> #}
{#   {% for test, name in tests %} #}
{#   <li><a href="/tests/{{test}}">{{name}}</a></li> #}
{#   {% endfor %} #}
{# </ul> #}
{% endblock %}
