{% extends "tests/level_estimation.html" %}

{% block test_globals %}
{{block.super}}
window.decLambda = {{ test.dec_lambda }};
window.incDelta = {{ test.inc_delta }};
{% endblock %}

{% block instructions %}
Press ← if the left line was longer, → if the right was longer.<br/>
<span class="secondary_note">Inspect quickly--a mask will appear after a split second.</span>
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus"></div>

<div id="inspection_time_stimulus_1">
  <img src="/static/images/tests/inspection_time/it1.png">
</div>
<div id="inspection_time_stimulus_2">
  <img src="/static/images/tests/inspection_time/it2.png">
</div>
<div id="inspection_time_stimulus_mask">
  <img src="/static/images/tests/inspection_time/itmask.png">
</div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/inspection_time.js"></script>
{% endblock %}
