{% extends "tests/k_n_back.html" %}

{% block test_globals %}
{{block.super}}
window.gridSize = {{ test.grid_size }};
window.letters = '{{ test.letters }}';
window.maxTrials = {{ test.n_trials }};
window.auditoryTargets = {{ test.auditory_targets }};
window.visualTargets = {{ test.visual_targets }};
window.audiovisualTargets = {{ test.audiovisual_targets }};
{% endblock %}

{% block instructions %}
Press A if the stimulus is in the same position as n trials ago. Press L if the stimulus is the same letter (audio) as n trials ago.
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/jaeggi_dual_n_back.js"></script>
{% endblock %}
