{% extends "tests/design_recognition.html" %}

{% block test_globals %}
{{block.super}}
window.isConnected = {% if test.is_connected %}true{% else %}false{% endif %};
window.MentalRotationTimeLimit = {{ test.time_limit }};
{% endblock %}

{% block style_block %}
{{block.super}}
<link href="/static/styles/tests/design_recognition.css" rel="stylesheet">
{% endblock %}


{% block instructions %}
Press 1-4 to pick the design that corresponds to the design at top, rotated.
{% endblock %}


{% block test_content %}
<div id="countdown_timer"></div>
{{block.super}}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/mental_rotation.js"></script>
{% endblock %}
