{% extends "tests/level_estimation.html" %}

{% block test_globals %}
{{block.super}}
window.onTime = {{ test.on_time }};
window.offTime = {{ test.off_time }};
{% endblock %}

{% block instructions %}
Memorize the pairs, and later recall the associates based on the cues.
{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/base.js"></script>
<script src="/static/js/tests/paired_associates.js"></script>
{% endblock %}

