{% extends "k_n_back.html" %}

{% block test_globals %}
{{block.super}}
window.nStimuli = {{ test.n_stimuli }};
window.pIdentical = {{ test.p_identical }};
{% endblock %}

{% block instructions %}
{{block.super}}
{% endblock %}


{% block test_content %}
{{block.super}}

<div id="stimulus"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/simple_n_back.js"></script>
{% endblock %}
