{% extends "tests/span.html" %}

{% block test_globals %}
{{block.super}}
window.nRows = {{ test.grid_size }};
window.nCols = {{ test.grid_size }};
{% endblock %}

{% block instructions %}
Try to remember the sequence of spaces in the grid, then click them in the same sequence{% if test.is_backward %}, but backwards{% endif %}.
{% endblock %}


{% block test_content %}
{{block.super}}
<div id="stimulus"></div>
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/spatial_span.js"></script>
{% endblock %}
