{% extends "tests/test.html" %}

{% block test_globals %}
{{block.super}}
{% if test.on_time %}
window.testPart = 0;
window.pairOnTime = {{ test.on_time }};
{% else %}
window.testPart = 1;
{% endif %}
{% if test.off_time %}
window.pairOffTime = {{ test.off_time }};
{% endif %}
window.wordPairs = new Array();
{{ state.word_pairs_as_javascript|safe }}
{% endblock %}

{% block instructions %}
Memorize the word pairs, and later recall the associates based on the cues.
{% endblock %}

{% block test_content %}
{{block.super}}

<div id="stimulus1"></div>
<div id="stimulus2"></div>
<div id="associate_input_form">
</div>

{% endblock %}

{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/base.js"></script>
<script src="/static/js/tests/verbal_paired_associates.js"></script>
{% endblock %}
