{% extends "tests/timed_stimulus_response.html" %}

{% block test_globals %}
{{block.super}}
window.ruleChangeProbability = {{ test.rule_change_probability }};
window.maxTrials = {{ test.num_trials }};
{% endblock %}

{% block instructions %}
Press 1-4 to match the bottom card shown to cards 1-4 based on the rule (shape, color or number).
{% endblock %}

{% block test_content %}
{{block.super}}
<div id="prototype_stimuli">
  <div class="sorting_stimulus">
    <div class="stimulus_number">1</div>
    <img src="/static/images/tests/sorting/RedCircle1.png">
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">2</div>
    <img src="/static/images/tests/sorting/GreenStar2.png">
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">3</div>
    <img src="/static/images/tests/sorting/BlueSquare3.png">
  </div>
  <div class="sorting_stimulus">
    <div class="stimulus_number">4</div>
    <img src="/static/images/tests/sorting/YellowCross4.png">
  </div>
</div>
<div id="stimulus">
  <img src="/static/images/tests/sorting/RedCircle1.png">
</div>
<h4>Match the <span id="sorting_rule">...</span>.</h4>
{% endblock %}


{% block feedback_message %}{% endblock %}


{% block key_statistics %}
{% endblock %}


{% block footer_script %}
{{block.super}}
<script src="/static/js/tests/sorting.js"></script>
{% endblock %}
