.scroller {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #efefef;
}

form .column label {
    display: inline;
}

form .column h3 {
    text-align: center;
}

form .column input[type="checkbox"].pull-left {
    float: left;
    margin-left: 5px;
}

form .column input[type="checkbox"].pull-right {
    float: right;
    margin-right: 5px;
}

form .column .variable_row {
    text-align: center;
}

#test_list {
    width: 300px;
}

.form-actions {
    text-align: center;
}

.results_graph {
    float: left;
}