/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */

.jumbotron {
  position: relative;
  padding: 40px 0px;
  margin-top: 0px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #1d1d1d; /* Old browsers */
  background-image:url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  height: auto;
  width: auto;
}

.jumbotron h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 8px;
  line-height: 1;
  font-family: 'Proxima Nova', sans-serif;
}

.jumbotron p {
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Lucida Grande', sans-serif;
}

/* to make the text underneat the main h1 to seem a little nicer */
#up {
  font-size: 16px;
  padding-bottom: 0px;
  font-family: 'Lucida Grande', sans-serif;
  font-style: normal;
}

/* make the other icons with text match up with the lab picture that is a little too big */
#paddown {
  padding-top: 24px;
}
.paddown {
  padding-top: 10px;
}

#btndown {
  margin-top:55px;
}

#cog {
  text-align: center;
  letter-spacing: 4px;
  padding-top: 8px;
  padding-bottom: 22px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 22px;
}

#some {
  letter-spacing: 4px;
  padding-top: 8px;
  color: #351300;
  font-family: 'Proxima Nova', sans-serif;
}

#screenshot {
  text-align: center;
  letter-spacing: 0px;
}

.bottombar {
  background-image: url(../img/bottombar.jpg);
  background-repeat: repeat-x;
  height: 164px;
  width: auto;
  margin-top: 20px;
}

.footer {
  background-image: url(../img/footer.jpg);
  background-repeat: repeat-x;
  height: 221px;
}

.footerlink {
  color: #717272;
  font-size: 12px;
}

#tryitnow {
  font-size: 24px;
  color:#ffffff;
  text-align: center;
  padding-top: 35px;
  font-weight: normal;
}

@media (min-width: 767px) {
#btnfix {
  padding:5px, 20px ;
  margin-top: 18px;
  }
}

.backgroundage {
  background-image: url(../img/experiment_back.png);
  background-repeat: repeat-x;
}