.cellOn { background-color: black; }
.cellOff { background-color: white; }
.cellOnHover { background-color: #404040; }
.cellOffHover { background-color: #B0B0B0; }
.cellSequenced { background-color: #808080; }
.cellSequenced2 { background-color: #505050; }
.cellSequenced3 { background-color: #202020; }
.cellSequenced.cellOffHover { background-color: #A0A0A0; }
.cellSequenced2.cellOffHover { background-color: #909090; }
.cellSequenced3.cellOffHover { background-color: #707070; }
.grid_prompt_area { margin-top: 33px; }
.grid_prompt_area div { padding: 5px; }
td.grid_cell { border: 1px solid #DDD; }
.grid_table { margin: 0px auto; border-collapse: collapse; }
.grid_table tbody { border: 2px solid black; }