#nav-bar-bg {background: none;}
#blueprint-wrapper {padding: 0;}
.modern-browsers-only {display: none;}
div#ie6-alert {color: red;font-weight: bold;width: 450px;margin: 0 0 15px 285px;}
div.listing-submit-column {margin: 10px 16px 10px 0;}
a.featured-article {margin: 0 0 0 1px;}
.shadow {display: none;}
#email-dialog-wrapper {padding-top: 30px;margin-bottom: 20px;}
a.featured-article {height: 277px;}
a:hover .hoveronly {display: none;}
div.recently-commented-wrapper {overflow: hidden;}
.compressed-leaderboard {margin: 0 0 0 5px;}
#section-nav-fadeout-top {display: none;}
#ie6-line {width: 632px;height: 1px;border-bottom: 1px solid #c4c4c4;}
input#nav-search-button {width: 90px;}
div#facebook-type-results-wrapper {top: 31px;}
#search-spinner {padding: 3px; float: right;}
.image-and-caption.textile-generated {width: 200px !important;}