/* Main stylesheet */

.container {
    
}
footer {
    text-align: center;
}
form label {
    display: block;
}


.hidden {
    display: none;
}
div.content {
    padding: 10px 20px;
}

.hero-unit h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h1 { 
    margin-top: 30px; 
    margin-bottom:10px;
}

h3, h4, h5, h6 {
    line-height: 36px;
}

h3 {
  font-weight: normal;
}

.hero-unit {
    margin-top: 30px;
}

.right-buttons {
    text-align: right;
}

.test-list {
    background-color: #DCEAF4;
    border-radius: 6px;
    border: 3px solid #DDD;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    padding: 15px;
    margin-bottom: 40px;
    margin-left:30px;
}

.pull-right, .navbar ul.pull-right {
    float: right;
}

.navbar .navbar-inner li a {
    text-rendering: optimizelegibility;
}

.team-photo {
    width: 150px;
    float: left;
    margin-top: 0;
    margin-right: 10px;
    padding-top: 5px;
}

.team-photo.right {
    float: right;
}

strong.test_name {
    font-size: 1.2em;
}

.remove_variable_button {
    cursor: pointer;
}

#mental_states input {
    color: #404040;;
}

.big {
    font-size: 1.5em;
    line-height:24px;
    margin-top:15px;
    margin-bottom:15px;
}

.clearfix {
    *zoom: 1;
    margin-bottom:15px;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* /session/new */

.battery-filter {
    float: right;
    text-align: right;
    background-color: #DCEAF4;
    border-radius: 6px;
    border: 1px solid #DDD;
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    padding: 10px 10px 0 10px;
    margin-top: 20px;
}

/* /session */

#end-session-button {
    margin-bottom: 30px;
}

/* Signup page */

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */

.jumbotron {
  position: relative;
  padding: 40px 0px;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #1d1d1d; /* Old browsers */
  background-image:url(../images/background2.jpg), url(../images/background3.jpg);
  background-position: left, left ;
  background-repeat: no-repeat, repeat-x;
  background-size: auto;
  background-attachment: scroll;
  height: auto;
  width: 100%
}

.jumbotron h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 8px;
  line-height: 1;
  font-family: 'Proxima Nova', sans-serif;
}

.jumbotron p {
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Lucida Grande', sans-serif;
}

.experiment {
  background-image: url(/static/images/experimentbackground.png);
  background-repeat: no-repeat;
  height: 340px;
  padding-top: 10px;
  margin-left: 0px;
}

/* to make the text underneat the main h1 to seem a little nicer */
#up {
  font-size: 16px;
  padding-bottom: 0px;
  font-family: 'Lucida Grande', sans-serif;
  font-style: normal;
}

/* make the other icons with text match up with the lab picture that is a little too big */
.paddown {
  padding-top: 24px;
}

.btndown {
  margin-top:55px;
}

#cog {
  text-align: center;
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 22px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 22px;
}

#some {
  letter-spacing: 4px;
  padding-top: 8px;
  color: #351300;
  font-family: 'Proxima Nova', sans-serif;
}

#screenshot {
  text-align: center;
  letter-spacing: 0px;
}

.bottombar {
  background-image: url(../images/bottombar.jpg);
  background-repeat: repeat-x;
  height: 164px;
  width: auto;
  margin-top: 20px;
}

.footer {
  background-image: url(../images/footer.jpg);
  background-repeat: repeat-x;
  height: auto;
}

.footerlink {
  color: #717272;
  font-size: 12px;
}

#tryitnow {
  font-size: 24px;
  color:#ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
  font-weight: normal;
}

@media (min-width: 767px) {
#btnfix {
  padding:5px, 20px ;
  margin-top: 18px;
  }
}

p.small {
  font-size: 13px;
  text-align:center;
  padding: 0px
}

.exp {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.backgroundage {
  background-image: url(../images/experiment_back.png);
  background-repeat: repeat-x;
}

.expbutton {
  margin-top: 40px;
  margin-left: 10px;
}

.expspan {
  padding-left: 15px;
}

.btnexp {
  margin-left: 5px;
  float: left;
}

.margdown {
  margin-bottom: 40px;
}

.padleft {
  padding-left:18px;
}
