{% if next_step %}

<p>Thank you for your participation! Come back tomorrow.</p>

{% endif %}
{% if not next_step %}

<table><tr><td width="300px"><strong>Halo trial</strong>Welcome to Amol's trial battery for Halo. You will have to complete
this battery twice on different days before you can try it with the stimulation.</td>
<td width="20px"></td>
<td><img src="/static/images/haloimg.jpg"></td></tr></table><br />

<br /><strong>Ready to get started?</strong><br /><br />

{% endif %}
