{% if next_step %}

<p>Thanks for participating.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<h1>Amplify</h1>

<p>Internal use only.</p>

{% endif %}
{% endif %}

