{% if next_step %}

<p><strong>Next step:</strong> tomorrow, or another day, get another
  coffee and take another test session at roughly the same time as
  today. Remember to do the testing approximately 45 minutes after
  drinking your coffee.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Is there really no life before
	coffee?</strong> Here's your chance to find out for yourself,
	and help science. The goal of this experiment is to study in
	detail the effects of the caffeine content of coffee drinks on
	mental performance.
<br /><br /></td>
<td width="20px"></td>
<td><img src="/static/images/coffee.jpg"></td></tr></table><br />

{% endif %}
Participation is easy: get your coffee at Brewed Awakening. Make sure to tell
	the baristas that you are part of the study, and give them your
	number. They will prepare for you regular, half-caf or decaf
	coffee, but you will not know which. 45 minutes after drinking
	your coffee, you will take a series of cognitive tests that
	take about 8 minutes to complete.

</p>

{% else %}
<strong>Ready to get started?</strong><br /><br />

{% endif %}

