{% if next_step %}

<p><strong>Next step:</strong> We look forward to seeing you tomorrow for more coffee and testing fun!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Is it better to be Bulletproof?</strong> Dave Asprey has created a coffee for superior functioning. This 2-week study will test if it's actually better than regular coffee, with or without butter in it.<br /><br /><strong>What to expect!</strong> Your mission is to do a quick, fun set of tests at roughly the same time every day, say with your morning coffee.</td>
<td width="20px"></td>
<td><img src="/static/images/bulletproof.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
<strong>Write this protocol out on your calendar so it's easy to remember:</strong><br />
<table class="table">
  <thead>
    <tr>
      <th width="250px">Date</th>
      <th>Coffee (500 ml)</th>
      <th>Butter? (2 tbsp)</th>
      <th>Quantified Mind Test?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ experiment.start_date|add_days:0|date:"N j, Y" }} - {{ experiment.start_date|add_days:2|date:"N j, Y"  }}</td>
      <td>Any (Bulletproof or not)</td>
      <td>No</td>
      <td>Practice (write "Practice" under "Anything else?")</td>
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:3|date:"N j, Y"  }} - {{ experiment.start_date|add_days:4|date:"N j, Y"  }}</td>
      {% ifequal experiment.my_group "1-A" %}
      <td>Upgraded (Bulletproof)</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "1-B" %}
       <td>Regular (any other coffee)</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "2-A" %}
       <td>Upgraded (Bulletproof)</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "2-B" %}
       <td>Regular (any other coffee)</td>
      <td>No</td>
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      <td>1 hour and 3 hours after coffee</td>
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:5|date:"N j, Y"  }} - {{ experiment.start_date|add_days:6|date:"N j, Y"  }}</td>
     {% ifequal experiment.my_group "1-A" %}
      <td>Regular (any other coffee)</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "1-B" %}
       <td>Upgraded (Bulletproof)</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "2-A" %}
       <td>Regular (any other coffee)</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "2-B" %}
       <td>Upgraded (Bulletproof)</td>
      <td>No</td>
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      <td>1 hour and 3 hours after coffee</td>
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:7|date:"N j, Y"  }} - {{ experiment.start_date|add_days:9|date:"N j, Y"  }}</td>
      <td>Any</td>
      <td>No</td>
      <td>Don't have to</td>
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:10|date:"N j, Y"  }} - {{ experiment.start_date|add_days:11|date:"N j, Y"  }}</td>
      {% ifequal experiment.my_group "1-A" %}
      <td>Upgraded</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "1-B" %}
       <td>Regular</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "2-A" %}
       <td>Upgraded</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "2-B" %}
       <td>Regular</td>
      <td>Yes</td>
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      <td>1 hour and 3 hours after coffee</td>
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:12|date:"N j, Y"  }} - {{ experiment.start_date|add_days:13|date:"N j, Y"  }}</td>
      {% ifequal experiment.my_group "1-A" %}
      <td>Regular</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "1-B" %}
       <td>Upgraded</td>
      <td>No</td>
      {% else %}
      {% ifequal experiment.my_group "2-A" %}
       <td>Regular</td>
      <td>Yes</td>
      {% else %}
      {% ifequal experiment.my_group "2-B" %}
       <td>Upgraded</td>
      <td>Yes</td>
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      {% endifequal %}
      <td>1 hour and 3 hours after coffee</td>
    </tr>
    </tr>
  </tbody>
</table>
{% else %}
{% endif %}

You can get the <a href="http://www.bulletproofexec.com/coffee/" target = "new">coffee here</a> and butter at your supermarket. Grass-fed butter like Kerrygold is best.<br /> Try to follow your schedule as best you can, and if you mess up a day, no worries. <br />Just test anyway and record if it was regular or upgraded coffee, with butter or no butter. <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

