{% if next_step %}

<p><strong>Next step:</strong> We look forward to seeing you tomorrow for more testing fun!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Does butter make you smarter?</strong> Here's your chance to find out for yourself. It's super simple, just take a quick, fun set of tests each day - after eating butter or after eating olive oil, over a period two weeks.
<br /><br /><strong>What to expect!</strong> Your mission, should you choose to accept it, is to test yourself at roughly the same time every day, say an hour after a lunch which includes 4 tablespoons of butter or olive oil. You will be assigned to one week of one and one week of the other.</td>
<td width="20px"></td>
<td><img src="/static/images/butter.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
<strong>Write this protocol out on your calendar so it's easy to remember:</strong><br />
<table class="table">
  <thead>
    <tr>
      <th width="250px">Date</th>
      <th>Butter or Olive oil?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ experiment.start_date|add_days:0|date:"N j, Y" }} - {{ experiment.start_date|add_days:6|date:"N j, Y"  }}</td>
      {% ifequal experiment.my_group "butter_first" %}
      <td>4 tbsp. Butter</td>
      {% else %}
      <td>4 tbsp. Olive oil</td>
      {% endifequal %}
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:7|date:"N j, Y" }} - {{ experiment.start_date|add_days:13|date:"N j, Y"  }}</td>
      {% ifequal experiment.my_group "butter_first" %}
      <td>4 tbsp. Olive oil</td>
      {% else %}
      <td>4 tbsp. Butter</td>
      {% endifequal %}
    </tr>
  </tbody>
</table>
{% else %}
{% endif %}

Try to follow your schedule as best you can, and if you mess up a day, no worries. <br />
Just stay on schedule for the rest of the experiment. <br />

<strong>Ready to get started?</strong><br /><br />

{% endif %}

