{% if next_step %}

<p>Thank you for your participation! Remember to come back tomorrow at
  10:30 for another session.</p>

{% else %}

<p>Caffeine is one of the most widely used drugs in the world, due to it
being highly common in drinks such as coffee, tea, and
soda. L-Theanine is likewise found in tea. Caffeine has been said to
give energy, and caffeinated drinks are marketed this way. L-Theanine
supposedly promotes alpha brain waves, improving focus. The purpose of
this study is to find out how, if at all, taking caffeine and
l-theanine actually affects your thinking.</p>

<p>Important things to remember about this experiment:</p>
<ul>
  <li>Don't take any outside sources of caffeine or l-theanine during the
    study! This includes coffee, tea, energy drinks, and caffeinated soda.</li>
  <li><h1>Instructions will go here, when we finalize them</h1></li>
</ul>

{% endif %}
