{% if next_step %}

<p>Thank you for your participation!</p>

{% endif %}
{% if not next_step %}

<h1>Coffee And Your Brain</h1>

<p>You should only be on this page if you are enrolled in the study "Coffee And Your Brain" at Union College in Schenectady, New York.

<p>If you are in this study, please click below to join the experiment and begin your testing session.</p>

{% endif %}
