{% if next_step %}

<p>Thank you for participation. Please refer to the researchers for
  further instructions.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<h1>Consent form</h1>

Text, text, text.

<h1>Study title</h1>

Text, text, text.

{% endif %}
{% endif %}

