{% if next_step %}

<p>Thank you for your participation! Please refer to the researchers
  for further instructions.</p>

{% else %}

<h1>Directions</h1>

<p>Perform the task as described by the examiner.</p>

{% endif %}
