{% if next_step %}

<p><strong>Next step:</strong> tomorrow, take another test session at the same time as today. 30 minutes before taking the tests, eat 43 grams of chocolate of the opposite kind of what you ate today. If you ate dark chocolate today, eat white chocolate tomorrow, and vice versa.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<h1>The cognitive effects of dark chocolate</h1>

<p>Study description, goals, protocol etc.</p>

{% endif %}

<p>Take the tests at the same time every day. 30 minutes before taking the tests, eat 43 grams of dark or white chocolate. The type of chocolate alternates every time you take the tests.

{% if experiment.my_group %}
{% ifequal experiment.my_group "dark_first" %}
On the first day, eat dark chocolate. On the second day, eat white chocolate, and keep alternating between dark and white.
{% else %}
On the first day, eat white chocolate. On the second day, eat dark chocolate, and keep alternating between white and dark.
{% endifequal %}
{% else %}
If you participate, you will be assigned to one of two groups. One group starts with white chocolate, and the other starts with dark chocolate. Both groups alternate the type of chocolate every day.
{% endif %}
</p>

{% endif %}
