{% if next_step %}

<p>Thank you for participation. Please refer to the researchers for
  further instructions.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<h1>Informed Consent Form</h1>

<p>Please consider this information carefully before deciding whether to participate in this research.<p>

<p><strong>Purpose of the research:</strong> To examine cognitive
  functioning through time.</p>

<p><strong>What you will do in this research:</strong> This study
  consists of two parts.</p>

<ol>
  <li><strong>Introductory session:</strong> Would be an introductory
  meeting with the researcher and the study. You will answer questions
  regarding your attachment orientation, personality traits,
  perception of age, and level of mindfulness. You are allowed to skip
  any question you do not want to answer. You will practice cognitive
  tasks presented as interactive games. This session will take
  approximately one hour.</li>
  <li><strong>Other sessions:</strong> You will answer questions regarding perceptions of yourself and level of mindfulness. You will complete cognitive tasks presented as interactive games.  These sessions will take approximately half an hour.</li>
</ol>

<p><strong>Time required:</strong> The study will take circa three months with meetings on weekly basis. The introductory session will take approximately one hour, and the other sessions will approximately take about half an hour.</p>

<p><strong>Risks:</strong> There are no anticipated risks associated with participating in this study. If you find the experience too tiring, you should withdraw from the study immediately.</p>

<p><strong>Benefits:</strong> At the end of the study, we will provide
  a thorough explanation of the study and of our hypotheses. We will
  describe the potential implications of the results of the study both
  if our hypotheses are supported and if they are disconfirmed. If you
  wish, you can send an e-mail message to Maayan Besnosoff (<a href="mailto:maayan.bes@gmail.com">&lt;maayan.bes&#64;gmail.com&gt;</a>) and we will send you summaries of the overall study results.</p>

<p><strong>Confidentiality:</strong> Your participation in this study will remain confidential, and your identity will not be stored with your data. Your responses will be assigned a code number, and the list connecting your name with this number will be kept in a locked room and will be destroyed once all the data have been collected and analyzed.</p>

<p><strong>Participation and withdrawal:</strong> Your participation in this study is completely voluntary, and you may withdraw at any time without penalty. You may skip any questions you do not wish to answer. You may withdraw by informing the researcher that you no longer wish to participate (no questions will be asked).</p>

<p><strong>Whom to contact about your rights in this research, for
    questions, concerns, suggestions, or complaints that are not being
    addressed by the researcher, or research-related harm:</strong>
    Dr. Sigal Zilcha-Mano, Interdisciplinary Center Herzliya (IDC),
    P.O. Box 167, Herzliya 46150. ISRAEL. E-mail: <a href="mailto:sigalzil@gmail.com">&lt;sigalzil&#64;gmail.com&gt;</a></p>

<p><strong>Agreement:</strong> The nature and purpose of this research
  have been sufficiently explained and I agree to participate in this
  study. I understand that I am free to withdraw at any time without
  incurring any penalty.</p>

<p><strong>Thank you for your participation.</strong></p>

{% endif %}
{% endif %}

