{% if next_step %}

<p><strong>Next step:</strong> Let the study organizer know that you have finished your test session, and you will receive further instructions. Thank you for your participation!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Is sitting too much bad for your brain? </strong> <a href="http://online.wsj.com/article/SB10001424052702303343404577516853567934264.html" target="_blank">Sitting down for more than three hours a day is associated with decreased life expectancy.</a> What are the cognitive effects of sitting versus standing or moving? The purpose of this study is to answer this question.
<br />
<br />
<td width="20px"></td>
<td><img src="/static/images/sitting.jpg"></td></tr></table><br />

{% endif %}

<br />
<p><strong>Instructions</strong></p>
<br />

<p>Before each test, you will be given an optional practice period in which to familiarize yourself with the procedure of the test.  Noise-canceling headphones will be provided to you to prevent any outside noise distraction from influencing test results.</p>

<p>You will then be asked to perform the four tests (verbal learning with replacement, color word, self paced 2-back, and verbal learning 2) under each of the four conditions (sitting, standing, walking on a treadmill, pedaling a stationary bicycle).</p>

<p>Here are the instructions for each of the four tests:</p>

<ul>
<li>
Verbal Learning with Replacement: One at a time, 15 different words will appear on the screen.  After the last word disappears you will be asked to recall and list as many of the words that you remember. Each word that you type in should be separated by pushing the "Enter" key to create a new line.  This task will be performed 3 times.
</li>

<li>
Color Word: The word red, green, or blue will appear on the screen. You will type the first letter of the word that appears on the screen if the task says "Word" or the first letter of the color of that word if the task says "Color". 
</li>

<li>
Self Paced 2-Back: You will be shown a series of images.  You will be asked to compare the current image on the screen to one 2 images ago.  To do this, you will need to remember at all times the last 2 images you have seen.  If the image is different, press the left arrow on the keyboard.  If the image is the same, press the right arrow on the keyboard.
</li>

<li>
Verbal Learning 2: You will be asked to recall and list as many of the
45 words that you remember from the first test, "Verbal Learning with
Replacement." Each word that you type in should be separated by
pushing the "Enter" key to create a new line.
</li>
<br />

{% endif %}

