{% if next_step %}

<p>Thank you for your participation!
  Your secret code is: <strong>secret code goes here</strong>.</p>

{% endif %}
{% if not next_step %}

<h1>Consent form</h1>

<p>I agree to participate in a study on performance during a 20-minute cognitive task. I will be asked to press keys corresponding either to the color of a word or the word itself.</p>

<p>By clicking 'Join' below, I acknowledge that my participation is entirely voluntary and I can discontinue my participation at any time by closing the browser. There are no known risks involved in being in this study beyond those of everyday life. I also understand that my responses are confidential and no information about me will be used in any way that reveals my identity.</p>

<p>Questions about this study can be addressed to any of the following
  researchers: Yoni Donner
  (<a href="mailto:yonid@stanford.edu">yonid@stanford.edu</a>), Brian
  Fabian Crain
  (<a href="mailto:crainbf@gmail.com">crainbf@gmail.com</a>), Anne Hsu
  <a href="mailto:showen@gmail.com">showen@gmail.com</a>).</p>

<h1>Instructions</h1>

<p><strong>I left this text the same as on the other experiment -
    Brian, do you want to fill that out?</strong></p>
<p>This experiment is designed to investigate the way in which people view arguments. In order to complete this experiment, you will be asked to make judgments about the convincingness of arguments. Please indicate your responses in the format requested in each instance.</p>

<p>The dialogues refer to substances that are fictional, but for the purposes of the experiment, please treat them as though they are real in the world of the experiment.</p>

<p>You will first see a series of short questions to answer. You then will see dialogues followed by questions to answer.</p>

<p>The experiment is short (5-10 minutes) so please take the time to read the dialogues carefully, but there is no need for lengthy deliberation in your answer.  Although the dialogues might look very similar, please read them carefully as they are different from each other.</p>

<p>Thanks again for taking part!</p>

{% endif %}
