{% if next_step %}

<p>Thank you for your participation!
  Your secret code is: <strong>hpjnxwhj</strong>.</p>

{% else %}

<h1>Consent form</h1>

<p>I agree to participate in a study on performance during a 20-minute cognitive task. I will be asked to press keys corresponding either to the color of a word or the word itself.</p>

<p>By clicking 'Join' below, I acknowledge that my participation is
  entirely voluntary and I can discontinue my participation at any
  time by closing the browser. There are no known risks involved in
  being in this study beyond those of everyday life. I also understand
  that my responses are confidential and no information about me will
  be used in any way that reveals my identity. I may quit the
  experiment at any time.</p>

<p>Questions about this study can be addressed to any of the following
  researchers from Stanford University, University College London, and Queen Mary University of London: Yoni Donner
  &lt;<a href="mailto:yonid@stanford.edu">yonid&#64;stanford.edu</a>&gt;, Brian
  Fabian Crain &lt;<a href="mailto:fabian.crain.11@ucl.ac.uk">fabian.crain.11&#64;ucl.ac.uk</a>&gt;, Anne Hsu
  &lt;<a href="mailto:anne.hsu@eecs.qmul.ac.uk">anne.hsu&#64;eecs.qmul.ac.uk</a>&gt;.</p>

<h1>Instructions: Color Perception</h1>

<p>This experiment is designed to investigate the way in which people perceive colors. In order to complete this experiment, you will be asked to respond to either the word presented or to the color of that word. Please aim to respond as quickly as possible, while making the least possible amount of errors.</p>

{% endif %}
