{% if next_step %}

<p>Thank you for your participation!</p>
{% comment %}  Your secret code is: <strong>hpjnxwhj</strong>.</p> {% endcomment %}

{% else %}

<h1>This experiment is no longer running</h1>

<p>
Are you looking for <strong>Color-Word Test 2</strong>? If
so, <a href="http://www.quantified-mind.com/experiment/color_word_test2">click
  here</a>.
</p>

{% endif %}
