{% if next_step %}

<p>Thank you for your participation!</p>

{% endif %}
{% if not next_step %}

<p><img src="/static/images/comvita_poster.jpg"></p>

<h1>Comvita Health Campaign 2015</h1>

<p>
  After joining the experiment, please complete exactly <strong>five
  entire sessions before starting to take the Olive Leaf
  Extract</strong>. There are
  two cognitive games which are each approximately 3 minutes
  long. Then click the (take test - green button) on
  a <strong>weekly</strong> basis,
  starting on the day you begin to take the Olive Leaf Extract. Try
  and take the test at the same time and same day every week to limit
  other factors that may influence your results. Good luck and have
  fun!
</p>

<p>If you have any questions, please email
  <a href="mailto:move@gmail.com">&lt;move&#64gmail.com&gt;</a>.

{% endif %}
