{% if next_step %}

<p>Thank you for your participation!
  Please <a href="mailto:yonid@stanford.edu?subject={{ user.username }} completed Color-Word study">contact us</a> in order to get paid.</p>

{% endif %}
{% if not next_step %}

<table><tr><td><img src="/static/images/stanford_logo.png"></td><td><strong>other
	logo can go here</strong></td></tr></table>

<p>Thank you for your interest in our study. This study is a
  collaboration between <strong>your names, affiliations and titles go here</strong> and Stanford researcher Yoni Donner.</p>

<p>Some description goes here.</p>

<p>Requirements, details, etc.</p>

<p>Instructions</p>

<br /><strong>Ready to get started?</strong><br /><br />

{% endif %}
