{% if next_step %}

<p>Thank you for your participation!</p>

{% endif %}
{% if not next_step %}

<p><img src="/static/images/evoslifestyle.jpg"></p>

<p>
  The goal of these cognitive test is to check whether a lifestyle
  intervention has any measurable effect on cognitive
  abilities. Cognitive testing will be carried out through two small
  tests lasting no more than 5 minutes. We will remind you to take
  these tests three times during the 12 week study period at 0 week, 6
  weeks and 12 weeks. The results will help us in understanding the
  effect of lifestyle intervention on your scores. 
</p>

{% endif %}
