{% if next_step %}

<p>Thank you for your participation!</p>

{% else %}

<h1>Instructions: Color Perception</h1>

<p>This experiment is designed to investigate the way in which people perceive colors. In order to complete this experiment, you will be asked to respond to either the word presented or to the color of that word. Please aim to respond as quickly as possible, while making the least possible amount of errors.</p>

{% endif %}
