{% if next_step %}

<p>Thank you for your participation! We look forward to seeing you again tomorrow.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Crossfit is great for your body. Can it also make you smarter?</strong> Here's your chance to find out for yourself, and help promote the benefits of physical activity among Googlers. <br /><br />It's super simple, just do your Crossfit class and two hours after you're done, take a short (8-minute) set of fun cognitive tests.</td>
<td width="20px"></td>
<td><img src="/static/images/google_crossfit_pilot.jpg"></td></tr></table><br />

{% endif %}

<p>Take the tests every workday at 2:30pm for a total of at least 10 separate days. Try to have at least five days after Crossfit class and five "control" days (no class). If you get it all done in two weeks, that's great - if not, don't worry, just take your time until you get at least five Crossfit days and five days with no Crossfit. If 2:30pm doesn't work for you on a specific day, you can do it a bit earlier or a bit later - or just skip the day.</p>

<br />

{% endif %}

