{% if next_step %}

<p><strong>Next step:</strong> Do the same thing another day. :) Please get your coffee and take the tests on at least 3 separate days, and if you can, try to get to 10 days. Thank you for your participation!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Ever wondered how coffee really affects your thinking?</strong> Here's your chance to find out for yourself, and help research at Google. <br /><br />It's super simple, just get your coffee at any of the coffee bars at Google (you'll need to tell the baristas that you're with the Google Coffee Study), and 45 minutes later, take a 15-minute set of fun cognitive tests.</td>
<td width="20px"></td>
<td><img src="/static/images/coffee.jpg"></td></tr></table><br />

{% endif %}

1. Go to any of the Google coffee bars (1220, 1225, CL3, Hangout or the mobile baristas) and tell the baristas you're with the Google Coffee Study. <br /><br />
2. Order your coffee any way you like (espresso, latte, etc.) - note, you will not be told whether you're getting regular or decaf coffee. <br /><br />
3. 45 minutes after drinking your coffee, take the tests. In case you're wondering if 45 minutes should be from the moment you start drinking your coffee or finish drinking it, use the median. :)

{% endif %}

