{% if next_step %}

<p><strong>Next step:</strong> tomorrow, take another test session at the same time as today. Do the testing 45 minutes before or after your coffee - the opposite kind of what you did today. If you tested before your coffee today, test after your coffee tomorrow, and vice versa.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Coffee has been proven in many
	peer reviewed papers to improve your cognitive capabilities,
	but not everyone is the same. How will it affect you?</strong>
      Find out using these quick and fun set of tests each day -
	before your coffee one day, after your coffee on the next day,
	alternating like this for 20 days. Each test is only 5 minutes
	long.
<br /><br /><strong>What to expect!</strong> Your mission, should you choose to accept it, is to test yourself at roughly the same time every day, say with your morning coffee.</td>
<td width="20px"></td>
<td><img src="/static/images/gourmet_focus.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "coffee_first" %}
1. On the first day, drink your coffee, then test 45 minutes later. <br />2. On the second day, take the test before drinking your coffee. Keep alternating like this. 
{% else %}
1. On the first day, take the test first and then drink your coffee. <br />2. On the second day, drink your coffee first and then take the test 45 minutes later. Keep alternating like this.
{% endifequal %}
{% else %}
{% endif %}
</p>

If you mess up a day, no worries! <br />Just test at whatever time and record if it was before or after coffee. <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

