{% if next_step %}

<p>Thank you for your participation! Come back tomorrow.</p>

{% endif %}
{% if not next_step %}

<table><tr><td width="300px"><strong>Halo trial</strong> Welcome to Amol's trial battery for Halo. You will have to complete
this battery twice on different days before you can try it with the stimulation.</td>
<td width="20px"></td>
<td><img src="/static/images/haloimg.png"></td></tr></table><br />

<p>Before you start the test battery, you need to play a game on the web called Canabalt. It&#8217;s free. <a href="http://www.adamatomic.com/canabalt/">Here is the link to Canabalt</a>. Play it five times. Note your score (&#8220;how far you ran?&#8221;) after each run. (<a href="http://www.calculator.com">Here is a calculator.</a>)</p>
<p>Then add up the numbers and the sum is what you put into the first screen of the game.</p>
<p>Apart from that the tests are self-explanatory.</p>

<br /><strong>Ready to get started?</strong><br /><br />

{% endif %}
