{% if next_step %}

<p>Thank you for completing the test session.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<p><a href="http://www.iqmindware.com"><img class="alignnone wp-image-13437 size-full" src="http://www.i3mindware.com/wp-content/uploads/2014/07/self-quantification-brain-training2.png" alt="self-quantification brain training" width="800" height="292" /></a></p>

<h1>IQ Mindware - Increase IQ and Cognitive Capital</h1>

<p>These 7 short tests measure your 'cognitive profile' <a href="http://www.psiprofiler.com/cognitive-tests/" target="_blank">described here</a>. By completing these tests you can compare to your pre- and post-brain training scores on the same tests, to see how your cognitive skills have improved from training.</p>

<p>Ensure that you do some <strong>practice</strong> on each of these tests before taking them - this ensures that your score is more stable.</p>

<p><span style="color: #ff0000;"><em><strong>Please ensure that you remember your login name for Quantified Mind. You will need them for your i3 Mindware app. And ensure that you enter your PsiProfiler code into your i3 app before starting your training!</strong></em></span></p>

<p><a href="http://www.i3mindware.com/wp-content/uploads/2014/07/IQ-Mindware-QM-infographic1.png"><img class="alignnone wp-image-13422 size-full" src="http://www.i3mindware.com/wp-content/uploads/2014/07/IQ-Mindware-QM-infographic1.png" alt="IQ Mindware QM infographic" width="849" height="315" /></a></p>

<p>Have fun!</p>

<p><strong>Mark Ashton Smith, Ph.D</strong></p>

<p>CogPsyLab<p>

{% endif %}
{% endif %}

