{% if next_step %}

<p>Dank u voor uw deelname. Klik <a href="http://ci1.dbnp.org/app/caffeine/test/returnFromTest">hier</a> om terug te gaan naar de TNO webpagine.</p>

{% else %}

{% if not protocol_url %}

<h1>Aanwijzingen</h1>

<p>Klik op de groene knop en log in met het door TNO verstrekte gmail adres en wachtwoord, of als u al bent ingelogd geef aan hoe u zich voelt.</p>

{% endif %}
{% endif %}
