{% if next_step %}

<p><strong>Next step:</strong> consult
{% if experiment.subject_id %}
<a href="http://exp.arfer.net/hazel/landing?survey_code={{experiment.subject_id|urlencode}}">
the schedule</a>
{% else %}
the schedule on the page with your subject ID
(the one you were linked to from Sona)
{% endif %}
to see whether you should test before or after lunch tomorrow.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>How does eating affect your
	thinking?</strong> In this study, you'll take several quick
      mental tests once per day - before lunch on some days, and after lunch on others.
<br />
<br />
<strong>What to expect!</strong> Your mission, should you choose to accept it, is to take the 10-minute battery either immediately before or immediately after eating lunch on each day. The closer your testing time is to your eating time, the better, but any difference <strong>within half an hour</strong> is acceptable. Consult the schedule on the page with your survey code (the one you were linked to from Sona) to see whether you should test before or after lunch each day.

<br />
<br />
<strong>Note:</strong> Although Quantified Mind offers several
experiments, currently only this experiment (Lunch and
Decision-Making) can be taken for Sona credit by Stony Brook students.
<td width="20px"></td>
<td><img src="/static/images/breakfast.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}

{% comment %}
<strong>This is your personal schedule for this experiment:</strong><br />
<table class="table">
  <thead>
    <tr>
      <th width="250px">Date</th>
      <th>Before or after lunch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ experiment.start_date|add_days:0|date:"D, N j, Y" }}</td>
      {% ifequal experiment.my_group "lunch_first" %}
      <td>After</td>
      {% else %}
      <td>Before</td>
      {% endifequal %}
    </tr>
    <tr>
      <td>{{ experiment.start_date|add_days:1|date:"D, N j, Y" }}</td>
      {% ifequal experiment.my_group "lunch_first" %}
      <td>Before</td>
      {% else %}
      <td>After</td>
      {% endifequal %}
    </tr>
  </tbody>
</table>
{% endcomment %}

{% else %}

<br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

{% endif %}

