{% if next_step %}

<p><strong>Next step:</strong> If you just did the &ldquo; before
  &rdquo; test, come back after you meditate (or do another
  activity). If you finish both &ldquo; before &rdquo; and &ldquo;
  after &rdquo; tests, come back tomorrow, and take another test session at roughly the same time as today. Do the testing before and after your meditation or other activity - the opposite kind of what you did today. If you meditated today, do a non-meditation activity tomorrow, and vice versa. If before and after testing is too time-consuming, just testing afterwards is ok.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Is meditation really better for you than other activities?</strong> Here's your chance to find out for yourself. It's super simple, just take a quick, fun set of tests each day - before and after meditating one day, before and after another activity on the next day, alternating like this for 14 days.<br /><br /><strong>What to expect!</strong> Your mission, should you choose to accept it, is to test yourself at roughly the same time every day, say when you wake up in the morning.</td>
<td width="20px"></td>
<td><img src="/static/images/meditation.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "meditate_first" %}
1. On the first day, take the test, then meditate for 10 minutes or more, then take the test again. <br />2. On the second day, take the test, then do a non-meditating activity for the same amount of time as you meditated, then take the test again. Keep alternating like this.
{% else %}
1. On the first day, take the test, then do a non-meditating activity for 10 minutes or more, then take the test again. <br />2. On the second day, take the test, then meditate for the same amount of time as you relaxed, then take the test again. Keep alternating like this.
{% endifequal %}
{% else %}
{% endif %}
</p>

If you mess up a day, no worries! <br />Just test at whatever time and record if it was a meditation or non-meditation day.<br /> (Note: If this is too hard for your schedule, just testing after and not before<br /> meditation/activity is fine.) <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

