{% if next_step %}

<p>Your session is complete. Come back tomorrow.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<h1>MediaX study</h1>

<p>Go!</p>

{% endif %}
{% endif %}

