{% if next_step %}

<p><strong>Next step:</strong> if you have not completed 7 practice
  sessions yet, take another practice session tomorrow. If you just
  finished the final practice session, start the experiment in your
  next workout. If you are in the middle of the experiment, do another
  session during your next workout, and remember to alternate between
  the pre-workout and during-workout conditions.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Lifting weights will make your
	body stronger. Will it also make your mind stronger?</strong>
	Here's your chance to help science find out. In this
	experiment, you will take a quick 5-minute test battery either
	before or during your workout. You will alternate between
	these two conditions, one workout testing before lifting and
	the next workout testing during a rest period between
	sets. Before starting, you will need to complete 7 practice
	sessions to become familiar with the tests.</td>
<td width="20px"></td>
<td><img src="/static/images/brain_weights.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "control_first" %}
On the first session of the actual experiment, take the tests before your
workout. On the second, take them during your workout, and alternate
like this 7 times.
{% else %}
On the first session of the actual experiment, take the tests during your
workout. On the second, take them before your workout, and alternate
like this 7 times.
{% endifequal %}
{% else %}

If you mess up a day, no worries! <br />Just let the study organizers
know, and keep on going. <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}
</p>

{% endif %}

