{% if next_step %}

<p><strong>Next step:</strong> come back in one month, ideally at the same time of day, and do your checkup again.</p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<img src="/static/images/brain_checkup.jpg" class="pull-right" alt="Soylent">

<blockquote>
  <strong>Monitor your mental health with a comprehensive monthly checkup.</strong>
</blockquote>

<p>If you're a health-conscious person, you knows your weight, blood pressure, and other basic physiological markers. But what about your brain? Everyone should be doing this kind of simple cognitive performance monitoring. Your brain is a canary and often is the first place you see signs of changes in health. Tracking this, and keeping an eye out for age-related cognitive decline, is one of the easiest ways you can watch over your health.</p>

<p>In this experiment, you'll pick a day of the month as your cognitive checkup day and do these ten tests over seventeen minutes. Try to take the tests around the same time of day, but don't sweat it. This is a long-term experiment that you should plan to keep doing indefinitely.</p>

{% endif %}
{% endif %}

