{% if next_step %}

<p>Thank you for your participation! Please refer to the researchers
  for further instructions.</p>

{% else %}

<h1>Directions</h1>

<p>Thank you for participating in our study!  You will be taking a
  series of short tests on the computer, which will take about 15
  minutes total.</p>

<p>Please do your best to answer as quickly and accurately as
  possible.</p>

<h1>Schedule</h1>

<p>In the drop down menu which asks, "Which part of the experiment are
  you currently in?" please choose "Practice - Week 1 (5 times)" and
  take the series of tests five times in the first week.
  The purpose of these practice sessions is to
  familiarize you with the tests.  Please note that you will be given
  the option to practice or start the test immediately.  In every case,
  please choose "Take test".</p>

<p>After completing the practice sessions, you will then complete the
  same tests again three times per week over the next three weeks (a
  total of nine more times).  Just as in the practice sessions, please
  choose "Take test" every time.</p>

<p>The day before you start writing in your notebook, please choose
  "Week 2 (three times)" from the drop-down menu and complete the
  tests three times in one sitting, taking as much of a break as you
  need to between sessions in the same day.</p>

<p>A week <i>after</i> you start writing in your notebook, please
  choose "Week 3 (three times)" and take the tests three times in
  one sitting, again taking as much of a break you need between
  sessions, but making sure you complete them on the same day.</p>

<p>Finally, the day <i>after</i> you finish writing in your notebook,
  please choose "Week 4 (three times)" and complete the test three
  more times in one sitting.</p>

<h1>Contact information</h1>

<p>If you have any questions about the tests or about this
  experiment, please call Laura Hsu at <strong>(617) 733-7198</strong>
  or <a href="mailto:hsul@merrimack.edu">&lt;HsuL&#64;merrimack.edu&gt;</a>,
  or contact Yoni Donner
  at <a href="mailto:yonid@stanford.edu">&lt;yonid&#64;stanford.edu&gt;</a>.
  Thanks again for your participation!

{% endif %}
