{% if next_step %}
{% else %}

{% if not protocol_url %}
<p><img style="float: right; margin-left: 20px" src="http://top-nootropics.com/wp-content/uploads/2015/01/top-nootropics1.jpg" alt="nootropics" width="460" height="324" /></p>

<p>Does Qualia, a 42-ingredient stack of brain nutrients and nootropics, have any immediate or near-term effects on your cognitive capabilities?</p>

<p>Let&rsquo;s test it to find out.</p>

{% endif %}
{% endif %}
