{% if next_step %}

<p><strong>Next step:</strong> if you have not completed seven practice
  sessions yet, take another practice session at your convenience. If
  you already finished the practice stage of this experiment, the
  researchers will tell you what to do next. Thanks for participating!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Do night owls really think best
	at 1 am?  Does it really make sense for morning larks to do
	homework before dawn?</strong>
      Here's your chance to find out for yourself.  It's super simple, just
	take a quick, fun set of tests each day - every four hours for
	three days, choosing days on which your activity will be
	similar (they don't need to be consecutive.) We'll correlate
	your results with owl/lark ratings.
</td>
<td width="20px"></td>
<td><img src="/static/images/owl_lark.jpg"></td></tr></table><br />

{% endif %}

<br />
<strong>What to expect!</strong>
Your mission, should you choose to accept it, is to test yourself each of the three days at roughly 8 am, 12 pm, 4 pm, 8 pm, 12 am, and 4:30 am (why 4:30? We're trying not to interrupt your sleep cycles too badly, and this should help, trust us. If it's easier for you to wake up at 4am instead, feel free.) Tell us your heart rate and temperature before you start so we can determine owl/larkness!

<br /> <br />
If you mess up a time, no worries!  Just pick another day to test at
that time only. (Half an hour early or late is still ok!)

{% if experiment.my_group %}
{% else %}

<br />
<strong>Ready to get started?</strong><br /><br />

{% endif %}
</p>

{% endif %}

