{% if next_step %}

<p>Congratulations! You have finished this part of the test.</p>

<p>Only one small thing left to do: please answer a few short demographic questions <a href="https://docs.google.com/forms/d/1Ids37furDpP_fKjEAT0TJNTgmehuzcL0CXsZAuiXJFg/viewform" target="_blank">here</a>. This is completely anonymous.</p>

<p><strong>Important: </strong>For the first question (unique ID) make sure to put in the following: <strong>{{ anon_sess_id }}</strong>. This is required to receive your compensation. Thank you!</p>

<p><a class="btn btn-large btn-success" href="https://docs.google.com/forms/d/1Ids37furDpP_fKjEAT0TJNTgmehuzcL0CXsZAuiXJFg/viewform" target="_blank">Anonymous demographic survey</a></p>

{% endif %}

{% if not next_step %}
{% if not protocol_url %}

<h1>Cognitive tasks</h1>

<p>Thank you for participating in the experiment. You will be asked to take a series of quick and challenging cognitive tasks.</p>

<p>What else do we want to say here?</p>

{% endif %}
{% endif %}

