{% if next_step %}

<p><strong>Next step:</strong> take another test session on a different day at the same time.</p>

{% else %}
{% if not protocol_url %}

<h1>Reaction time</h1>

<p>Study description, goals, protocol etc.</p>

{% if experiment.my_group %}
<h1>Your group is: {{ experiment.my_group }}</h1>
{% endif %}


{% endif %}

<p>Take the tests at the same time every day.</p>

{% endif %}
