{% if next_step %}

<p>Thank you for your participation! Please refer to the researchers
  for further instructions.</p>

{% else %}

<h1>This is a demo</h1>

Please refer to the researchers for further information and
directions. Enjoy the demo!

{% endif %}
