{% if next_step %}

<p>Thank you for your participation! Please refer to the researchers
  for further instructions.</p>

{% else %}

<h1>Directions</h1>

<p>Take these test sessions in the morning. Other instructions can go
  here, anything you want to put in HTML.</p>

<h1>Contact information</h1>

<p>This is an example of something else that can go here.</p>

{% endif %}
