{% if next_step %}

<p><strong>Next step:</strong> if today was a sex day, please test tomorrow at roughly the same time of day. If it was a control day, no need to test again until the next time you have sex. :)</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Ever wondered how sex really affects your thinking?</strong> Here's your chance to find out for yourself. It's simple, just take a quick, fun set of tests on days when you have sex (or masturbate) and some days when you don't, and make sure to enter your gender in <a href="/settings">Settings</a>.<br /><br /><strong>What to expect!</strong> Your mission, should you choose to accept it, is to test yourself after you have sex, ideally within an hour, and on some non-sex days at roughly the same time of day as you did the post-sex test.</td>
<td width="20px"></td>
<td><img src="/static/images/sex.jpg"></td></tr></table><br />

{% endif %}

Super easy! Just test an hour or so after sex or masturbation, and on a non-sex day at the same time as your last test session.<br />Rinse and repeat. And have fun!! <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

