{% if next_step %}

<p><strong>Next step:</strong> tomorrow, take another test session at the same time as today, around 11 am. Do the opposite for breakfast than you did today. If you ate breakfast today, skip it tomorrow, and vice versa. Try to test around 11 am every day, but don't worry if it ends up being a different time.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Is breakfast really as important as experts say it is?</strong> Or is skipping breakfast better for your mind? Here's your chance to find out for yourself. It's super simple, just take a quick, fun set of tests each day - eating breakfast one day, skipping it the next day, alternating like this for 29 days.<br /><br /><strong>What to expect!</strong> Your mission, if you accept it, is to test yourself at roughly the same time every day, 11 am. If you can't make 11 am, it's better to do it at slightly different times than to skip a day.</td>
<td width="20px"></td>
<td><img src="/static/images/breakfast.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "breakfast_first" %}
1. On the first day, eat breakfast, then test at 11 am. <br />2. On the second day, skip breakfast, then test at 11 am. Keep alternating like this.
{% else %}
1. On the first day, skip breakfast, then test at 11 am. <br />2. On the second day, eat breakfast, then test at 11 am. Keep alternating like this.
{% endifequal %}
{% else %}
{% endif %}
</p>

If you mess up a day, no worries! <br />Just test anyway and record if it was a breakfast or no breakfast day. <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

