{% if next_step %}

<p><strong>Next step:</strong> tomorrow, take another test session at the same time as today. Do the testing 45 minutes before or after your coffee - the opposite kind of what you did today. If you tested before your coffee today, test after your coffee tomorrow, and vice versa.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<img src="/static/images/soylent.jpg" class="pull-right" alt="Soylent">

<blockquote>
  <strong>It's a drink that has enough of every essential nutrient the human body needs, is incredibly cheap, and quite tasty.</strong>
</blockquote>

<p>This is how <a href="http://robrhinehart.com/">Rob Rhinehart</a> describes the drink he created, <a href="http://soylent.me/">Soylent</a>. Does Soylent really improve cognitive functions? Test it! In this experiment you will alternate between Soylent and no-Soylent every week, for at least four weeks, while taking daily tests on Quantified Mind--about eight minutes a day. You will also start with one week of practice.</p>

<p><strong>How does the experiment work?</strong> During the first week, you will take daily tests, but this will not be part of the experiment. The goal of this week is to make sure that you are serious about this experiment and that once you start the actual experiment, you will already be past the initial practice effects. Then, for four weeks, you will alternate weekly between drinking Soylent and not drinking it. During those weeks, you will take daily tests.</p>

<p>To reward you for your efforts to help discover the effects of Soylent on cognitive functions, you will receive free Soylent! However, Rob is making this himself right now, so <strong>please <a href="mailto:robrhinehart@ieee.org">contact Rob</a> first</strong> to make sure he still has enough Soylent to provide you after the practice week. How much Soylent you drink is up to you, but try to drink similar amounts each day during the two Soylent weeks.</p>

{% endif %}

<ul>
  <li>
    1. For a whole week, take the tests every day and select "Practice" when asked which part of the experiment you're on.
  </li>

  <li>
    2. When you finished a full week of practice, you will be able to receive your Soylent from <a href="mailto:robrhinehart@ieee.org">Rob</a>.
  </li>

{% if experiment.my_group %}
{% ifequal experiment.my_group "soylent_first" %}

  <li>
    3. On the first week of the actual experiment, drink Soylent, and take the tests at approximately the same time every day. It doesn't have to be exactly the same time, but try to do it right after you drink your first Soylent of the day.
  </li>

  <li>
    4. On the next week, don't drink Soylent, and keep taking the tests at approximately the same time of day.
  </li>

  <li>
    5. Keep alternating like this for two more weeks.
  </li>

</ul>

{% else %}

  <li>
    3. On the first week of the actual experiment, don't drink Soylent. Just take the tests at approximately the same time every day, which would correspond to roughly the time you would start eating or drinking that day. It doesn't have to be exactly the same time, but try not to deviate too much.
  </li>

  <li>
    4. On the next week, drink Soylent, and keep taking the tests at approximately the same time of day.
  </li>

  <li>
    5. Keep alternating like this for two more weeks.
  </li>

</ul>

{% endifequal %}
{% else %}

</ul>

<p>Join the experiment to see the rest of your schedule. <strong>Ready to get started?</strong></p>
{% endif %}

<p>If you mess up a day, no worries! Just test at whatever time and record which part of the experiment you're on.</li>

{% endif %}

