{% if next_step %}

<p><strong>Next step:</strong> Take the test again, before and after dance class, and at the same times on a non-dance day. Keep going for all 8 classes! If before and after testing is too time-consuming, just testing afterwards is ok.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Do you ever wonder if tango affects your brain?</strong> Do you feel more alert and more productive after dancing lessons? Here’s a chance to measure the effect of tango on your mind and feel even better about taking time off for tango lessons. <br /><br />It’s simple and quick - just take 5 minutes to do a couple of fun brain tests up to an hour before and after your tango lesson, and do another couple of sessions on a day of the week when you are not dancing.</td>
<td width="20px"></td>
<td><img src="/static/images/tango.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "dance_first" %}
1. On tango class day, take the test, then go to class, then take the test again within an hour after class. <br />2. On a non-tango class day, take the test twice at the same times as dance day, but without dancing. Keep alternating like this for the 8 weeks of the class, and have fun!
{% else %}
1. On a non-tango class day, take the test twice at different times of day, ideally close to the time of the class, even though you're not dancing. <br />2. On a tango class day, take the test, then go to class, then take the test again within an hour after class. Keep alternating like this for the 8 weeks of the class, and have fun!
{% endifequal %}
{% else %}
{% endif %}
</p>

If you mess up a day, no worries! <br />Just test at whatever time and record if it was a dance or non-dance day.<br /> (Note: If this is too hard for your schedule, just testing after and not before<br /> tango class is fine.) <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

