{% if next_step %}

<p><strong>Next step:</strong> tomorrow, take one or more test sessions at different times of day, or do it one hour earlier or later than today.</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Do you know how your mind functioning changes throughout the day?</strong> Are you smarter in the morning or the afternoon? Here's your chance to find out for yourself so you can plan intelligence-requiring activities for your optimal time of day. It's super simple, just take a quick, fun set of tests at different times each day.<br /><br /><strong>What to expect!</strong> Your mission is to test yourself 50 times over the course of several days, at different times of day to cover all possible awake hours. The tests will be different each day to keep it fun!</td>
<td width="20px"></td>
<td><img src="/static/images/time.jpg"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% ifequal experiment.my_group "increasing_first" %}
Option 1. Test as many times a day as you like. The more the better! <br />
Option 2. For an extra challenge, test one hour later each day, and when you get to testing at bedtime, start testing one hour earlier each day until you get to wakeup time, then go later again. Keep alternating like this until you finish the experiment.
{% else %}
Option 1. Test as many times a day as you like. The more the better! <br />
Option 2. For an extra challenge, test one hour earlier each day, and when you get to testing at wakeup time, start testing one hour later each day until you get to bedtime, then go earlier again. Keep alternating like this until you finish the experiment.
{% endifequal %}
{% else %}
{% endif %}
</p>

If you mess up a day, no worries! <br />If the hourly counting is too complicated, just test anytime. <br /><strong>Ready to get started?</strong><br /><br />

{% endif %}

