{% if next_step %}

<p><strong>Next step:</strong> if you have not completed 10 practice
  sessions yet, take another practice session at your convenience. If
  you already finished the practice stage of this experiment, the
  researchers will tell you what to do next. Thanks for participating!</p>

{% endif %}
{% if not next_step %}
{% if not protocol_url %}

<table><tr><td width="300px"><strong>Predict cognitive functions
	using wearable EEG.</strong>
      In this experiment, we associate between cognitive functions
	related to ADHD - attention and working memory - and brain activity as
	measured by EEG. As a participant, you will take 10-minute
	test sessions multiple times while wearing the EEG decide.
      Before starting, you will need to complete 10 practice
	sessions to become familiar with the tests.</td>
<td width="20px"></td>
<td><img src="http://www.emotiv.com/upload/media/4_big.jpg" width="50%"></td></tr></table><br />

{% endif %}

{% if experiment.my_group %}
{% else %}

<strong>Ready to get started?</strong><br /><br />

{% endif %}
</p>

{% endif %}

