{% if next_step %}

<p>Thank you for your participation! Please <a href="mailto:yonid@stanford.edu?subject={{ user.username }} completed structure-behavior study">contact us</a> in order to get paid.</p>

{% endif %}
{% if not next_step %}

<table><tr><td><img src="/static/images/stanford_logo.png"></td><td><img src="/static/images/ucl_logo.png"></td></tr></table>

<p>Thank you for your interest in our study. This study is a collaboration between UCL researcher Dr. Ryota Kanai and Stanford researchers Prof. Stephen Kosslyn and Yoni Donner.</p>

<p>In this study, we examine the relationship between structural brain scans and behavior measurements (cognitive tests). You are eligible to participate since you have participated in earlier studies by Dr. Kanai.</p>

<p>Participation in this study involves completing a battery of cognitive tests on this site (Quantified Mind). The full battery takes about 20 minutes of your time. Please make sure to free at least 30 minutes with no interruptions before starting, and complete the tests in one sitting. If you delay too long, your test session will time out and you will have to restart it. In return for your participation you will be compensated as explained in the invitation email.</p>

<p>Please make sure to practice each test (using the blue &ldquo;practice&rdquo; button) before taking the actual test (using the green &ldquo;Take tests&rdquo; button). You may practice as many times as you like: please do it sufficiently to feel at ease with the instructions and the keys for the test.</p>

<p>Most of the tests will only show you a score of 100: that is fine. If you take them several times, you will see different numbers, but this is not part of the current study.</p>

<br /><strong>Ready to get started?</strong><br /><br />

{% endif %}
