{% if next_step %}

<p>Thank you for your participation!</p>

{% endif %}
{% if not next_step %}

<h1>Moved</h1>

<p>This experiment has moved:
  click <a href="/experiment/coffee_and_your_brain">here</a> for the
  new experiment.</p>

{% endif %}
